Repository traefik/traefik, pull requests merged in 2018-05, with the labels that each got.

#3267 fix: 1.6 change log.
  CHANGELOG.md
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3279 Fix wrong tag in forward span in tracing middleware
  middlewares/tracing/forwarder.go
Labels: area/middleware, area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#3261 Changed "is could" to should
  README.md
  docs/index.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#3294 Add Documentation update for Kubernetes Ingress
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3290 Enhance entry point TLS CLI reference.
  configuration/entrypoints_test.go
  docs/configuration/entrypoints.md
Labels: area/documentation, area/tls, kind/enhancement, size/S, status/3-needs-merge

#3291 Add missing deprecation info in CLI help.
  acme/acme.go
  configuration/configuration.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3317 Fix segment backend name
  docs/configuration/backends/docker.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/rancher.md
  provider/docker/config.go
  provider/docker/config_segment_test.go
  provider/docker/deprecated_service.go
  provider/docker/deprecated_service_test.go
  provider/label/label.go
  provider/label/names.go
  provider/rancher/config.go
Labels: area/provider/docker, area/provider/marathon, area/provider/rancher, kind/bug/fix, size/S, status/3-needs-merge

#3314 Error when accesslog and error pages
  middlewares/accesslog/logger.go
  middlewares/accesslog/save_backend.go
  middlewares/errorpages/error_pages.go
Labels: area/logs, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3246 Add SSLForceHost support.
  Gopkg.lock
  autogen/gentemplates/gen.go
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  middlewares/headers.go
  provider/consulcatalog/config_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/ecs/config_test.go
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  provider/marathon/config_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
  vendor/github.com/unrolled/secure/secure.go
Labels: area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/file, area/provider/k8s, area/provider/kv, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/enhancement, size/L, status/3-needs-merge

#3315 Override health check scheme
  autogen/gentemplates/gen.go
  docs/basics.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/file.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  healthcheck/healthcheck.go
  healthcheck/healthcheck_test.go
  provider/consulcatalog/config_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/ecs/config_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  provider/marathon/config_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  server/server.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
Labels: area/healthcheck, area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/kv, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/enhancement, size/M, status/3-needs-merge

#3323 Prepare release v1.6.1
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3327 Add some missing elements in the WebUI
  webui/src/app/components/providers/providers.component.html
Labels: area/webui, kind/enhancement, size/S, status/3-needs-merge

#3329 fix: acme errors management.
  Gopkg.lock
  acme/acme.go
  provider/acme/provider.go
  vendor/github.com/xenolf/lego/acmev2/client.go
  vendor/github.com/xenolf/lego/acmev2/error.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3332 Add redirect-permanent to kubernetes template
  autogen/gentemplates/gen.go
  templates/kubernetes.tmpl
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3333 Route rules overlaps in UI
  webui/src/app/components/providers/providers.component.html
  webui/src/styles/app.sass
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#3331 Update docs to reflect Provider wording
  docs/configuration/backends/boltdb.md
  docs/configuration/backends/consul.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/dynamodb.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/etcd.md
  docs/configuration/backends/eureka.md
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/backends/rest.md
  docs/configuration/backends/servicefabric.md
  docs/configuration/backends/web.md
  docs/configuration/backends/zookeeper.md
  docs/configuration/commons.md
  docs/configuration/tracing.md
  docs/index.md
  docs/user-guide/docker-and-lets-encrypt.md
  docs/user-guide/kv-config.md
  docs/user-guide/swarm-mode.md
  docs/user-guide/swarm.md
  mkdocs.yml
Labels: area/documentation, area/provider, size/M

#3335 Update docs to match SF provider labels
  docs/configuration/backends/servicefabric.md
Labels: area/documentation, area/provider/servicefabric, kind/enhancement, size/S, status/3-needs-merge

#3202 Enable to override certificates in key-value store when using storeconfig
  acme/acme.go
  cmd/storeconfig/storeconfig.go
  docs/configuration/acme.md
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#3340 Fix contributing guide link in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#3231 Mapping ExternalNames to custom ports
  provider/kubernetes/builder_service_test.go
  provider/kubernetes/kubernetes.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3324 Enable Ingress Status updates
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/builder_service_test.go
  provider/kubernetes/client.go
  provider/kubernetes/client_mock_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/M, status/3-needs-merge

#3337 Fix error pages content.
  middlewares/errorpages/error_pages.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3344 Removes ambiguity with the word 'default'
  docs/user-guide/docker-and-lets-encrypt.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#3346 Add command for basic auth with Docker Compose
  docs/configuration/backends/docker.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#3274 Add basicAuth example for KV
  docs/user-guide/kv-config.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#3339 Update caServer to letsencrypt one in examples
  docs/user-guide/examples.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#3350 Modify tests to only run if non-static files have been modified
  .semaphoreci/cleanup.sh
  .semaphoreci/job1.sh
  .semaphoreci/job2.sh
  .semaphoreci/setup.sh
  .semaphoreci/tests.sh
Labels: area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#3361 Enhance Load-balancing method validation log.
  server/server.go
  types/types.go
Labels: area/logs, kind/bug/fix, size/S, status/3-needs-merge

#3362 Support all 2xx HTTP status code for health check.
  docs/basics.md
  healthcheck/healthcheck.go
  healthcheck/healthcheck_test.go
Labels: area/healthcheck, kind/enhancement, size/S, status/3-needs-merge

#3347 No template parsing on traefik configuration file
  configuration/configuration.go
  configuration/configuration_test.go
  provider/file/file.go
  provider/file/file_test.go
  provider/provider.go
Labels: area/provider/file, kind/bug/fix, size/L, status/3-needs-merge

#3363 WebUI typo into the buffering section.
  docs/img/traefik-health.png
  docs/img/web.frontend.png
  webui/package.json
  webui/src/app/charts/bar-chart/bar-chart.component.ts
  webui/src/app/components/providers/providers.component.html
  webui/yarn.lock
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#3352 Use index-based syntax in KV tests.
  provider/kv/filler_test.go
  provider/kv/kv_config_test.go
Labels: area/provider/kv, kind/enhancement, size/S, status/3-needs-merge

#3358 Force to use ACME v02 endpoint.
  configuration/configuration.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3367 Merge v1.6.2 into master
  CHANGELOG.md
  Gopkg.lock
  acme/acme.go
  autogen/gentemplates/gen.go
  configuration/configuration.go
  configuration/configuration_test.go
  docs/configuration/backends/boltdb.md
  docs/configuration/backends/consul.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/dynamodb.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/etcd.md
  docs/configuration/backends/eureka.md
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/backends/rest.md
  docs/configuration/backends/servicefabric.md
  docs/configuration/backends/web.md
  docs/configuration/backends/zookeeper.md
  docs/configuration/commons.md
  docs/configuration/tracing.md
  docs/img/traefik-health.png
  docs/img/web.frontend.png
  docs/index.md
  docs/user-guide/docker-and-lets-encrypt.md
  docs/user-guide/examples.md
  docs/user-guide/kv-config.md
  docs/user-guide/swarm-mode.md
  docs/user-guide/swarm.md
  middlewares/errorpages/error_pages.go
  mkdocs.yml
  provider/acme/provider.go
  provider/file/file.go
  provider/file/file_test.go
  provider/provider.go
  server/server.go
  templates/kubernetes.tmpl
  types/types.go
  vendor/github.com/xenolf/lego/acmev2/client.go
  vendor/github.com/xenolf/lego/acmev2/error.go
  webui/package.json
  webui/src/app/charts/bar-chart/bar-chart.component.ts
  webui/src/app/components/providers/providers.component.html
  webui/src/styles/app.sass
  webui/yarn.lock
Labels: size/L

#3286 sane default and configurable Marathon request timeouts
  cmd/configuration.go
  docs/configuration/backends/marathon.md
  provider/marathon/marathon.go
Labels: area/provider/marathon, kind/enhancement, size/S, status/3-needs-merge

#3373 Add missing quotes.
  .semaphoreci/setup.sh
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3152 Make accesslogs.logTheRoundTrip async to get lost performance
  docs/configuration/logs.md
  middlewares/accesslog/logger.go
  middlewares/accesslog/logger_test.go
  types/logs.go
Labels: area/logs, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#3371 Implement h2c with backend
  docs/basics.md
  docs/img/grpc.svg
  docs/user-guide/grpc.md
  integration/fixtures/grpc/config_h2c.toml
  integration/grpc_test.go
  server/server.go
Labels: kind/enhancement, size/M, status/3-needs-merge

#3386 Generated assets file are only mandatory in main
  api/dashboard.go
  api/handler.go
  cmd/traefik/traefik.go
Labels: kind/enhancement, size/S, status/3-needs-merge

#3368 Update Kubernetes Port Documentation
  docs/user-guide/kubernetes.md
  examples/k8s/traefik-deployment.yaml
  examples/k8s/traefik-ds.yaml
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3389 Remove ACME empty certificates from KV store
  acme/account.go
  acme/acme_test.go
Labels: area/acme, area/cluster, kind/bug/fix, size/L, status/3-needs-merge

#3398 Improve ACME account registration URI management
  acme/account.go
  acme/acme.go
  acme/localStore.go
  cmd/storeconfig/storeconfig.go
  provider/acme/local_store.go
  provider/acme/provider.go
Labels: area/acme, area/cluster, kind/bug/fix, size/S, status/3-needs-merge

#3394 Error pages and header merge
  middlewares/errorpages/error_pages.go
  middlewares/errorpages/error_pages_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3379 AWS ECS Fargate
  Gopkg.lock
  Gopkg.toml
  provider/ecs/config.go
  provider/ecs/config_test.go
  provider/ecs/deprecated_config.go
  provider/ecs/deprecated_config_test.go
  provider/ecs/ecs.go
  vendor/github.com/aws/aws-sdk-go/aws/client/client.go
  vendor/github.com/aws/aws-sdk-go/aws/client/default_retryer.go
  vendor/github.com/aws/aws-sdk-go/aws/config.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/user_agent.go
  vendor/github.com/aws/aws-sdk-go/aws/defaults/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/service.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/decode.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/endpoints.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/v3model.go
  vendor/github.com/aws/aws-sdk-go/aws/request/offset_reader.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/signer/v4/v4.go
  vendor/github.com/aws/aws-sdk-go/aws/types.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkio/io_go1.6.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkio/io_go1.7.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/ec2query/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/query/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/xml/xmlutil/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/api.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/dynamodbiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/errors.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/api.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/errors.go
  vendor/github.com/aws/aws-sdk-go/service/route53/api.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
Labels: area/provider/ecs, kind/enhancement, size/M, status/3-needs-merge

#3391 Metrics: Add support for InfluxDB Database / RetentionPolicy and HTTP client
  cmd/configuration.go
  docs/configuration/backends/web.md
  docs/configuration/metrics.md
  metrics/influxdb.go
  metrics/influxdb_test.go
  types/types.go
Labels: area/middleware/metrics, kind/enhancement, size/M, status/3-needs-merge

#3405 Update acme.md
  docs/configuration/acme.md
Labels: area/acme, area/documentation, bot/light-review, size/S, status/3-needs-merge

#3412 Webui Whitelist overflow.
  webui/src/app/components/providers/providers.component.html
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#3392 helm installation using values
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge
