Repository traefik/traefik, pull requests merged in 2018-11, with the labels that each got.

#4135 Support canary weight for external name service
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
  provider/kubernetes/weight_allocator.go
  provider/kubernetes/weight_allocator_test.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#4156 Documentation: Rename "admin panel" to "dashboard
  docs/configuration/api.md
  docs/configuration/ping.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4169 Fix spelling in comment
  examples/quickstart/docker-compose.yml
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#4185 Verify ctx when we send configuration message in docker provider
  provider/docker/docker.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#4036 Remove X-Forwarded-Uri and X-Forwarded-Method from untrusted IP
  server/header_rewriter.go
  server/header_rewriter_test.go
Labels: area/authentication, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4171 frame-deny should be set to true to enable the header
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#4170 Include an explicit list of kubernetes protocol annotations in docs.
  README.md
  docs/basics.md
  docs/configuration/acme.md
  docs/configuration/backends/kubernetes.md
  docs/index.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#4189 Upgraded DD APM library
  Gopkg.lock
  Gopkg.toml
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/ddtrace.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/ext/app_types.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/ext/db.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/ext/peer.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/ext/tags.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/internal/globaltracer.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/option.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/span.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/span_msgp.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/textmap.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/tracer.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/transport.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/util.go
Labels: area/middleware/metrics, kind/bug/fix, size/S, status/3-needs-merge

#4188 Query params in health check
  healthcheck/healthcheck.go
  healthcheck/healthcheck_test.go
Labels: area/healthcheck, kind/bug/fix, size/S, status/3-needs-merge

#4194 Clarify swarm loadbalancer documentation
  docs/configuration/backends/docker.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#4201 fix: ACME spec and Cloudflare.
  Gopkg.lock
  docs/configuration/acme.md
  integration/resources/compose/pebble.yml
  vendor/github.com/fatih/structs/LICENSE
  vendor/github.com/fatih/structs/field.go
  vendor/github.com/fatih/structs/structs.go
  vendor/github.com/fatih/structs/tags.go
  vendor/github.com/kolo/xmlrpc/LICENSE
  vendor/github.com/kolo/xmlrpc/client.go
  vendor/github.com/kolo/xmlrpc/decoder.go
  vendor/github.com/kolo/xmlrpc/encoder.go
  vendor/github.com/kolo/xmlrpc/request.go
  vendor/github.com/kolo/xmlrpc/response.go
  vendor/github.com/kolo/xmlrpc/xmlrpc.go
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/github.com/smueller18/goinwx/LICENSE
  vendor/github.com/smueller18/goinwx/account.go
  vendor/github.com/smueller18/goinwx/contact.go
  vendor/github.com/smueller18/goinwx/domain.go
  vendor/github.com/smueller18/goinwx/goinwx.go
  vendor/github.com/smueller18/goinwx/nameserver.go
  vendor/github.com/transip/gotransip/LICENSE
  vendor/github.com/transip/gotransip/api.go
  vendor/github.com/transip/gotransip/client.go
  vendor/github.com/transip/gotransip/domain/api.go
  vendor/github.com/transip/gotransip/domain/domain.go
  vendor/github.com/transip/gotransip/sign.go
  vendor/github.com/transip/gotransip/soap.go
  vendor/github.com/transip/gotransip/util/util.go
  vendor/github.com/xenolf/lego/acme/client.go
  vendor/github.com/xenolf/lego/acme/http.go
  vendor/github.com/xenolf/lego/acme/tls_alpn_challenge.go
  vendor/github.com/xenolf/lego/providers/dns/cloudflare/cloudflare.go
  vendor/github.com/xenolf/lego/providers/dns/conoha/client.go
  vendor/github.com/xenolf/lego/providers/dns/conoha/conoha.go
  vendor/github.com/xenolf/lego/providers/dns/dns_providers.go
  vendor/github.com/xenolf/lego/providers/dns/httpreq/httpreq.go
  vendor/github.com/xenolf/lego/providers/dns/inwx/inwx.go
  vendor/github.com/xenolf/lego/providers/dns/mydnsjp/mydnsjp.go
  vendor/github.com/xenolf/lego/providers/dns/selectel/client.go
  vendor/github.com/xenolf/lego/providers/dns/selectel/selectel.go
  vendor/github.com/xenolf/lego/providers/dns/transip/transip.go
  vendor/github.com/xenolf/lego/providers/dns/vscale/client.go
  vendor/github.com/xenolf/lego/providers/dns/vscale/vscale.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4208 Update swarm mode endpoint
  docs/configuration/backends/docker.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4212 Fix partial declaration of authentication.
  provider/label/partial.go
  provider/label/partial_test.go
Labels: area/authentication, kind/bug/fix, size/S, status/3-needs-merge

#4132 Implement Case-insensitive SNI matching
  integration/fixtures/https/https_sni_case_insensitive_dynamic.toml
  integration/fixtures/https/https_sni_case_insensitive_static.toml
  integration/fixtures/https/uppercase_wildcard.www.snitest.com.cert
  integration/fixtures/https/uppercase_wildcard.www.snitest.com.key
  integration/https_test.go
  server/server.go
  tls/certificate.go
  tls/certificate_store_test.go
Labels: area/tls, kind/bug/fix, size/M, status/3-needs-merge

#4229 Cherry pick v1.7 into master
  docs/configuration/backends/docker.md
Labels: bot/light-review, bot/merge-method-rebase, size/S, status/3-needs-merge

#4230 Log configuration errors from providers and keeps listening
  server/server.go
Labels: area/provider, area/server, kind/bug/fix, size/S, status/3-needs-merge

#4225 Add a "Security Consideration" section in the Docker's backend section of the documentation
  docs/configuration/backends/docker.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4105 [docker backend] - Add config flag to set refreshSeconds for swarmmode ticker
  cmd/configuration.go
  docs/configuration/backends/docker.md
  provider/docker/docker.go
Labels: area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4244 Matcher associativity rule.
  docs/basics.md
Labels: area/documentation, area/rules, kind/enhancement, size/S, status/3-needs-merge

#4258 Fix unannonced trailers problem when body is empty
  Gopkg.lock
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: area/oxy, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge
