Repository traefik/traefik, pull requests merged in 2018-02, with the labels that each got.

#2834 Explain how to write entrypoints definition in a compose file
  docs/configuration/entrypoints.md
  docs/user-guide/cluster-docker-consul.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#2838 Continue refresh the configuration after a failure.
  provider/eureka/eureka.go
Labels: area/provider/eureka, kind/bug/fix, size/S, status/3-needs-merge

#2841 Prepare release v1.5.2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#2845 Update Staert.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/containous/staert/kv.go
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#2847 Logger and Leaks
  Gopkg.lock
  server/server.go
  vendor/github.com/vulcand/oxy/buffer/buffer.go
  vendor/github.com/vulcand/oxy/cbreaker/cbreaker.go
  vendor/github.com/vulcand/oxy/cbreaker/effect.go
  vendor/github.com/vulcand/oxy/cbreaker/ratio.go
  vendor/github.com/vulcand/oxy/connlimit/connlimit.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
  vendor/github.com/vulcand/oxy/ratelimit/tokenlimiter.go
  vendor/github.com/vulcand/oxy/roundrobin/rebalancer.go
  vendor/github.com/vulcand/oxy/roundrobin/rr.go
Labels: bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#2827 Fix support for macvlan driver in docker provider
  provider/docker/builder_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/docker.go
  provider/docker/swarm_test.go
Labels: area/provider/docker, area/provider/docker/swarm, kind/enhancement, size/M, status/3-needs-merge

#2844 Update Lego (Gandi API v5, cloudxns, ...)
  .gitattributes
  Gopkg.lock
  docs/configuration/acme.md
  vendor/github.com/exoscale/egoscale/accounts.go
  vendor/github.com/exoscale/egoscale/addresses.go
  vendor/github.com/exoscale/egoscale/affinity_groups.go
  vendor/github.com/exoscale/egoscale/affinitygroup.go
  vendor/github.com/exoscale/egoscale/apis.go
  vendor/github.com/exoscale/egoscale/async.go
  vendor/github.com/exoscale/egoscale/async_jobs.go
  vendor/github.com/exoscale/egoscale/dns.go
  vendor/github.com/exoscale/egoscale/doc.go
  vendor/github.com/exoscale/egoscale/error.go
  vendor/github.com/exoscale/egoscale/events.go
  vendor/github.com/exoscale/egoscale/groups.go
  vendor/github.com/exoscale/egoscale/init.go
  vendor/github.com/exoscale/egoscale/ip.go
  vendor/github.com/exoscale/egoscale/keypair.go
  vendor/github.com/exoscale/egoscale/keypairs.go
  vendor/github.com/exoscale/egoscale/limits.go
  vendor/github.com/exoscale/egoscale/network_offerings.go
  vendor/github.com/exoscale/egoscale/networks.go
  vendor/github.com/exoscale/egoscale/nics.go
  vendor/github.com/exoscale/egoscale/request.go
  vendor/github.com/exoscale/egoscale/security_groups.go
  vendor/github.com/exoscale/egoscale/service_offerings.go
  vendor/github.com/exoscale/egoscale/snapshots.go
  vendor/github.com/exoscale/egoscale/tags.go
  vendor/github.com/exoscale/egoscale/templates.go
  vendor/github.com/exoscale/egoscale/topology.go
  vendor/github.com/exoscale/egoscale/types.go
  vendor/github.com/exoscale/egoscale/users.go
  vendor/github.com/exoscale/egoscale/virtual_machines.go
  vendor/github.com/exoscale/egoscale/vm.go
  vendor/github.com/exoscale/egoscale/vm_groups.go
  vendor/github.com/exoscale/egoscale/volumes.go
  vendor/github.com/exoscale/egoscale/zones.go
  vendor/github.com/xenolf/lego/acme/http.go
  vendor/github.com/xenolf/lego/providers/dns/cloudxns/cloudxns.go
  vendor/github.com/xenolf/lego/providers/dns/dns_providers.go
  vendor/github.com/xenolf/lego/providers/dns/exoscale/exoscale.go
  vendor/github.com/xenolf/lego/providers/dns/gandiv5/gandiv5.go
  vendor/github.com/xenolf/lego/providers/dns/pdns/pdns.go
Labels: area/acme, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#2817 Remove health check filter from Marathon tasks.
  docs/user-guide/marathon.md
  provider/marathon/config.go
  provider/marathon/config_test.go
Labels: area/provider/marathon, kind/enhancement, size/S, status/3-needs-merge

#2846 Homogenization of templates: Eureka
  autogen/gentemplates/gen.go
  cmd/traefik/anonymize/anonymize_config_test.go
  cmd/traefik/configuration.go
  provider/eureka/config.go
  provider/eureka/config_test.go
  provider/eureka/eureka.go
  templates/eureka.tmpl
Labels: area/provider/eureka, kind/enhancement, size/M, status/3-needs-merge

#2850 Remove unnecessary conversion
  middlewares/metrics.go
Labels: area/middleware/metrics, kind/enhancement, size/S, status/3-needs-merge

#2852 Check ping configuration.
  cmd/traefik/healthcheck.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#2860 Handle zipkin collector creation
  middlewares/tracing/zipkin/zipkin.go
Labels: area/middleware/tracing, kind/enhancement, size/S, status/3-needs-merge

#2865 Correct conditional setting of buffering retry expression.
  Gopkg.lock
  vendor/github.com/vulcand/oxy/buffer/buffer.go
Labels: area/middleware, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#2863 Update documentation on onHostRule, ping examples, and web deprecation
  docs/configuration/acme.md
  docs/configuration/api.md
  docs/configuration/backends/web.md
  docs/configuration/entrypoints.md
  docs/configuration/ping.md
  docs/user-guide/examples.md
Labels: area/documentation, size/S, status/3-needs-merge

#2862 Isolate backend with same name on different provider
  integration/basic_test.go
  integration/fixtures/multiple_provider.toml
  integration/resources/compose/base.yml
  server/server.go
Labels: area/provider, kind/bug/fix, size/S, status/3-needs-merge

#2839 Change boolean annotation values to string
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#2871 Smooth dashboard refresh.
  webui/package.json
  webui/src/app/sections/providers/providers.controller.js
  webui/yarn.lock
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#2872 Split security labels and custom labels documentation.
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
Labels: area/documentation, area/provider, size/S, status/3-needs-merge

#2880 Remove unnecessary returns in tracing setup
  middlewares/tracing/tracing.go
Labels: area/middleware, kind/enhancement, size/S, status/3-needs-merge

#2886 Update to golang 1.10
  CONTRIBUTING.md
  build.Dockerfile
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#2522 Add app-root annotation support for kubernetes ingress
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#2887 Empty ip address when endpoint mode dnsrr
  provider/docker/builder_test.go
  provider/docker/docker.go
  provider/docker/swarm_test.go
Labels: area/provider/docker/swarm, kind/bug/fix, size/S, status/3-needs-merge

#2894 Fix doc cipher suites
  docs/configuration/entrypoints.md
Labels: area/documentation, area/tls, kind/bug/fix, size/S, status/3-needs-merge

#2890 Added missing metrics to registry for DataDog and StatsD
  metrics/datadog.go
  metrics/datadog_test.go
  metrics/statsd.go
  metrics/statsd_test.go
Labels: area/middleware/metrics, kind/enhancement, size/S, status/3-needs-merge

#2904 Replace nginx by whoami in integration tests
  integration/constraint_test.go
  integration/consul_catalog_test.go
  integration/docker_test.go
  integration/ratelimit_test.go
  integration/resources/compose/constraints.yml
  integration/resources/compose/consul_catalog.yml
  integration/resources/compose/error_pages.yml
  integration/resources/compose/file.yml
  integration/resources/compose/ratelimit.yml
Labels: area/infrastructure, kind/enhancement, size/M, status/3-needs-merge

#2901 it's -> its
  docs/user-guide/docker-and-lets-encrypt.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#2898 Docs: Fix typos in k8s user-guide
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#2882 Check for endpoints while detecting Consul service changes
  provider/consulcatalog/consul_catalog.go
  provider/consulcatalog/consul_catalog_test.go
Labels: area/provider/consulcatalog, kind/enhancement, size/S, status/3-needs-merge

#2909 Starting Træfik even if TLS certificates are in error
  tls/certificate.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#2907 Change port of traefik for error pages integration test
  integration/error_pages_test.go
  integration/fixtures/error_pages/error.toml
  integration/fixtures/error_pages/simple.toml
Labels: area/middleware, kind/enhancement, size/S, status/3-needs-merge

#2911 Fix <nil> tracer value in KV
  middlewares/tracing/tracing.go
Labels: area/middleware, area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#2914 Remove hardcoded frontend prefix in Kubernetes template
  autogen/gentemplates/gen.go
  templates/kubernetes.tmpl
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#2900 TLS Support for ConsulCatalog
  Gopkg.lock
  Gopkg.toml
  docs/configuration/backends/consulcatalog.md
  provider/consulcatalog/consul_catalog.go
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/coordinate.go
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/operator_area.go
  vendor/github.com/hashicorp/consul/api/operator_autopilot.go
  vendor/github.com/hashicorp/consul/api/operator_keyring.go
  vendor/github.com/hashicorp/consul/api/operator_raft.go
  vendor/github.com/hashicorp/consul/api/operator_segment.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/go-rootcerts/LICENSE
  vendor/github.com/hashicorp/go-rootcerts/doc.go
  vendor/github.com/hashicorp/go-rootcerts/rootcerts.go
  vendor/github.com/hashicorp/go-rootcerts/rootcerts_base.go
  vendor/github.com/hashicorp/go-rootcerts/rootcerts_darwin.go
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/homedir.go
Labels: area/provider/consulcatalog, kind/enhancement, size/S, status/3-needs-merge

#2915 Missing annotation prefix support.
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/kubernetes.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#2929 Infinite entry point redirection.
  server/server.go
  server/server_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#2921 Add a CLI help command for Docker.
  docs/basics.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#2913 Check all the C/N and SANs of provided certificates before to generat…
  acme/account.go
  acme/acme.go
  acme/acme_test.go
Labels: area/acme, kind/bug/fix, size/M, status/3-needs-merge

#2933 Externalize Træfik rules in a dedicated package
  rules/rules.go
  rules/rules_test.go
  server/server.go
  server/server_test.go
  types/types.go
Labels: area/rules, kind/enhancement, size/M, status/3-needs-merge

#2935 Fix Duration JSON unmarshal
  Gopkg.lock
  vendor/github.com/containous/flaeg/flaeg.go
  vendor/github.com/containous/flaeg/flaeg_types.go
  vendor/github.com/containous/flaeg/parse/parse.go
  vendor/github.com/containous/flaeg/parsers.go
Labels: bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#2934 Default value for lifecycle
  cmd/traefik/configuration.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#2938 Add DEBUG log when no provided certificate can check a domain
  server/server.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#2941 Prepare release v1.5.3
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#2943 Merge v1.5.3 into master
  CHANGELOG.md
  Gopkg.lock
  acme/account.go
  acme/acme.go
  acme/acme_test.go
  cmd/traefik/configuration.go
  docs/basics.md
  docs/user-guide/docker-and-lets-encrypt.md
  integration/grpc_test.go
  integration/helloworld/helloworld.pb.go
  middlewares/redirect/redirect.go
  provider/docker/swarm_test.go
  server/server.go
  tls/certificate.go
  vendor/github.com/containous/flaeg/flaeg.go
  vendor/github.com/containous/flaeg/flaeg_types.go
  vendor/github.com/containous/flaeg/parse/parse.go
  vendor/github.com/containous/flaeg/parsers.go
Labels: size/M

#2948 Second defaultEntryPoint should be https, not http.
  docs/configuration/acme.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge
