Repository traefik/traefik, pull requests merged in 2018-06, with the labels that each got.

#3425 Includes the headers in the HTTP response of a websocket request
  Gopkg.lock
  vendor/github.com/vulcand/oxy/buffer/buffer.go
  vendor/github.com/vulcand/oxy/cbreaker/cbreaker.go
  vendor/github.com/vulcand/oxy/cbreaker/fallback.go
  vendor/github.com/vulcand/oxy/connlimit/connlimit.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
  vendor/github.com/vulcand/oxy/roundrobin/rebalancer.go
  vendor/github.com/vulcand/oxy/roundrobin/rr.go
Labels: area/websocket, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3390 Reflect changes in catalog healthy nodes in healthCheck watch
  integration/consul_catalog_test.go
  provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/S, status/3-needs-merge

#3430 Add URL and Host for some access logs.
  integration/access_log_test.go
  middlewares/accesslog/save_backend.go
  middlewares/accesslog/save_frontend.go
Labels: area/logs, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3431 Add user agent for ACME
  Gopkg.lock
  Gopkg.toml
  acme/acme.go
  provider/acme/provider.go
  vendor/github.com/xenolf/lego/acme/client.go
  vendor/github.com/xenolf/lego/acme/http.go
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#3432 Update Kubernetes provider to support IPv6 Backends
  provider/kubernetes/kubernetes.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3421 Docs: ACME Overhaul
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/L, status/3-needs-merge

#3287 Improve Prometheus metrics removal
  metrics/prometheus.go
  metrics/prometheus_test.go
  server/server.go
  server/server_test.go
  testhelpers/config.go
  testhelpers/helpers.go
  testhelpers/metrics.go
Labels: area/middleware/metrics, kind/bug/fix, size/L, status/3-needs-merge

#3434 Detect change when service or node are in maintenance mode
  integration/consul_catalog_test.go
  provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/M, status/3-needs-merge

#3437 Prepare release v1.6.3
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3393 Adding grafana dashboards based on prometheus metrics
  contrib/grafana/traefik-kubernetes.json
  contrib/grafana/traefik.json
Labels: area/documentation, area/middleware/metrics, kind/enhancement, size/L, status/3-needs-merge

#3444 Custom frontend name for test helper
  provider/kubernetes/builder_configuration_test.go
  testhelpers/config.go
Labels: area/provider/k8s, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#3441 Fix typo which breaks k8s example manifest
  examples/k8s/traefik-ds.yaml
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#3312 Fix backend reuse
  server/server.go
  server/server_test.go
  testhelpers/config.go
  types/types.go
Labels: kind/enhancement, size/S, status/3-needs-merge

#3450 Handle buffer pool for oxy
  Gopkg.lock
  server/bufferpool.go
  server/server.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: area/oxy, kind/bug/fix, size/S, status/3-needs-merge

#3452 Merge current v1.6 into master
  Gopkg.lock
  server/bufferpool.go
  server/server.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: area/infrastructure, size/S

#3454 Add missing annotation documentation.
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3461 Extreme Makeover: server refactoring
  healthcheck/healthcheck.go
  healthcheck/healthcheck_test.go
  integration/access_log_test.go
  middlewares/auth/authenticator.go
  middlewares/cbreaker.go
  middlewares/empty_backend_handler.go
  middlewares/empty_backend_handler_test.go
  middlewares/tracing/wrapper.go
  server/adapters.go
  server/bufferpool.go
  server/server.go
  server/server_configuration.go
  server/server_configuration_test.go
  server/server_loadbalancer.go
  server/server_loadbalancer_test.go
  server/server_middlewares.go
  server/server_middlewares_test.go
  server/server_signals.go
  server/server_test.go
Labels: area/middleware, area/server, kind/enhancement, size/L, status/3-needs-merge

#3469 Temporary benchmarks removal during performance optimization process
  README.md
  docs/index.md
  mkdocs.yml
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#3463 Added duration filter for logs
  docs/configuration/logs.md
  middlewares/accesslog/logger.go
  middlewares/accesslog/logger_test.go
  types/logs.go
Labels: area/logs, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#3474 Fix typo in kv user guide
  docs/user-guide/kv-config.md
Labels: area/documentation, area/provider/kv, size/S, status/3-needs-merge

#3479 The exoscale provider works with wildcard
  docs/configuration/acme.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#3480 Update Slack URL.
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  CONTRIBUTING.md
  README.md
  cmd/bug/bug.go
  docs/index.md
  mkdocs.yml
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#3477 Enclose IPv6 addresses in "[]"
  provider/consulcatalog/config.go
  provider/consulcatalog/config_test.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/S, status/3-needs-merge

#3484 Use net.JoinHostPort for servers URL
  provider/docker/config.go
  provider/ecs/config.go
  provider/marathon/config.go
  provider/mesos/config.go
  provider/rancher/config.go
Labels: area/provider/docker, area/provider/ecs, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/bug/fix, size/S, status/3-needs-merge

#3471 Add a default value for the docker.network configuration
  docs/configuration/backends/docker.md
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/docker.go
Labels: area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#3424 Add xforwarded method
  middlewares/auth/forward.go
  middlewares/auth/forward_test.go
Labels: area/authentication, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#3488 Clean metrics documentation.
  docs/configuration/metrics.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#3485 Backend name with docker-compose and segments.
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#3492 Fix panic setting ingress status
  provider/kubernetes/client.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3498 Use logrus writer instead of os.Stderr
  acme/acme.go
  integration/fixtures/acme/acme_http01.toml
  integration/fixtures/acme/acme_http01_web.toml
  integration/fixtures/acme/acme_provided.toml
  integration/fixtures/acme/acme_provided_dynamic.toml
  integration/fixtures/acme/no_challenge_acme.toml
  integration/fixtures/acme/wrong_acme.toml
  integration/fixtures/provideracme/acme.toml
  integration/fixtures/provideracme/acme_insan.toml
  integration/fixtures/provideracme/acme_onhost.toml
  provider/acme/provider.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3499 Simplify get acme client
  acme/acme.go
  acme/challenge_http_provider.go
  provider/acme/provider.go
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#3501 Prepare release v1.6.4
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3502 Merge v1.6.4 into master
  CHANGELOG.md
  README.md
  acme/acme.go
  docs/configuration/acme.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/metrics.md
  docs/index.md
  docs/user-guide/cluster-docker-consul.md
  docs/user-guide/kv-config.md
  integration/fixtures/acme/acme_http01.toml
  integration/fixtures/acme/acme_http01_web.toml
  integration/fixtures/acme/acme_provided.toml
  integration/fixtures/acme/acme_provided_dynamic.toml
  integration/fixtures/acme/no_challenge_acme.toml
  integration/fixtures/acme/wrong_acme.toml
  integration/fixtures/provideracme/acme.toml
  integration/fixtures/provideracme/acme_insan.toml
  integration/fixtures/provideracme/acme_onhost.toml
  mkdocs.yml
  provider/acme/provider.go
  provider/consulcatalog/config.go
  provider/consulcatalog/config_test.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/ecs/config.go
  provider/marathon/config.go
  provider/mesos/config.go
  provider/rancher/config.go
Labels: size/M

#3285 avoid retries when any data was written to the backend
  middlewares/retry.go
  middlewares/retry_test.go
  server/errorhandler.go
  server/errorhandler_test.go
  server/server_configuration.go
Labels: area/middleware, kind/bug/fix, size/M, status/3-needs-merge

#3491 Add more k8s tests
  provider/kubernetes/builder_endpoint_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/M, status/3-needs-merge

#3513 Create middleware to be able to handle HTTP pipelining correctly
  Gopkg.lock
  middlewares/pipelining/pipelining.go
  middlewares/pipelining/pipelining_test.go
  server/server.go
  vendor/github.com/vulcand/oxy/cbreaker/cbreaker.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
  vendor/github.com/vulcand/oxy/roundrobin/rebalancer.go
  vendor/github.com/vulcand/oxy/utils/netutils.go
Labels: area/middleware, kind/bug/fix, size/M, status/3-needs-merge

#3516 Allow any kubernetes ingressClass value
  docs/configuration/backends/kubernetes.md
  docs/user-guide/kubernetes.md
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3511 segment labels: multiple frontends for one backend.
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
Labels: area/provider/docker, kind/bug/fix, size/M, status/3-needs-merge

#3532 Better support on same prefix at the same level in the KV
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/containous/staert/kv.go
  vendor/github.com/containous/staert/staert.go
  vendor/github.com/containous/staert/toml.go
Labels: area/provider/kv, bot/light-review, size/S, status/3-needs-merge

#3534 Simplify acme e2e tests.
  integration/acme_test.go
  integration/fixtures/acme/acme-base.toml
  integration/fixtures/acme/acme_http01.toml
  integration/fixtures/acme/acme_http01_web.toml
  integration/fixtures/acme/acme_http01_web_path.toml
  integration/fixtures/acme/acme_provided.toml
  integration/fixtures/acme/acme_provided_dynamic.toml
  integration/fixtures/acme/acme_tls.toml
  integration/fixtures/acme/acme_tls_dynamic.toml
  integration/fixtures/acme/no_challenge_acme.toml
  integration/fixtures/acme/wrong_acme.toml
  integration/fixtures/provideracme/acme_insan.toml
  integration/fixtures/provideracme/acme_onhost_ecdsa.toml
  integration/integration_test.go
Labels: area/acme, kind/enhancement, size/L, status/3-needs-merge

#3523 Add support for stale reads from Consul catalog
  cmd/configuration.go
  docs/configuration/backends/consulcatalog.md
  provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/enhancement, size/S, status/3-needs-merge

#3541 Create a custom logger for jaeger
  middlewares/tracing/jaeger/jaeger.go
  middlewares/tracing/jaeger/logger.go
Labels: area/middleware, area/middleware/tracing, kind/enhancement, size/S, status/3-needs-merge

#3540 Update golang.org/x/net dependency
  Gopkg.lock
  h2c/h2c.go
  vendor/golang.org/x/net/http/httpguts/guts.go
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/iana/const.go
  vendor/golang.org/x/net/internal/iana/gen.go
  vendor/golang.org/x/net/internal/socket/zsys_netbsd_arm.go
  vendor/golang.org/x/net/internal/socks/client.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/net/ipv4/gen.go
  vendor/golang.org/x/net/ipv4/header.go
  vendor/golang.org/x/net/ipv4/iana.go
  vendor/golang.org/x/net/ipv6/gen.go
  vendor/golang.org/x/net/ipv6/iana.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/golang.org/x/net/trace/trace.go
  vendor/golang.org/x/net/websocket/websocket.go
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#3542 Change code block of traefik-web-ui to match file
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3546 Minor formatting issue in user-guide
  docs/user-guide/swarm-mode.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#3537 Add support for ECS constraints
  docs/configuration/backends/ecs.md
  docs/configuration/commons.md
  provider/ecs/config.go
  provider/ecs/config_test.go
Labels: area/provider/ecs, kind/enhancement, size/S, status/3-needs-merge

#3547 Merge current v1.6 into master
  Gopkg.lock
  Gopkg.toml
  docs/configuration/acme.md
  docs/user-guide/swarm-mode.md
  middlewares/pipelining/pipelining.go
  middlewares/pipelining/pipelining_test.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  server/server_configuration.go
  vendor/github.com/containous/staert/kv.go
  vendor/github.com/containous/staert/staert.go
  vendor/github.com/containous/staert/toml.go
  vendor/github.com/vulcand/oxy/cbreaker/cbreaker.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
  vendor/github.com/vulcand/oxy/roundrobin/rebalancer.go
  vendor/github.com/vulcand/oxy/utils/netutils.go
Labels: area/infrastructure, size/L

#3521 Forward auth headers
  configuration/entrypoints.go
  configuration/entrypoints_test.go
  docs/configuration/entrypoints.md
  middlewares/auth/forward.go
  middlewares/auth/forward_test.go
  types/types.go
Labels: area/authentication, area/middleware, kind/enhancement, size/S, status/3-needs-merge
