Repository traefik/traefik, pull requests merged in 2018-12, with the labels that each got.

#4263 Fix upgrade flaeg
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/containous/flaeg/flaeg.go
  vendor/github.com/containous/flaeg/parse/parse.go
Labels: bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4255 Filter ECS tasks by LastStatus before adding to list of service tasks
  provider/ecs/ecs.go
Labels: area/provider/ecs, kind/bug/fix, size/S, status/3-needs-merge

#4253 Migrate rest provider
  cmd/configuration.go
  config/static/static_config.go
  integration/fixtures/rest/simple.toml
  integration/integration_test.go
  integration/resources/compose/rest.yml
  integration/rest_test.go
  provider/aggregator/aggregator.go
  provider/rest/rest.go
  server/router/route_appender_aggregator.go
  server/router/router_test.go
  server/service/service.go
Labels: area/provider, kind/enhancement, size/M, status/3-needs-merge

#4264 Prepare release v1.7.5
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4252 Remove Deprecated StorageFile
  acme/acme.go
  anonymize/anonymize_config_test.go
  cmd/storeconfig/storeconfig.go
Labels: area/acme, area/provider/kv, kind/enhancement, size/S, status/3-needs-merge

#4272 Fix label segmentation when using custom prefix
  provider/consulcatalog/config_test.go
  provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/M, status/3-needs-merge

#4294 Prepare release v1.7.6
  CHANGELOG.md
  build.Dockerfile
Labels: area/api, area/documentation, bot/light-review, size/S, status/3-needs-merge

#4317 Rephrase the `traefik.backend` definition in documentation
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
Labels: area/documentation, kind/enhancement, size/S

#4310 Check for anchors (hashes) for external links on the documentation
  CONTRIBUTING.md
  Makefile
  docs/user-guide/swarm-mode.md
  docs/user-guide/swarm.md
  script/docs-verify-docker-image/validate.sh
Labels: area/documentation, area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#4320 Update contributing docs: use dep version < 0.5.0
  CONTRIBUTING.md
Labels: area/documentation, area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#4307 kubernetes: sort and uniq TLS secrets
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#4327 Check for watched namespace before getting kubernetes objects
  provider/kubernetes/client.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#4326 Allow empty path with App-root annotation
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge
