Repository traefik/traefik, pull requests merged in 2018-07, with the labels that each got.

#3460 Auth support in frontends for k8s and file
  autogen/gentemplates/gen.go
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/entrypoints.md
  docs/user-guide/examples.md
  provider/kubernetes/annotations.go
  provider/kubernetes/builder_configuration_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
  server/server_middlewares.go
  server/server_middlewares_test.go
  templates/kubernetes.tmpl
  testhelpers/config.go
  types/types.go
Labels: area/authentication, area/provider/k8s, kind/enhancement, size/L, status/3-needs-merge

#3403 CNAME flattening
  Gopkg.lock
  Gopkg.toml
  cmd/configuration.go
  configuration/configuration.go
  docs/configuration/commons.md
  hostresolver/hostresolver.go
  hostresolver/hostresolver_test.go
  integration/fixtures/simple_hostresolver.toml
  integration/hostresolver_test.go
  integration/integration_test.go
  integration/resources/compose/hostresolver.yml
  rules/rules.go
  server/server_configuration.go
  vendor/github.com/patrickmn/go-cache/LICENSE
  vendor/github.com/patrickmn/go-cache/cache.go
  vendor/github.com/patrickmn/go-cache/sharded.go
Labels: kind/enhancement, size/S, status/3-needs-merge

#3556 Add a k8s guide section on traffic splitting via service weights.
  docs/configuration/backends/kubernetes.md
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/M, status/3-needs-merge

#3404 Create Global Backend Ingress
  docs/configuration/backends/kubernetes.md
  examples/k8s/cheese-default-ingress.yaml
  provider/kubernetes/builder_ingress_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/M, status/3-needs-merge

#3558 Update keyFile first/last line comment in kv-config.md
  docs/user-guide/kv-config.md
Labels: area/documentation, area/provider/kv, size/S, status/3-needs-merge

#3510 Support `traefik.backend` for ECS
  autogen/gentemplates/gen.go
  provider/ecs/config.go
  provider/ecs/config_test.go
  provider/ecs/deprecated_config.go
  provider/ecs/deprecated_config_test.go
  templates/ecs-v1.tmpl
Labels: area/provider/ecs, kind/enhancement, size/S, status/3-needs-merge

#3533 Allow binding ECS container port
  provider/ecs/config.go
  provider/ecs/config_test.go
  provider/ecs/deprecated_config.go
  provider/ecs/deprecated_config_test.go
  provider/ecs/ecs.go
Labels: area/provider/ecs, kind/enhancement, size/M, status/3-needs-merge

#3470 Substitude hardcoded "<namespace>/<name>" with k8s ListerGetter
  provider/kubernetes/client.go
  provider/kubernetes/client_test.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3560 Split the error handling from Consul Catalog (deadlock)
  provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/S, status/3-needs-merge

#3481 Add annotation to allow modifiers to be used properly in kubernetes
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3512 Improve TLS Handshake
  acme/acme.go
  cmd/traefik/traefik.go
  configuration/entrypoints.go
  docs/configuration/entrypoints.md
  integration/acme_test.go
  integration/fixtures/https/dynamic_https_sni_default_cert.toml
  integration/fixtures/https/https_sni_default_cert.toml
  integration/fixtures/https/https_sni_strict.toml
  integration/fixtures/https/wildcard.snitest.com.cert
  integration/fixtures/https/wildcard.snitest.com.key
  integration/fixtures/https/www.snitest.com.cert
  integration/fixtures/https/www.snitest.com.key
  integration/https_test.go
  server/server.go
  server/server_configuration.go
  server/server_configuration_test.go
  tls/certificate.go
  tls/certificate_store.go
  tls/certificate_store_test.go
  tls/tls.go
Labels: area/tls, kind/enhancement, size/S, status/3-needs-merge

#3567 Add logs when error is generated in error handler
  server/errorhandler.go
Labels: area/logs, kind/bug/fix, size/S, status/3-needs-merge

#3564 Call functions to enable block/mutex pprof profiles.
  api/debug.go
Labels: kind/enhancement, size/S, status/3-needs-merge

#3559 Auth support in frontends
  autogen/gentemplates/gen.go
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/user-guide/kv-config.md
  integration/access_log_test.go
  provider/consulcatalog/config.go
  provider/consulcatalog/config_test.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/ecs/config.go
  provider/ecs/config_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  provider/marathon/config.go
  provider/marathon/config_test.go
  provider/mesos/config.go
  provider/mesos/config_test.go
  provider/rancher/config.go
  provider/rancher/config_test.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
Labels: area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/kv, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/enhancement, size/L, status/3-needs-merge

#3571 Add logs when error is generated in error handler
  Gopkg.lock
  vendor/github.com/vulcand/oxy/forward/rewrite.go
  vendor/github.com/vulcand/oxy/utils/handler.go
Labels: area/logs, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3563 Performance enhancements for the rules matchers.
  middlewares/request_host.go
  middlewares/request_host_test.go
  rules/rules.go
  rules/rules_test.go
  server/server_configuration_test.go
  server/server_middlewares.go
Labels: area/middleware, kind/enhancement, size/S, status/3-needs-merge

#3577 Merge current v1.6 into master
  docs/user-guide/kv-config.md
  provider/consulcatalog/consul_catalog.go
Labels: area/infrastructure, size/S

#3578 Prepare release 1.7.0-rc1
  .semaphoreci/vars
  .travis.yml
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/M, status/3-needs-merge

#3584 Merge current v1.6 into v1.7
  provider/acme/challenge_http.go
  provider/acme/local_store.go
  provider/acme/store.go
Labels: area/infrastructure, size/S

#3583 Add more K8s Unit Tests
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/L, status/3-needs-merge

#3587 Prepare release v1.6.5
  CHANGELOG.md
Labels: area/acme, area/documentation, bot/light-review, size/S, status/3-needs-merge

#3580 Create init method on provider interface
  Gopkg.lock
  Gopkg.toml
  cmd/traefik/traefik.go
  configuration/provider_aggregator.go
  provider/acme/provider.go
  provider/boltdb/boltdb.go
  provider/consul/consul.go
  provider/consulcatalog/consul_catalog.go
  provider/docker/docker.go
  provider/dynamodb/dynamodb.go
  provider/ecs/ecs.go
  provider/etcd/etcd.go
  provider/eureka/eureka.go
  provider/file/file.go
  provider/file/file_test.go
  provider/kubernetes/kubernetes.go
  provider/kv/kv.go
  provider/marathon/marathon.go
  provider/mesos/mesos.go
  provider/provider.go
  provider/rancher/api.go
  provider/rancher/metadata.go
  provider/rancher/rancher.go
  provider/rest/rest.go
  provider/zk/zk.go
  server/server.go
  vendor/code.cloudfoundry.org/clock/LICENSE
  vendor/code.cloudfoundry.org/clock/NOTICE
  vendor/code.cloudfoundry.org/clock/clock.go
  vendor/code.cloudfoundry.org/clock/package.go
  vendor/code.cloudfoundry.org/clock/ticker.go
  vendor/code.cloudfoundry.org/clock/timer.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/LICENSE
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/bond.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/client.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/clock.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/concurrentrandom.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/configuration.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/datacontracts.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/diagnostics.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/inmemorychannel.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/jsonserializer.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/package.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/telemetrychannel.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/telemetrycontext.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/throttle.go
  vendor/github.com/Microsoft/ApplicationInsights-Go/appinsights/transmitter.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_config.go
  vendor/github.com/jjcollinge/logrus-appinsights/LICENSE
  vendor/github.com/jjcollinge/logrus-appinsights/config.go
  vendor/github.com/jjcollinge/logrus-appinsights/hook.go
Labels: area/acme, area/provider, kind/bug/fix, size/M, status/3-needs-merge

#3593 Send 'Retry-After' to comply with RFC6585.
  Gopkg.lock
  vendor/github.com/vulcand/oxy/buffer/buffer.go
  vendor/github.com/vulcand/oxy/buffer/threshold.go
  vendor/github.com/vulcand/oxy/cbreaker/cbreaker.go
  vendor/github.com/vulcand/oxy/cbreaker/effect.go
  vendor/github.com/vulcand/oxy/cbreaker/fallback.go
  vendor/github.com/vulcand/oxy/cbreaker/predicates.go
  vendor/github.com/vulcand/oxy/cbreaker/ratio.go
  vendor/github.com/vulcand/oxy/connlimit/connlimit.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
  vendor/github.com/vulcand/oxy/forward/headers.go
  vendor/github.com/vulcand/oxy/forward/rewrite.go
  vendor/github.com/vulcand/oxy/memmetrics/anomaly.go
  vendor/github.com/vulcand/oxy/memmetrics/counter.go
  vendor/github.com/vulcand/oxy/memmetrics/histogram.go
  vendor/github.com/vulcand/oxy/memmetrics/ratio.go
  vendor/github.com/vulcand/oxy/memmetrics/roundtrip.go
  vendor/github.com/vulcand/oxy/ratelimit/bucket.go
  vendor/github.com/vulcand/oxy/ratelimit/bucketset.go
  vendor/github.com/vulcand/oxy/ratelimit/tokenlimiter.go
  vendor/github.com/vulcand/oxy/roundrobin/RequestRewriteListener.go
  vendor/github.com/vulcand/oxy/roundrobin/rebalancer.go
  vendor/github.com/vulcand/oxy/roundrobin/rr.go
  vendor/github.com/vulcand/oxy/roundrobin/stickysessions.go
  vendor/github.com/vulcand/oxy/utils/auth.go
  vendor/github.com/vulcand/oxy/utils/dumpreq.go
  vendor/github.com/vulcand/oxy/utils/handler.go
  vendor/github.com/vulcand/oxy/utils/netutils.go
  vendor/github.com/vulcand/oxy/utils/source.go
Labels: area/middleware, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3595 Merge v1.6.5 into v1.7
  CHANGELOG.md
Labels: size/L

#3600 Add HTTP authentification to influxdb metric backend
  docs/configuration/metrics.md
  metrics/influxdb.go
  types/types.go
Labels: area/middleware/metrics, kind/enhancement, size/S, status/3-needs-merge

#3592 Correct App-Root kubernetes behavior
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/L, status/3-needs-merge

#3609 Fix bad condition in ECS provider
  provider/ecs/deprecated_config.go
Labels: area/provider/ecs, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3610 Correct Modifier in Kubernetes Documentation
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/k8s, bot/light-review, size/S, status/3-needs-merge

#3605 Serve TLS-Challenge certificate in first
  acme/acme.go
  integration/acme_test.go
  integration/fixtures/acme/acme_base.toml
  integration/fixtures/acme/acme_tls.toml
  server/server.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3611 Merge current v1.6 into v1.7
  docs/configuration/api.md
  docs/configuration/commons.md
  provider/ecs/deprecated_config.go
Labels: area/infrastructure, size/S

#3615 KV and authentication
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
Labels: area/provider/kv, kind/bug/fix, size/S, status/3-needs-merge

#3616 Remove unusable `--cluster` flag
  configuration/configuration.go
Labels: area/cluster, kind/bug/fix, size/S, status/3-needs-merge

#3618 Update service fabric
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric.go
Labels: area/infrastructure, area/provider/servicefabric, bot/light-review, size/S, status/3-needs-merge

#3619 Merge current v1.6 into v1.7
  configuration/configuration.go
Labels: area/infrastructure, size/S

#3606 Don't pass the Authorization header to the backends
  autogen/gentemplates/gen.go
  configuration/entrypoints.go
  configuration/entrypoints_test.go
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/entrypoints.md
  middlewares/auth/authenticator.go
  middlewares/auth/authenticator_test.go
  provider/consulcatalog/config_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/ecs/config_test.go
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  provider/marathon/config_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
Labels: area/authentication, area/middleware, area/provider, size/L, status/3-needs-merge

#3628 Auth section in web UI.
  middlewares/retry.go
  types/types.go
  webui/src/app/components/providers/providers.component.html
Labels: area/api, area/authentication, area/webui, kind/bug/fix, size/M, status/3-needs-merge

#3632 Prepare release 1.7.0 rc2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3637 fix: some DNS provider link.
  docs/configuration/acme.md
Labels: area/acme, area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3638 Uses both binded HostIP and HostPort when useBindPortIP=true
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/deprecated_config.go
  provider/docker/deprecated_container_docker_test.go
  provider/docker/deprecated_container_swarm_test.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#3636 Handle shutdown of Hijacked connections
  Gopkg.lock
  server/server.go
  server/server_configuration.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: area/websocket, kind/bug/fix, size/M, status/3-needs-merge

#3645 Merge current v1.7 into master
  Gopkg.lock
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/deprecated_config.go
  provider/docker/deprecated_container_docker_test.go
  provider/docker/deprecated_container_swarm_test.go
  server/server.go
  server/server_configuration.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: size/L

#3649 Removes templates
  autogen/gentemplates/gen.go
  provider/consulcatalog/config.go
  provider/consulcatalog/config_root.go
  provider/consulcatalog/config_test.go
  provider/consulcatalog/deprecated_config.go
  provider/consulcatalog/deprecated_config_test.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_root.go
  provider/docker/config_segment_test.go
  provider/docker/deprecated_config.go
  provider/docker/deprecated_container.go
  provider/docker/deprecated_container_docker_test.go
  provider/docker/deprecated_container_swarm_test.go
  provider/docker/deprecated_service.go
  provider/docker/deprecated_service_test.go
  provider/ecs/config.go
  provider/ecs/config_root.go
  provider/ecs/config_test.go
  provider/ecs/deprecated_config.go
  provider/ecs/deprecated_config_test.go
  provider/marathon/config.go
  provider/marathon/config_root.go
  provider/marathon/config_test.go
  provider/marathon/deprecated_config.go
  provider/marathon/deprecated_config_test.go
  provider/mesos/config.go
  provider/mesos/config_root.go
  provider/mesos/config_test.go
  provider/mesos/deprecated_config.go
  provider/mesos/deprecated_config_test.go
  provider/rancher/config.go
  provider/rancher/config_root.go
  provider/rancher/deprecated_config.go
  provider/rancher/deprecated_config_test.go
  templates/consul_catalog-v1.tmpl
  templates/docker-v1.tmpl
  templates/ecs-v1.tmpl
  templates/marathon-v1.tmpl
  templates/mesos-v1.tmpl
  templates/rancher-v1.tmpl
Labels: area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/enhancement, size/L, status/3-needs-merge

#3659 Update lego
  Gopkg.lock
  vendor/github.com/cpu/goacmedns/LICENSE
  vendor/github.com/cpu/goacmedns/account.go
  vendor/github.com/cpu/goacmedns/client.go
  vendor/github.com/cpu/goacmedns/storage.go
  vendor/github.com/xenolf/lego/providers/dns/acmedns/acmedns.go
  vendor/github.com/xenolf/lego/providers/dns/dns_providers.go
  vendor/github.com/xenolf/lego/providers/dns/duckdns/duckdns.go
  vendor/github.com/xenolf/lego/providers/dns/exec/doc.go
  vendor/github.com/xenolf/lego/providers/dns/exec/exec.go
  vendor/github.com/xenolf/lego/providers/dns/gcloud/googlecloud.go
  vendor/github.com/xenolf/lego/providers/dns/ns1/ns1.go
  vendor/github.com/xenolf/lego/providers/dns/route53/route53.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3604 Update Namecheap status
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/S, status/3-needs-merge

#3674 Docs verify failed only on 4XX
  docs/user-guide/kubernetes.md
  script/docs-verify-docker-image/validate.sh
Labels: area/documentation, area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#3665 Remove TLS in API
  integration/consul_test.go
  integration/etcd3_test.go
  integration/etcd_test.go
  integration/fixtures/file/dir/simple2.toml
  integration/try/condition.go
  integration/try/try.go
  types/types.go
Labels: area/api, kind/bug/fix, size/S, status/3-needs-merge

#3655 Added default configuration for DataDog APM Tracer
  configuration/configuration.go
Labels: area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#3696 Complete maintainers processes
  MAINTAINER.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#3699 Fix Rewrite-target regex
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3700 Updating oxy dependency
  Gopkg.lock
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3679 Improve TLS integration tests
  integration/consul_test.go
  integration/etcd3_test.go
  integration/etcd_test.go
  integration/https_test.go
Labels: area/provider/consul, area/provider/etcd, area/tls, kind/enhancement, size/M, status/3-needs-merge

#3631 Correct Entrypoint Redirect with Stripped or Added Path
  integration/fixtures/https/https_redirect.toml
  integration/https_test.go
  middlewares/addPrefix.go
  middlewares/redirect/redirect.go
  middlewares/stripPrefix.go
  middlewares/stripPrefixRegex.go
Labels: area/middleware, kind/bug/fix, size/M, status/3-needs-merge

#3664 Fix acme account deletion without provider change
  acme/acme.go
  provider/acme/provider.go
  provider/acme/provider_test.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3675 Fix ACME certificate for wildcard and root domains
  provider/acme/provider.go
  provider/acme/provider_test.go
Labels: area/acme, kind/bug/fix, size/M, status/3-needs-merge

#3648 Add possibility to set a protocol
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#3682 Add traefik prefix to k8s annotations
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#3701 H2C: Remove buggy line in init to make verbose switch working
  h2c/h2c.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#3689 Added support for Trace name truncation for traces
  cmd/configuration.go
  docs/configuration/tracing.md
  middlewares/tracing/entrypoint.go
  middlewares/tracing/entrypoint_test.go
  middlewares/tracing/forwarder.go
  middlewares/tracing/forwarder_test.go
  middlewares/tracing/tracing.go
  middlewares/tracing/tracing_test.go
Labels: area/middleware/tracing, kind/bug/fix, size/L, status/3-needs-merge
