Repository traefik/traefik, pull requests merged in 2018-10, with the labels that each got.

#3961 Add master overhaul notice
  README.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#3962 TLS, ACME, cluster and several entrypoints.
  server/server.go
Labels: area/acme, area/cluster, area/provider/kv, kind/bug/fix, size/S, status/3-needs-merge

#3958 Correctly initialize kv store if storage key missing
  cmd/storeconfig/storeconfig.go
Labels: area/cluster, area/provider/kv, kind/bug/fix, size/S, status/3-needs-merge

#3942 Document the default accessLog format
  docs/configuration/logs.md
Labels: area/logs, size/S, status/3-needs-merge

#3954 Global configuration log at start
  anonymize/anonymize_config_test.go
  api/handler.go
  cmd/traefik/traefik.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#3963 Whitelist log for deprecated configuration.
  server/server_middlewares.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3967 fix broken links in readme.md
  README.md
Labels: area/documentation, kind/bug/fix, size/S

#3971 Trimming whitespace in XFF for IP whitelisting
  whitelist/ip.go
  whitelist/ip_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3964 Add Template-ability check to Kubernetes API Fields
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/M, status/3-needs-merge

#3976 Rule parsing error.
  rules/rules.go
  rules/rules_test.go
Labels: area/rules, kind/bug/fix, size/S, status/3-needs-merge

#3979 Prepare release v1.7.2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3917 Basic Auth custom realm
  autogen/gentemplates/gen.go
  configuration/entrypoints.go
  configuration/entrypoints_test.go
  docs/configuration/backends/docker.md
  docs/configuration/entrypoints.md
  middlewares/auth/authenticator.go
  middlewares/auth/authenticator_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  templates/docker.tmpl
  types/types.go
Labels: area/authentication, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#3862 Avoid flapping of multiple Ingress definitions
  docs/user-guide/kubernetes.md
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/M, status/3-needs-merge

#3982 Add Gerald, Jean-Baptiste and Damien to maintainers
  MAINTAINER.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#3968 Make Zipkin trace rate configurable
  cmd/configuration.go
  configuration/configuration.go
  configuration/configuration_test.go
  docs/configuration/tracing.md
  integration/tracing_test.go
  middlewares/tracing/zipkin/zipkin.go
Labels: area/middleware/tracing, kind/enhancement, size/S, status/3-needs-merge

#3992 Merge current v1.7 into master
  cmd/traefik/traefik.go
  configuration/configuration.go
  configuration/configuration_test.go
  docs/user-guide/kubernetes.md
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: size/M

#3995 Fix a typo
  docs/index.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#3991 Move buffering annotation documentation to service
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3891 Added two example / Using labels in docker-compose.yml
  docs/user-guide/examples.md
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#3896 Add tags label to Docker provider documentation
  docs/configuration/backends/docker.md
Labels: area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4009 Fix update oxy
  Gopkg.lock
  integration/fixtures/websocket/config.toml
  integration/fixtures/websocket/config_https.toml
  vendor/github.com/vulcand/oxy/buffer/buffer.go
  vendor/github.com/vulcand/oxy/forward/fwd.go
Labels: area/oxy, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3996 Improve the CLI help (Update of the Flaeg dependency)
  Gopkg.lock
  Gopkg.toml
  script/prune-dep.sh
  vendor/github.com/containous/flaeg/flaeg.go
Labels: bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#4015 acme: prevent some malformed errors.
  acme/acme.go
  configuration/configuration.go
  provider/acme/provider.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#4021 Fix: acme DNS providers
  Gopkg.lock
  docs/configuration/acme.md
  vendor/github.com/xenolf/lego/providers/dns/bluecat/bluecat.go
  vendor/github.com/xenolf/lego/providers/dns/cloudxns/cloudxns.go
  vendor/github.com/xenolf/lego/providers/dns/dns_providers.go
  vendor/github.com/xenolf/lego/providers/dns/dnspod/dnspod.go
  vendor/github.com/xenolf/lego/providers/dns/glesys/glesys.go
  vendor/github.com/xenolf/lego/providers/dns/sakuracloud/sakuracloud.go
  vendor/github.com/xenolf/lego/providers/dns/stackpath/client.go
  vendor/github.com/xenolf/lego/providers/dns/stackpath/stackpath.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4028 fix: golint.
  build.Dockerfile
Labels: area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#4031 Fix recover from panic handler
  middlewares/recover.go
Labels: area/middleware, area/server, kind/bug/fix, size/S, status/3-needs-merge

#4033 Log stack when panic
  middlewares/recover.go
  safe/routine.go
  safe/routine_test.go
  safe/safe_test.go
Labels: area/middleware, area/server, kind/bug/fix, size/M, status/3-needs-merge

#4042 DNS challenge Cloudflare auth zone
  Gopkg.lock
  docs/configuration/acme.md
  vendor/github.com/xenolf/lego/acme/challenges.go
  vendor/github.com/xenolf/lego/acme/client.go
  vendor/github.com/xenolf/lego/providers/dns/cloudflare/cloudflare.go
  vendor/github.com/xenolf/lego/providers/dns/dns_providers.go
  vendor/github.com/xenolf/lego/providers/dns/dnsmadeeasy/client.go
  vendor/github.com/xenolf/lego/providers/dns/dnsmadeeasy/dnsmadeeasy.go
  vendor/github.com/xenolf/lego/providers/dns/dreamhost/client.go
  vendor/github.com/xenolf/lego/providers/dns/dreamhost/dreamhost.go
  vendor/github.com/xenolf/lego/providers/dns/fastdns/fastdns.go
  vendor/github.com/xenolf/lego/providers/dns/gandiv5/gandiv5.go
  vendor/github.com/xenolf/lego/providers/dns/glesys/glesys.go
  vendor/github.com/xenolf/lego/providers/dns/nifcloud/client.go
  vendor/github.com/xenolf/lego/providers/dns/nifcloud/nifcloud.go
  vendor/github.com/xenolf/lego/providers/dns/otc/mock.go
  vendor/github.com/xenolf/lego/providers/dns/rackspace/client.go
  vendor/github.com/xenolf/lego/providers/dns/rackspace/rackspace.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3973 Add the AuthResponseHeaders to the labels
  autogen/gentemplates/gen.go
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  provider/consulcatalog/config_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/ecs/config_segment_test.go
  provider/ecs/config_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/marathon/config_segment_test.go
  provider/marathon/config_test.go
  provider/mesos/config_segment_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
Labels: area/authentication, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/etcd, area/provider/kv, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/enhancement, size/M, status/3-needs-merge

#4018 usebindportip can fall back on the container ip / port
  docs/configuration/backends/docker.md
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#4045 Prepare release v1.7.3
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4025 Rename Docker_Acme.md to Readme.md
  examples/acme/Readme.md
Labels: area/acme, size/S, status/3-needs-merge

#4050 Fix certificate insertion loop to keep valid certificate and ignore the bad one
  integration/fixtures/https/dynamic_https.toml
  server/server_configuration.go
  tls/certificate.go
  tls/tls.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#4053 Improve maintainer documentation
  MAINTAINER.md
Labels: area/documentation, area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#4065 Adds the note: acme.domains is a startup configuration
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4061 clarify DuckDNS does not support multiple TXT records
  docs/configuration/acme.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#4075 Nil request body with retry
  healthcheck/healthcheck.go
  middlewares/auth/forward.go
  middlewares/errorpages/error_pages.go
  middlewares/retry.go
Labels: area/authentication, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4094 fix: netcup and DuckDNS.
  Gopkg.lock
  docs/configuration/acme.md
  vendor/github.com/Azure/go-autorest/autorest/azure/auth/auth.go
  vendor/github.com/dimchansky/utfbom/LICENSE
  vendor/github.com/dimchansky/utfbom/utfbom.go
  vendor/github.com/edeckers/auroradnsclient/client.go
  vendor/github.com/edeckers/auroradnsclient/errors.go
  vendor/github.com/edeckers/auroradnsclient/records.go
  vendor/github.com/edeckers/auroradnsclient/records/datatypes.go
  vendor/github.com/edeckers/auroradnsclient/requests/errors/errors.go
  vendor/github.com/edeckers/auroradnsclient/requests/requestor.go
  vendor/github.com/edeckers/auroradnsclient/tokens/generator.go
  vendor/github.com/edeckers/auroradnsclient/zones.go
  vendor/github.com/edeckers/auroradnsclient/zones/datatypes.go
  vendor/github.com/ldez/go-auroradns/LICENSE
  vendor/github.com/ldez/go-auroradns/auth.go
  vendor/github.com/ldez/go-auroradns/client.go
  vendor/github.com/ldez/go-auroradns/records.go
  vendor/github.com/ldez/go-auroradns/zones.go
  vendor/github.com/xenolf/lego/acme/dns_challenge.go
  vendor/github.com/xenolf/lego/providers/dns/auroradns/auroradns.go
  vendor/github.com/xenolf/lego/providers/dns/azure/azure.go
  vendor/github.com/xenolf/lego/providers/dns/dnsmadeeasy/client.go
  vendor/github.com/xenolf/lego/providers/dns/dnsmadeeasy/dnsmadeeasy.go
  vendor/github.com/xenolf/lego/providers/dns/dreamhost/dreamhost.go
  vendor/github.com/xenolf/lego/providers/dns/duckdns/duckdns.go
  vendor/github.com/xenolf/lego/providers/dns/netcup/client.go
  vendor/github.com/xenolf/lego/providers/dns/netcup/netcup.go
  vendor/golang.org/x/crypto/pkcs12/bmp-string.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/pkcs12/errors.go
  vendor/golang.org/x/crypto/pkcs12/internal/rc2/rc2.go
  vendor/golang.org/x/crypto/pkcs12/mac.go
  vendor/golang.org/x/crypto/pkcs12/pbkdf.go
  vendor/golang.org/x/crypto/pkcs12/pkcs12.go
  vendor/golang.org/x/crypto/pkcs12/safebags.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4096 Typo in the UI.
  webui/src/app/components/providers/providers.component.html
Labels: area/webui, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4095 Remove the trailing dot if the domain is not defined.
  provider/consulcatalog/config.go
  provider/consulcatalog/config_test.go
  provider/docker/config.go
  provider/ecs/config.go
  provider/ecs/config_test.go
  provider/marathon/config.go
  provider/mesos/config.go
  provider/rancher/config.go
Labels: area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/bug/fix, size/S, status/3-needs-merge

#4091 Add double wildcard test
  integration/fixtures/https/wildcard.www.snitest.com.cert
  integration/fixtures/https/wildcard.www.snitest.com.key
  tls/certificate_store_test.go
Labels: area/tls, size/S, status/3-needs-merge

#4086 domain is also optional for "normal" mode
  docs/configuration/backends/docker.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#4083 Add missing tmp directory to scratch image
  Dockerfile
Labels: area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#4097 add default path if nothing present
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3931 Case insensitive host rule
  Gopkg.lock
  rules/rules.go
  rules/rules_test.go
  vendor/github.com/containous/mux/regexp.go
Labels: area/rules, kind/bug/fix, size/S, status/3-needs-merge

#4106 Add a note about TLS-ALPN challenge.
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4111 Replaces emilevauge/whoami by containous/whoami in the documentation
  docs/benchmarks.md
  docs/index.md
  docs/user-guide/kv-config.md
  docs/user-guide/swarm-mode.md
  docs/user-guide/swarm.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4101 Support custom DNS resolvers for Let's Encrypt.
  acme/acme.go
  cmd/traefik/traefik.go
  docs/configuration/acme.md
  provider/acme/provider.go
  types/dns_resolvers.go
Labels: area/acme, kind/bug/fix, size/M

#4093 Fix display of client username field
  integration/access_log_test.go
  middlewares/accesslog/logger.go
  middlewares/accesslog/logger_test.go
  middlewares/accesslog/save_username.go
  middlewares/auth/authenticator.go
  server/server_loadbalancer.go
  server/server_middlewares.go
Labels: area/authentication, area/logs, area/middleware, kind/bug/fix, size/M, status/3-needs-merge

#4130 acme: exoscale move from .ch to .com
  docs/configuration/acme.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#4123 Removed unused imports
  webui/src/app/charts/bar-chart/bar-chart.component.ts
Labels: area/webui, size/S, status/3-needs-merge

#4124 Update docs/configuration/acme.md
  docs/configuration/acme.md
Labels: area/acme, size/S, status/3-needs-merge

#4122 Provider docker shutdown problem
  provider/docker/docker.go
Labels: area/provider/docker, size/S, status/3-needs-merge

#4118 Add the missing pass-client-tls annotation to the kubernetes provider
  autogen/gentemplates/gen.go
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/annotations.go
  provider/kubernetes/builder_configuration_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
  templates/kubernetes.tmpl
Labels: area/provider/k8s, kind/bug/fix, size/M, status/3-needs-merge

#4113 Fix access log field parsing
  types/logs.go
  types/logs_test.go
Labels: area/logs, kind/bug/fix, size/S

#4090 add static redirect
  server/server_configuration.go
  server/server_configuration_test.go
  server/server_middlewares.go
  server/server_middlewares_test.go
  server/server_test.go
Labels: area/middleware, kind/bug/fix, size/S

#4112 Add flush interval option on backend
  autogen/.placeholder
  autogen/gentemplates/gen.go
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  integration/fixtures/grpc/config_with_flush.toml
  integration/grpc_test.go
  provider/consulcatalog/config.go
  provider/consulcatalog/config_test.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/ecs/config.go
  provider/ecs/config_test.go
  provider/kubernetes/annotations.go
  provider/kubernetes/builder_configuration_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/label/names.go
  provider/label/partial.go
  provider/marathon/config.go
  provider/marathon/config_test.go
  provider/mesos/config.go
  provider/mesos/config_test.go
  provider/rancher/config.go
  provider/rancher/config_test.go
  server/server_configuration.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
Labels: area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/k8s, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/bug/fix, size/L

#4133 Fix mistake in the documentation of several backends
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/backends/servicefabric.md
Labels: area/provider, kind/bug/fix, size/S, status/3-needs-merge

#4136 Prepare release v1.7.4
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4138 Fix ssl force host secure middleware
  middlewares/secure.go
  middlewares/secure_test.go
Labels: area/middleware, kind/bug/fix, size/M, status/3-needs-merge
