Repository traefik/traefik, pull requests merged in 2018-04, with the labels that each got.

#3110 Fixes prefixed annotations support.
  provider/kubernetes/annotations.go
  provider/kubernetes/annotations_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3101 Moved /api/cluster/leadership handler under public routes (requires no authentication)
  server/server.go
Labels: area/api, area/cluster, kind/bug/fix, size/S, status/3-needs-merge

#3093 Update kubernetes.md
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#3111 Update docker-and-lets-encrypt example to show traefik:1.5.4
  docs/user-guide/docker-and-lets-encrypt.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#3120 Merge current v1.5 into v1.6
  docs/user-guide/docker-and-lets-encrypt.md
Labels: area/infrastructure, size/S

#3106 Add tests on IPWhiteLister.
  middlewares/ip_whitelister.go
  middlewares/ip_whitelister_test.go
Labels: area/middleware, kind/enhancement, size/M, status/3-needs-merge

#3107 Support TLS MinVersion and CipherSuite as CLI option.
  configuration/entrypoints.go
  configuration/entrypoints_test.go
  docs/configuration/entrypoints.md
Labels: area/tls, kind/enhancement, size/S, status/3-needs-merge

#3109 Several apps with same backend name in Marathon.
  autogen/gentemplates/gen.go
  provider/marathon/builder_test.go
  provider/marathon/config.go
  provider/marathon/config_test.go
  provider/marathon/deprecated_config_test.go
  templates/marathon.tmpl
Labels: area/provider/marathon, kind/bug/fix, size/L, status/3-needs-merge

#3126 Prepare release v1.6.0-rc4
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3127 fix: overflow on 32 bits arch.
  provider/mesos/deprecated_config.go
Labels: area/provider/mesos, kind/bug/fix, size/S, status/3-needs-merge

#3136 Add ACME certificates only on ACME EntryPoint
  provider/acme/provider.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3132 Normalize parameter names in configs
  docs/basics.md
  docs/benchmarks.md
  docs/configuration/backends/boltdb.md
  docs/configuration/backends/consul.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/dynamodb.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/etcd.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/backends/servicefabric.md
  docs/configuration/backends/zookeeper.md
  docs/configuration/commons.md
  docs/configuration/tracing.md
  docs/user-guide/cluster-docker-consul.md
  docs/user-guide/docker-and-lets-encrypt.md
  docs/user-guide/examples.md
  docs/user-guide/grpc.md
  docs/user-guide/swarm-mode.md
  examples/acme/acme.toml
  examples/cluster/traefik.toml.tmpl
  integration/fixtures/acme/acme_http01.toml
  integration/fixtures/acme/acme_http01_web.toml
  integration/fixtures/acme/acme_provided.toml
  integration/fixtures/acme/acme_provided_dynamic.toml
  integration/fixtures/acme/no_challenge_acme.toml
  integration/fixtures/acme/wrong_acme.toml
  integration/fixtures/docker/simple.toml
  integration/fixtures/dynamodb/simple.toml
  integration/fixtures/grpc/config.toml
  integration/fixtures/grpc/config_insecure.toml
  integration/fixtures/https/rootcas/https.toml
  integration/fixtures/https/rootcas/https_with_file.toml
  integration/fixtures/multiple_provider.toml
  integration/fixtures/provideracme/acme.toml
  integration/fixtures/provideracme/acme_insan.toml
  integration/fixtures/provideracme/acme_onhost.toml
  integration/fixtures/tracing/simple.toml
  integration/fixtures/websocket/config_https.toml
  traefik.sample.toml
Labels: area/documentation, kind/enhancement, size/L, status/3-needs-merge

#3141 Command version explanation for alpine image.
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bugs.md
Labels: area/documentation, area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#3154 Remove useless ACME tab from UI.
  webui/src/app/core/providers.resource.js
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#3158 fix: update lego.
  Gopkg.lock
  vendor/github.com/Azure/azure-sdk-for-go/arm/dns/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-09-01/dns/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-09-01/dns/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-09-01/dns/recordsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-09-01/dns/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-09-01/dns/zones.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/github.com/Azure/go-autorest/autorest/adal/config.go
  vendor/github.com/Azure/go-autorest/autorest/adal/devicetoken.go
  vendor/github.com/Azure/go-autorest/autorest/adal/msi.go
  vendor/github.com/Azure/go-autorest/autorest/adal/msi_windows.go
  vendor/github.com/Azure/go-autorest/autorest/adal/persist.go
  vendor/github.com/Azure/go-autorest/autorest/adal/sender.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  vendor/github.com/Azure/go-autorest/autorest/authorization.go
  vendor/github.com/Azure/go-autorest/autorest/autorest.go
  vendor/github.com/Azure/go-autorest/autorest/azure/async.go
  vendor/github.com/Azure/go-autorest/autorest/azure/azure.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/azure/metadata_environment.go
  vendor/github.com/Azure/go-autorest/autorest/azure/rp.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/date/date.go
  vendor/github.com/Azure/go-autorest/autorest/date/time.go
  vendor/github.com/Azure/go-autorest/autorest/date/timerfc1123.go
  vendor/github.com/Azure/go-autorest/autorest/date/unixtime.go
  vendor/github.com/Azure/go-autorest/autorest/date/utility.go
  vendor/github.com/Azure/go-autorest/autorest/error.go
  vendor/github.com/Azure/go-autorest/autorest/preparer.go
  vendor/github.com/Azure/go-autorest/autorest/responder.go
  vendor/github.com/Azure/go-autorest/autorest/retriablerequest.go
  vendor/github.com/Azure/go-autorest/autorest/retriablerequest_1.7.go
  vendor/github.com/Azure/go-autorest/autorest/retriablerequest_1.8.go
  vendor/github.com/Azure/go-autorest/autorest/sender.go
  vendor/github.com/Azure/go-autorest/autorest/to/convert.go
  vendor/github.com/Azure/go-autorest/autorest/utility.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/xenolf/lego/acmev2/client.go
  vendor/github.com/xenolf/lego/acmev2/messages.go
  vendor/github.com/xenolf/lego/providers/dns/azure/azure.go
  vendor/github.com/xenolf/lego/providers/dns/digitalocean/digitalocean.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3156 Fix acme.json file automatic creation
  acme/acme.go
  acme/localStore.go
  integration/acme_test.go
  integration/fixtures/acme/acme_http01.toml
  integration/fixtures/acme/acme_http01_web.toml
  integration/fixtures/acme/acme_provided.toml
  integration/fixtures/acme/acme_provided_dynamic.toml
  integration/fixtures/acme/no_challenge_acme.toml
  integration/fixtures/acme/wrong_acme.toml
  integration/fixtures/provideracme/acme.toml
  integration/fixtures/provideracme/acme_insan.toml
  integration/fixtures/provideracme/acme_onhost.toml
  provider/acme/local_store.go
  provider/acme/local_store_unix.go
  provider/acme/local_store_windows.go
  provider/acme/provider.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3116 Minor updates to dumpcerts.sh
  contrib/scripts/dumpcerts.sh
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3166 Fix Azure brand
  README.md
  docs/configuration/backends/servicefabric.md
  docs/index.md
  mkdocs.yml
Labels: area/documentation, size/S, status/3-needs-merge

#3171 Update kubernetes.md
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#3169 Default certificate expiry
  tls/generate/generate.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#3159 Factorize labels managements.
  provider/ecs/config.go
  provider/ecs/config_root.go
  provider/ecs/config_test.go
  provider/ecs/deprecated_config.go
  provider/ecs/deprecated_config_test.go
  provider/ecs/ecs.go
Labels: area/provider/ecs, kind/enhancement, size/M, status/3-needs-merge

#3138 Fix: error pages
  autogen/gentemplates/gen.go
  middlewares/error_pages.go
  middlewares/error_pages_test.go
  middlewares/errorpages/error_pages.go
  middlewares/errorpages/error_pages_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/ecs/config_test.go
  provider/marathon/config_test.go
  provider/mesos/config_test.go
  provider/provider_test.go
  provider/rancher/config_test.go
  server/server.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
Labels: area/middleware, area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/kv, area/provider/marathon, area/provider/mesos, area/provider/rancher, kind/bug/fix, size/M, status/3-needs-merge

#3175 Merge current v1.5 into v1.6
  README.md
  docs/configuration/backends/servicefabric.md
  docs/index.md
  mkdocs.yml
  tls/generate/generate.go
Labels: size/S

#3167 Generate wildcard certificate with SANs in ACME
  acme/acme.go
  acme/acme_test.go
  docs/configuration/acme.md
  provider/acme/provider.go
  provider/acme/provider_test.go
Labels: area/acme, kind/enhancement, size/M, status/3-needs-merge

#3137 Limit label selector to Ingress factory.
  provider/kubernetes/client.go
  provider/kubernetes/client_mock_test.go
  provider/kubernetes/kubernetes.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#3179 Prepare release 1.6.0-rc5
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3182 fix: backend name for stateful service.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_tmpl.go
Labels: area/provider/servicefabric, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3183 fix: backend name for stateful service and more.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_config.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_tmpl.go
Labels: area/provider/servicefabric, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#3188 Add missing argument in log.
  server/server.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#3184 fix: template version documentation.
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
Labels: area/documentation, area/provider, kind/bug/fix, size/S, status/3-needs-merge

#3189 Fix duplicated tags in InfluxDB
  Gopkg.lock
  Gopkg.toml
  metrics/influxdb_test.go
  metrics/prometheus.go
  testhelpers/metrics.go
  vendor/github.com/go-kit/kit/log/doc.go
  vendor/github.com/go-kit/kit/log/json_logger.go
  vendor/github.com/go-kit/kit/log/log.go
  vendor/github.com/go-kit/kit/log/stdlib.go
  vendor/github.com/go-kit/kit/log/sync.go
  vendor/github.com/go-kit/kit/log/value.go
  vendor/github.com/go-kit/kit/metrics/doc.go
  vendor/github.com/go-kit/kit/metrics/dogstatsd/dogstatsd.go
  vendor/github.com/go-kit/kit/metrics/generic/generic.go
  vendor/github.com/go-kit/kit/metrics/influx/influx.go
  vendor/github.com/go-kit/kit/metrics/internal/lv/space.go
  vendor/github.com/go-kit/kit/metrics/metrics.go
  vendor/github.com/go-kit/kit/metrics/multi/multi.go
  vendor/github.com/go-kit/kit/metrics/statsd/statsd.go
  vendor/github.com/go-kit/kit/metrics/timer.go
Labels: area/middleware/metrics, kind/bug/fix, size/S, status/3-needs-merge

#3187 fix: redirect to HTTPS first before basic auth if header redirect (secure) is set
  server/server.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3047 add http headers to healthcheck
  autogen/gentemplates/gen.go
  docs/basics.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/backends/servicefabric.md
  healthcheck/healthcheck.go
  healthcheck/healthcheck_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/label/names.go
  provider/label/partial.go
  provider/marathon/config_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  server/server.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
Labels: area/healthcheck, kind/enhancement, size/S, status/3-needs-merge

#3100 Improved cluster api to include the current leader node
  cluster/leadership.go
Labels: area/api, area/cluster, kind/enhancement, size/M, status/3-needs-merge

#3121 Support multi-port services.
  provider/kubernetes/builder_endpoint_test.go
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/enhancement, size/M, status/3-needs-merge

#3192 Fix nil value when tracing is enabled
  configuration/configuration.go
  configuration/configuration_test.go
  middlewares/tracing/jaeger/jaeger.go
  middlewares/tracing/zipkin/zipkin.go
Labels: area/middleware, area/middleware/tracing, kind/bug/fix, size/M, status/3-needs-merge

#3190 Fix multiple frontends with docker-compose --scale
  integration/docker_compose_test.go
  integration/docker_test.go
  integration/integration_test.go
  integration/resources/compose/minimal.yml
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/deprecated_config.go
Labels: area/provider/docker, kind/bug/fix, size/M, status/3-needs-merge

#3191 Create backup file during migration from ACME V1 to ACME V2
  acme/localStore.go
  cmd/storeconfig/storeconfig.go
  docs/configuration/acme.md
  provider/acme/local_store.go
  provider/acme/provider.go
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#3195 Fix panic in atomic on ARM and x86-32 platforms
  middlewares/metrics.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3199 Prepare release v1.6.0-rc6
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#3198 Fix multiple frontends with docker-compose --scale
  integration/docker_compose_test.go
  integration/resources/compose/minimal.yml
  provider/docker/docker.go
  provider/docker/docker_test.go
Labels: area/provider/docker, kind/bug/fix, size/M, status/3-needs-merge

#3203 Merge v1.6.0-rc6 into master
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  acme/localStore.go
  cmd/storeconfig/storeconfig.go
  configuration/configuration.go
  configuration/configuration_test.go
  docs/configuration/acme.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  integration/docker_compose_test.go
  integration/docker_test.go
  integration/integration_test.go
  integration/resources/compose/minimal.yml
  metrics/influxdb_test.go
  metrics/prometheus.go
  middlewares/metrics.go
  middlewares/tracing/jaeger/jaeger.go
  middlewares/tracing/zipkin/zipkin.go
  provider/acme/local_store.go
  provider/acme/provider.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/deprecated_config.go
  server/server.go
  testhelpers/metrics.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_config.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_tmpl.go
  vendor/github.com/go-kit/kit/log/doc.go
  vendor/github.com/go-kit/kit/log/json_logger.go
  vendor/github.com/go-kit/kit/log/log.go
  vendor/github.com/go-kit/kit/log/stdlib.go
  vendor/github.com/go-kit/kit/log/sync.go
  vendor/github.com/go-kit/kit/log/value.go
  vendor/github.com/go-kit/kit/metrics/doc.go
  vendor/github.com/go-kit/kit/metrics/dogstatsd/dogstatsd.go
  vendor/github.com/go-kit/kit/metrics/generic/generic.go
  vendor/github.com/go-kit/kit/metrics/influx/influx.go
  vendor/github.com/go-kit/kit/metrics/internal/lv/space.go
  vendor/github.com/go-kit/kit/metrics/metrics.go
  vendor/github.com/go-kit/kit/metrics/multi/multi.go
  vendor/github.com/go-kit/kit/metrics/statsd/statsd.go
  vendor/github.com/go-kit/kit/metrics/timer.go
Labels: size/L

#3205 Add HTTP headers to healthcheck.
  Gopkg.lock
  Gopkg.toml
  provider/label/label.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_tmpl.go
Labels: area/provider/servicefabric, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#3209 Fix Service Fabric docs to use v1.6 labels
  docs/configuration/backends/servicefabric.md
Labels: size/S, status/2-needs-review

#3213 Ignore server for container with empty IP address.
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/rancher/config.go
  provider/rancher/config_test.go
Labels: area/provider/docker, area/provider/rancher, kind/bug/fix, size/M, status/3-needs-merge

#3215 Fix typo in documentation
  docs/configuration/entrypoints.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#3219 Remove dead code.
  integration/consul_test.go
  middlewares/accesslog/logger.go
  middlewares/tracing/tracing.go
  provider/acme/provider.go
  provider/consulcatalog/config.go
  provider/consulcatalog/deprecated_config.go
  provider/docker/deprecated_service.go
  provider/docker/deprecated_service_test.go
  tls/certificate.go
  types/logs.go
Labels: area/infrastructure, size/L, status/3-needs-merge

#3217 Fix error pages redirect and headers.
  middlewares/errorpages/error_pages.go
  middlewares/errorpages/error_pages_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3207 Forward auth: copy response headers when auth failed.
  middlewares/auth/forward.go
  middlewares/auth/forward_test.go
Labels: area/authentication, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#3204 Extract internal router creation from server
  cmd/traefik/traefik.go
  configuration/configuration_test.go
  configuration/router/internal_router.go
  configuration/router/internal_router_test.go
  ping/ping.go
  server/server.go
  server/server_test.go
  types/internal_router.go
Labels: area/middleware, kind/enhancement, size/L, status/3-needs-merge

#3221 Minor improvements to documentation
  docs/basics.md
  docs/index.md
  examples/quickstart/README.md
Labels: area/documentation, size/S, status/3-needs-merge

#3223 Add documentation about Templating in backend file
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
Labels: area/documentation, area/provider/file, kind/bug/fix, size/S, status/3-needs-merge

#3225 Remove acme provider dependency in server
  cmd/traefik/traefik.go
  configuration/configuration.go
  configuration/provider_aggregator.go
  provider/acme/provider.go
  provider/acme/provider_test.go
  server/server.go
  tls/certificate_store.go
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#3234 Merge current v1.6 into master
  cmd/configuration.go
  configuration/configuration.go
  configuration/configuration_test.go
  docs/basics.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/file.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/backends/servicefabric.md
  docs/configuration/entrypoints.md
  docs/configuration/tracing.md
  docs/index.md
  examples/quickstart/README.md
  integration/consul_test.go
  middlewares/accesslog/logger.go
  middlewares/auth/forward.go
  middlewares/auth/forward_test.go
  middlewares/errorpages/error_pages.go
  middlewares/errorpages/error_pages_test.go
  middlewares/ip_whitelister.go
  middlewares/ip_whitelister_test.go
  middlewares/tracing/tracing.go
  provider/acme/account.go
  provider/acme/provider.go
  provider/consulcatalog/config.go
  provider/consulcatalog/deprecated_config.go
  provider/docker/config.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/deprecated_container.go
  provider/docker/deprecated_container_docker_test.go
  provider/docker/deprecated_container_swarm_test.go
  provider/docker/deprecated_service.go
  provider/docker/deprecated_service_test.go
  provider/ecs/config.go
  provider/marathon/builder_test.go
  provider/marathon/config.go
  provider/marathon/config_test.go
  provider/marathon/deprecated_config.go
  provider/marathon/deprecated_config_test.go
  provider/mesos/config.go
  provider/mesos/config_test.go
  provider/mesos/deprecated_config.go
  provider/rancher/config.go
  provider/rancher/config_test.go
  server/header_rewriter.go
  server/header_rewriter_test.go
  server/server.go
  tls/certificate.go
  types/logs.go
  whitelist/ip.go
  whitelist/ip_test.go
Labels: area/infrastructure, size/L

#3238 Does not generate ACME certificate if domain is checked by dynamic certificate
  cmd/traefik/traefik.go
  provider/acme/provider.go
  provider/acme/provider_test.go
  server/server.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#3241 doc: update Traefik images.
  docs/img/apollo-logo.png
  docs/img/asteris.logo.png
  docs/img/mantl-logo.png
  docs/img/traefik-health.png
  docs/img/web.frontend.png
Labels: area/documentation, area/webui, bot/light-review, size/S, status/3-needs-merge

#3245 Cleaning labels/annotations documentation.
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/kubernetes.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
Labels: area/documentation, area/provider, kind/enhancement, size/L, status/3-needs-merge

#3243 Add redirect section.
  webui/src/app/components/providers/providers.component.html
  webui/src/styles/app.sass
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#3242 Document custom k8s ingress class usage in guide.
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#3252 fix: change log v1.6.0
  CHANGELOG.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge
