Repository traefik/traefik, pull requests merged in 2019-01, with the labels that each got.

#4328 dep: fix constraint with dep >= 0.5.0
  Gopkg.lock
  Gopkg.toml
  build.Dockerfile
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/push/push_notice_to_android.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/push/push_notice_toi_os.go
  vendor/github.com/containous/staert/toml.go
Labels: area/infrastructure, kind/enhancement, size/L, status/3-needs-merge

#4116 Redirection status codes for methods different than GET
  docs/configuration/ping.md
  middlewares/redirect/redirect.go
  middlewares/redirect/redirect_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4347 Test and exit for jq error before domain loop
  contrib/scripts/dumpcerts.sh
Labels: kind/bug/fix, size/S, status/3-needs-merge

#4302 Harden Traefik systemd service
  contrib/systemd/traefik.service
Labels: area/documentation, size/S, status/3-needs-merge

#4299 Retry middleware : store headers per attempts and propagate them when responding.
  middlewares/retry.go
  middlewares/retry_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4340 Skip TLS section with no secret in Kubernetes ingress
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#4298 Add Pass TLS Cert Issuer and Domain Component
  autogen/gentemplates/gen.go
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/file.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  docs/configuration/commons.md
  middlewares/tlsClientHeaders.go
  middlewares/tlsClientHeaders_test.go
  provider/consulcatalog/config_test.go
  provider/consulcatalog/consul_catalog.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/docker/config_segment_test.go
  provider/ecs/config_segment_test.go
  provider/ecs/config_test.go
  provider/kubernetes/builder_configuration_test.go
  provider/kubernetes/kubernetes_test.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  provider/marathon/config_segment_test.go
  provider/marathon/config_test.go
  provider/mesos/config_segment_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
Labels: area/middleware, area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/k8s, area/provider/marathon, area/provider/mesos, area/provider/rancher, size/L, status/3-needs-merge

#4361 Prepare release v1.7.7
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4367 Happy 2019
  mkdocs.yml
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#4376 fix: update lego.
  Gopkg.lock
  Gopkg.toml
  acme/acme.go
  provider/acme/provider.go
  vendor/github.com/xenolf/lego/acme/api/internal/sender/useragent.go
  vendor/github.com/xenolf/lego/certificate/certificates.go
  vendor/github.com/xenolf/lego/lego/client.go
  vendor/github.com/xenolf/lego/lego/client_config.go
  vendor/github.com/xenolf/lego/providers/dns/gcloud/googlecloud.go
  vendor/github.com/xenolf/lego/providers/dns/rfc2136/rfc2136.go
  vendor/github.com/xenolf/lego/providers/dns/transip/transip.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4370 Removed repeated entryPoints.http from grpc.md
  docs/user-guide/grpc.md
Labels: area/documentation, size/S, status/3-needs-merge

#4384 Tested wildcard ACME challenge with DNSimple
  docs/configuration/acme.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#4364 Add forwarded headers on entry point configuration
  cmd/traefik/traefik.go
  config/static/entrypoints.go
  config/static/entrypoints_test.go
  config/static/static_config.go
  middlewares/forwardedheaders/forwarded_header.go
  middlewares/forwardedheaders/forwarded_header_test.go
  server/server.go
  server/server_configuration.go
  server/server_entrypoint.go
Labels: area/middleware, kind/enhancement, size/L, status/3-needs-merge

#4397 Allow Træfik to update Ingress status
  examples/k8s/traefik-rbac.yaml
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#4398 Assert that test timeout service is ready.
  integration/timeout_test.go
Labels: size/S, status/3-needs-merge

#4390 Note about quotes for entrypoint definition with docker-compose
  docs/configuration/entrypoints.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4374 Route priorities: document minimum priority value
  docs/basics.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4359 Support Datadog tracer priority sampling
  Gopkg.lock
  Gopkg.toml
  cmd/configuration.go
  configuration/configuration.go
  docs/configuration/tracing.md
  middlewares/tracing/datadog/datadog.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/option.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/sampler.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/span.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/spancontext.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/textmap.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/tracer.go
  vendor/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/transport.go
Labels: area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#4394 Minor formatting fixes
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#4177 Cache exising task definitions to avoid rate limiting
  provider/ecs/ecs.go
Labels: area/provider/ecs, kind/enhancement, size/S, status/3-needs-merge

#4360 Generic awsvpc support, not just Fargate
  provider/ecs/ecs.go
Labels: area/provider/ecs, kind/enhancement, size/S, status/3-needs-merge

#4413 Adds default rule system on Docker provider.
  cmd/configuration.go
  integration/docker_compose_test.go
  integration/docker_test.go
  integration/error_pages_test.go
  integration/fixtures/access_log_config.toml
  integration/fixtures/docker/minimal.toml
  integration/fixtures/docker/simple.toml
  integration/fixtures/error_pages/error.toml
  integration/fixtures/error_pages/simple.toml
  integration/fixtures/simple_hostresolver.toml
  integration/fixtures/traefik_log_config.toml
  integration/integration_test.go
  provider/base_provider.go
  provider/configuration.go
  provider/docker/config.go
  provider/docker/config_test.go
  provider/docker/docker.go
  provider/docker/label.go
  server/router/rules.go
  server/router/rules_test.go
Labels: area/provider/docker, kind/enhancement, size/L, status/3-needs-merge

#4428 Updates lego.
  Gopkg.lock
  docs/configuration/acme.md
  integration/resources/compose/consul_catalog.yml
  vendor/github.com/xenolf/lego/acme/api/api.go
  vendor/github.com/xenolf/lego/acme/api/internal/secure/jws.go
  vendor/github.com/xenolf/lego/acme/api/internal/sender/useragent.go
  vendor/github.com/xenolf/lego/providers/dns/alidns/alidns.go
  vendor/github.com/xenolf/lego/providers/dns/auroradns/auroradns.go
  vendor/github.com/xenolf/lego/providers/dns/cloudflare/cloudflare.go
  vendor/github.com/xenolf/lego/providers/dns/dns_providers.go
  vendor/github.com/xenolf/lego/providers/dns/dnspod/dnspod.go
  vendor/github.com/xenolf/lego/providers/dns/gcloud/googlecloud.go
  vendor/github.com/xenolf/lego/providers/dns/namecheap/namecheap.go
  vendor/github.com/xenolf/lego/providers/dns/nifcloud/internal/client.go
  vendor/github.com/xenolf/lego/providers/dns/zoneee/client.go
  vendor/github.com/xenolf/lego/providers/dns/zoneee/zoneee.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4022 Check for dynamic tls updates on configuration preload
  provider/file/file.go
  provider/file/file_test.go
Labels: area/tls, kind/bug/fix, size/L, status/3-needs-merge

#4420 Fixes docker swarm mode refresh second for KV.
  configuration/configuration.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#4436 Prepare release v1.7.8
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4415 Adds Marathon support.
  cmd/configuration.go
  config/static/static_config.go
  integration/integration_test.go
  integration/marathon15_test.go
  integration/marathon_test.go
  log/deprecated.go
  old/configuration/configuration.go
  old/provider/marathon/config.go
  old/provider/marathon/config_segment_test.go
  old/provider/marathon/config_test.go
  old/provider/marathon/convert_types.go
  provider/aggregator/aggregator.go
  provider/marathon/builder_test.go
  provider/marathon/config.go
  provider/marathon/config_test.go
  provider/marathon/fake_client_test.go
  provider/marathon/label.go
  provider/marathon/label_test.go
  provider/marathon/marathon.go
  provider/marathon/mocks/Marathon.go
  provider/marathon/readiness.go
  provider/marathon/readiness_test.go
Labels: area/provider/marathon, kind/enhancement, size/L, status/3-needs-merge

#4441 doc: update change log.
  CHANGELOG.md
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#4438 insecureSkipVerify for the passTLSCert transport
  server/server_loadbalancer.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#4378 handle errors when working with rancher
  provider/rancher/api.go
Labels: area/provider/rancher, kind/bug/fix, size/S, status/3-needs-merge

#4448 chore(webui): update docker node version
  webui/Dockerfile
Labels: area/provider/docker, area/webui, kind/enhancement, size/S, status/3-needs-merge

#4449 chore(webui): ignore target/dependencies in docker copy
  webui/.dockerignore
Labels: area/provider/docker, area/webui, kind/enhancement, size/S, status/3-needs-merge
