Repository traefik/traefik, pull requests merged in 2019-11, with the labels that each got.

#5466 Add tls option for Elliptic Curve Preferences
  docs/content/https/tls.md
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/tls/certificate.go
  pkg/tls/tls.go
  pkg/tls/tlsmanager.go
  pkg/tls/zz_generated.deepcopy.go
Labels: area/tls, kind/enhancement, size/M, status/3-needs-merge

#5775 Double dollar on docker-compose config
  docs/content/middlewares/replacepathregex.md
Labels: area/documentation, area/middleware, area/provider/docker, bot/light-review, size/S, status/3-needs-merge

#5773 Improve building documentation
  docs/content/contributing/building-testing.md
Labels: area/documentation, area/infrastructure, kind/enhancement, size/S

#5787 Adds missed quotes in api.md
  docs/content/operations/api.md
  docs/content/operations/dashboard.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5794 Fix quickstart link in README
  README.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#5798 slashes ended up in bad place.
  docs/content/routing/services/index.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5776 docs: remove field api.entryPoint
  traefik.sample.toml
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#5759 fix: metric with services LB.
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus_test.go
Labels: area/middleware/metrics, kind/bug/fix, size/S, status/3-needs-merge

#5812 Use alpine for v2 experimental images.
  exp.Dockerfile
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#5737 Fix rate limiting and SSE
  pkg/middlewares/ratelimiter/rate_limiter.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5795 Dashboard example with swarm
  docs/content/operations/.markdownlint.json
  docs/content/operations/api.md
  docs/content/operations/dashboard.md
  docs/content/operations/include-api-examples.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#5817 Wrong endpoint on the TLS secret example
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/documentation, area/provider/k8s, bot/light-review, size/S, status/3-needs-merge

#5336 Added configurable prefix for statsd metrics collection
  docs/content/observability/metrics/statsd.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  pkg/metrics/statsd.go
  pkg/metrics/statsd_test.go
  pkg/types/metrics.go
Labels: area/middleware/metrics, kind/enhancement, size/S, status/3-needs-merge

#5820 fix typo in v1 to v2 migration guide
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5818 Update tooling used for documentation
  docs/.markdownlint.json
  docs/check.Dockerfile
  docs/docs.Dockerfile
  docs/requirements.txt
Labels: area/documentation, area/infrastructure, area/provider/docker, size/S, status/3-needs-merge

#5433 Update ACME storage docs to remove reference to KV store in CE
  docs/content/https/acme.md
Labels: area/acme, area/cluster, area/documentation, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#5806 fix: stripPrefix middleware with empty resulting path.
  docs/content/middlewares/addprefix.md
  docs/content/middlewares/stripprefix.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/middlewares/addprefix/add_prefix.go
  pkg/middlewares/addprefix/add_prefix_test.go
  pkg/middlewares/stripprefix/strip_prefix.go
  pkg/middlewares/stripprefix/strip_prefix_test.go
  pkg/middlewares/stripprefixregex/strip_prefix_regex.go
  pkg/middlewares/stripprefixregex/strip_prefix_regex_test.go
Labels: area/middleware, kind/bug/fix, size/L, status/3-needs-merge

#5826 Fix empty address for registering service without IP
  integration/consul_catalog_test.go
  pkg/provider/consulcatalog/config.go
  pkg/provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, status/3-needs-merge

#5831 Prepare release v2.0.5
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5711 Support for all services kinds (and sticky) in CRD
  docs/content/reference/dynamic-configuration/kubernetes-crd.yml
  docs/content/routing/providers/crd_traefikservice.yml
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/user-guides/crd-acme/01-crd.yml
  integration/fixtures/k8s/01-crd.yml
  integration/fixtures/k8s/06-ingressroute-traefikservices.yml
  integration/fixtures/k8s_crd.toml
  integration/fixtures/k8s_default.toml
  integration/k8s_test.go
  integration/testdata/rawdata-crd.json
  integration/testdata/rawdata-ingress.json
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/crd/client_mock_test.go
  pkg/provider/kubernetes/crd/fixtures/with_mirroring.yml
  pkg/provider/kubernetes/crd/fixtures/with_mirroring2.yml
  pkg/provider/kubernetes/crd/fixtures/with_namespaces.yml
  pkg/provider/kubernetes/crd/fixtures/with_services_lb0.yml
  pkg/provider/kubernetes/crd/fixtures/with_services_lb1.yml
  pkg/provider/kubernetes/crd/fixtures/with_services_lb2.yml
  pkg/provider/kubernetes/crd/fixtures/with_services_lb3.yml
  pkg/provider/kubernetes/crd/fixtures/with_services_only.yml
  pkg/provider/kubernetes/crd/fixtures/with_tls_options_and_specific_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_unknown_tls_options_namespace.yml
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_traefik_client.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_traefikservice.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/generated_expansion.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/traefik_client.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/generic.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/interface.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/expansion_generated.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/register.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/service.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/provider/kubernetes/k8s/parser.go
Labels: area/provider/k8s, area/provider/k8s/crd, area/service, kind/enhancement, size/L, status/3-needs-merge

#5834 Fixed spelling error
  docs/content/routing/routers/index.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5835 fix: location header rewrite.
  go.mod
  go.sum
Labels: area/middleware, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5837 doc: fix wrong acme information
  docs/content/routing/routers/index.md
Labels: area/acme, area/documentation, bot/light-review, size/S, status/3-needs-merge

#5832 Add back the security section from v1
  docs/content/contributing/submitting-security-issues.md
  docs/mkdocs.yml
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#5839 Update go-acme/lego to 3.2.0
  docs/content/https/acme.md
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5836 X-Forwarded-Proto must not skip the redirection.
  pkg/middlewares/redirect/redirect.go
  pkg/middlewares/redirect/redirect_regex_test.go
  pkg/middlewares/redirect/redirect_scheme_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5841 Merge current v2.0 branch into master
  CHANGELOG.md
  README.md
  docs/.markdownlint.json
  docs/check.Dockerfile
  docs/content/contributing/building-testing.md
  docs/content/contributing/submitting-security-issues.md
  docs/content/https/acme.md
  docs/content/middlewares/addprefix.md
  docs/content/middlewares/replacepathregex.md
  docs/content/middlewares/stripprefix.md
  docs/content/migration/v1-to-v2.md
  docs/content/operations/.markdownlint.json
  docs/content/operations/api.md
  docs/content/operations/dashboard.md
  docs/content/operations/include-api-examples.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/routers/index.md
  docs/content/routing/services/index.md
  docs/docs.Dockerfile
  docs/mkdocs.yml
  docs/requirements.txt
  exp.Dockerfile
  go.mod
  go.sum
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/metrics/prometheus_test.go
  pkg/middlewares/addprefix/add_prefix.go
  pkg/middlewares/addprefix/add_prefix_test.go
  pkg/middlewares/ratelimiter/rate_limiter.go
  pkg/middlewares/redirect/redirect.go
  pkg/middlewares/redirect/redirect_regex_test.go
  pkg/middlewares/redirect/redirect_scheme_test.go
  pkg/middlewares/stripprefix/strip_prefix.go
  pkg/middlewares/stripprefix/strip_prefix_test.go
  pkg/middlewares/stripprefixregex/strip_prefix_regex.go
  pkg/middlewares/stripprefixregex/strip_prefix_regex_test.go
  traefik.sample.toml
Labels: size/L

#5844 Prepare release v2.1.0-rc1
  .semaphoreci/vars
  .travis.yml
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5845 fix: use MaxInt32.
  integration/testdata/rawdata-ingress.json
  pkg/provider/traefik/fixtures/api_insecure_with_dashboard.json
  pkg/provider/traefik/fixtures/api_insecure_without_dashboard.json
  pkg/provider/traefik/fixtures/full_configuration.json
  pkg/provider/traefik/fixtures/ping_simple.json
  pkg/provider/traefik/fixtures/prometheus_simple.json
  pkg/provider/traefik/fixtures/rest_insecure.json
  pkg/provider/traefik/internal.go
Labels: area/server, bot/light-review, size/S, status/3-needs-merge

#5846 Prepare release v2.1.0-rc2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5857 fix: location header rewrite.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/unrolled/secure/secure.go
Labels: area/middleware, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5862 doc: remove double quotes on CLI flags.
  docs/content/https/acme.md
  docs/content/https/ref-acme.txt
  docs/content/migration/v1-to-v2.md
  docs/content/observability/access-logs.md
  docs/content/observability/logs.md
  docs/content/observability/metrics/datadog.md
  docs/content/observability/metrics/influxdb.md
  docs/content/observability/metrics/prometheus.md
  docs/content/observability/metrics/statsd.md
  docs/content/observability/tracing/datadog.md
  docs/content/observability/tracing/haystack.md
  docs/content/observability/tracing/instana.md
  docs/content/observability/tracing/jaeger.md
  docs/content/observability/tracing/overview.md
  docs/content/observability/tracing/zipkin.md
  docs/content/operations/ping.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-crd.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
  docs/content/providers/rancher.txt
  docs/content/providers/rancher.yml
  docs/content/routing/entrypoints.md
  docs/content/routing/overview.md
  docs/content/routing/providers/docker.md
  docs/content/routing/routers/index.md
  docs/content/user-guides/grpc.md
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#5868 Web UI: Fix displayed tcp service details
  webui/src/components/_commons/PanelServiceDetails.vue
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#5867 Uses, if it exists, the ping entry point provided in the static configuration
  cmd/healthcheck/healthcheck.go
Labels: area/cli, area/healthcheck, kind/bug/fix, size/S, status/3-needs-merge

#5863 Web UI: Avoid polling on /api/entrypoints
  webui/src/pages/dashboard/Index.vue
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#5861 Web UI: Sync toolbar table state with url query params
  webui/src/components/_commons/ToolBarTable.vue
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#5872 Web UI: Avoid some router properties to overflow their container
  webui/src/components/_commons/PanelRouterDetails.vue
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#5885 Duration order consistency when multiplying number by time unit
  integration/grpc_test.go
  integration/simple_test.go
  pkg/provider/file/file_test.go
  pkg/provider/rancher/rancher.go
  pkg/server/service/tcp/service.go
  pkg/tcp/proxy_test.go
Labels: area/provider/rancher, kind/enhancement, size/S, status/3-needs-merge

#5887 fix: sub command help
  pkg/cli/commands.go
  pkg/cli/commands_test.go
Labels: area/cli, kind/bug/fix, size/M, status/3-needs-merge

#5895 Change service name in rancher provider to make webui service details view work
  pkg/provider/rancher/rancher.go
Labels: area/provider/rancher, kind/bug/fix, size/S, status/3-needs-merge

#5884 Web UI: Avoid unnecessary duplicated api calls
  webui/src/_services/HttpService.js
  webui/src/_services/TcpService.js
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#5875 Web UI: Table infinite scroll
  webui/package-lock.json
  webui/package.json
  webui/src/_helpers/Errors.js
  webui/src/components/_commons/MainTable.vue
  webui/src/components/_commons/TLSState.vue
  webui/src/index.template.html
  webui/src/pages/http/Middlewares.vue
  webui/src/pages/http/Routers.vue
  webui/src/pages/http/Services.vue
  webui/src/pages/tcp/Routers.vue
  webui/src/pages/tcp/Services.vue
  webui/src/store/http/actions.js
  webui/src/store/http/mutations.js
  webui/src/store/tcp/actions.js
  webui/src/store/tcp/mutations.js
Labels: area/webui, kind/enhancement, size/L, status/3-needs-merge

#5870 Elastic APM tracer implementation
  docs/content/observability/tracing/elastic.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/mkdocs.yml
  go.mod
  go.sum
  pkg/config/static/static_config.go
  pkg/server/middleware/chainbuilder.go
  pkg/tracing/elastic/elastic.go
Labels: area/middleware/tracing, kind/enhancement, size/L, status/3-needs-merge

#5879 Mention the experimental Helm Chart in the installation section of documentation
  docs/content/getting-started/install-traefik.md
Labels: area/documentation, area/provider/k8s/helm, size/S, status/3-needs-merge

#5900 Service registered with same id on Consul Catalog
  integration/consul_catalog_test.go
  integration/resources/compose/consul_catalog.yml
  pkg/provider/consulcatalog/config.go
  pkg/provider/consulcatalog/config_test.go
  pkg/provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/M, status/3-needs-merge

#5874 Add Swarm section to the Docker Provider Documentation
  docs/content/providers/docker.md
  docs/content/routing/providers/docker.md
Labels: area/documentation, area/provider/docker, area/provider/docker/swarm, kind/enhancement, size/M, status/3-needs-merge

#5434 Add a warning note regarding optional TLS mutual auth
  docs/configuration/entrypoints.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#5766 Update router entrypoint example
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#5241 Update deprecated function call in k8s providers
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/ingress/client.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#5903 Remove Request Headers CORS Preflight Requirement
  pkg/middlewares/headers/headers.go
  pkg/middlewares/headers/headers_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5860 Healthcheck managed for all related services
  integration/fixtures/healthcheck/multiple-routers-one-same-service.toml
  integration/healthcheck_test.go
  pkg/healthcheck/healthcheck.go
  pkg/server/service/service.go
Labels: area/healthcheck, kind/bug/fix, size/M, status/3-needs-merge

#5913 fix: consul catalog constraints.
  docs/content/providers/consul-catalog.md
  docs/content/routing/providers/consul-catalog.md
  pkg/provider/constraints/constraints_labels.go
  pkg/provider/constraints/constraints_labels_test.go
  pkg/provider/constraints/constraints_tags.go
  pkg/provider/constraints/constraints_tags_test.go
  pkg/provider/consulcatalog/config.go
  pkg/provider/consulcatalog/config_test.go
  pkg/provider/consulcatalog/consul_catalog.go
  pkg/provider/consulcatalog/convert_types_test.go
  pkg/provider/docker/config.go
  pkg/provider/marathon/config.go
  pkg/provider/rancher/config.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/L, status/3-needs-merge
