Repository traefik/traefik, pull requests merged in 2019-03, with the labels that each got.

#4540 Update to Go1.12
  .semaphoreci/golang.sh
  Makefile
  build.Dockerfile
  cmd/traefik/traefik.go
  docs/content/contributing/building-testing.md
  integration/https_test.go
  script/make.sh
  script/validate-errcheck
  script/validate-govet
  tls/certificate.go
Labels: area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4546 feat: new linting system.
  .golangci.toml
  .gometalinter.json
  .pre-commit-config.yaml
  Makefile
  acme/acme.go
  acme/acme_test.go
  acme/challenge_http_provider.go
  acme/challenge_tls_provider.go
  acme/localStore_test.go
  build.Dockerfile
  cmd/convert/convert.go
  integration/consul_test.go
  integration/etcd3_test.go
  integration/try/try.go
  middlewares/passtlsclientcert/pass_tls_client_cert.go
  middlewares/redirect/redirect.go
  provider/docker/docker.go
  script/make.sh
  script/validate-gofmt
  script/validate-golint
  script/validate-govet
  script/validate-lint
  script/validate-misspell
  tracing/instana/instana.go
Labels: area/infrastructure, kind/enhancement, size/M, status/3-needs-merge

#4556 Remove the bug command
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  cmd/bug/bug.go
  cmd/bug/bug_test.go
  cmd/traefik/traefik.go
  docs/content/contributing/submitting-issues.md
  docs/content/operations/cli.md
Labels: area/infrastructure, kind/enhancement, size/L, status/3-needs-merge

#4568 feat(webui): migrate to a work in progress webui
  webui/src/app.sass
  webui/src/app/app.component.spec.ts
  webui/src/app/app.component.ts
  webui/src/app/app.module.ts
  webui/src/app/charts/bar-chart/bar-chart.component.html
  webui/src/app/charts/bar-chart/bar-chart.component.spec.ts
  webui/src/app/charts/bar-chart/bar-chart.component.ts
  webui/src/app/charts/line-chart/line-chart.component.html
  webui/src/app/charts/line-chart/line-chart.component.ts
  webui/src/app/components/header/header.component.html
  webui/src/app/components/header/header.component.ts
  webui/src/app/components/health/health.component.html
  webui/src/app/components/health/health.component.ts
  webui/src/app/components/providers/providers.component.html
  webui/src/app/components/providers/providers.component.ts
  webui/src/app/directives/let.directive.ts
  webui/src/app/pipes/backend.filter.pipe.ts
  webui/src/app/pipes/frontend.filter.pipe.ts
  webui/src/app/pipes/humanreadable.filter.pipe.spec.ts
  webui/src/app/pipes/humanreadable.filter.pipe.ts
  webui/src/app/pipes/keys.pipe.ts
  webui/src/app/services/api.service.ts
  webui/src/app/services/window.service.ts
Labels: area/webui, kind/enhancement, size/L, status/3-needs-merge

#4569 k8s integration tests
  Gopkg.lock
  docs/content/routing/acme.md
  integration/fixtures/k8s/test.yml
  integration/fixtures/k8s_default.toml
  integration/integration_test.go
  integration/k8s_test.go
  integration/resources/compose/k8s.yml
  provider/kubernetes/client.go
  provider/kubernetes/kubernetes.go
  vendor/github.com/howeyc/gopass/LICENSE.txt
  vendor/github.com/howeyc/gopass/pass.go
  vendor/github.com/howeyc/gopass/terminal.go
  vendor/github.com/howeyc/gopass/terminal_solaris.go
  vendor/github.com/spf13/pflag/bool.go
  vendor/github.com/spf13/pflag/bool_slice.go
  vendor/github.com/spf13/pflag/bytes.go
  vendor/github.com/spf13/pflag/count.go
  vendor/github.com/spf13/pflag/duration_slice.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/float32.go
  vendor/github.com/spf13/pflag/float64.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/int.go
  vendor/github.com/spf13/pflag/int16.go
  vendor/github.com/spf13/pflag/int32.go
  vendor/github.com/spf13/pflag/int64.go
  vendor/github.com/spf13/pflag/int8.go
  vendor/github.com/spf13/pflag/ip.go
  vendor/github.com/spf13/pflag/ip_slice.go
  vendor/github.com/spf13/pflag/ipnet.go
  vendor/github.com/spf13/pflag/string.go
  vendor/github.com/spf13/pflag/string_array.go
  vendor/github.com/spf13/pflag/string_slice.go
  vendor/github.com/spf13/pflag/string_to_int.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/uint.go
  vendor/github.com/spf13/pflag/uint16.go
  vendor/github.com/spf13/pflag/uint32.go
  vendor/github.com/spf13/pflag/uint64.go
  vendor/github.com/spf13/pflag/uint8.go
  vendor/github.com/spf13/pflag/uint_slice.go
  vendor/k8s.io/client-go/tools/auth/clientauth.go
  vendor/k8s.io/client-go/tools/clientcmd/api/latest/latest.go
  vendor/k8s.io/client-go/tools/clientcmd/api/v1/conversion.go
  vendor/k8s.io/client-go/tools/clientcmd/api/v1/doc.go
  vendor/k8s.io/client-go/tools/clientcmd/api/v1/register.go
  vendor/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  vendor/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.deepcopy.go
  vendor/k8s.io/client-go/tools/clientcmd/auth_loaders.go
  vendor/k8s.io/client-go/tools/clientcmd/client_config.go
  vendor/k8s.io/client-go/tools/clientcmd/config.go
  vendor/k8s.io/client-go/tools/clientcmd/doc.go
  vendor/k8s.io/client-go/tools/clientcmd/flag.go
  vendor/k8s.io/client-go/tools/clientcmd/helpers.go
  vendor/k8s.io/client-go/tools/clientcmd/loader.go
  vendor/k8s.io/client-go/tools/clientcmd/merged_client_builder.go
  vendor/k8s.io/client-go/tools/clientcmd/overrides.go
  vendor/k8s.io/client-go/tools/clientcmd/validation.go
  vendor/k8s.io/client-go/util/homedir/homedir.go
Labels: area/provider/k8s, kind/enhancement, size/L, status/3-needs-merge

#4571 Synchronize documentation
  docs/content/observability/tracing.md
  docs/content/providers/docker.md
  docs/content/routing/acme.md
Labels: area/acme, area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4592 Use rule HostSNI in documentation
  docs/content/routing/routers/index.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4593 New packaging system.
  .goreleaser.yml
  .travis.yml
  Makefile
  build.Dockerfile
Labels: area/infrastructure, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4588 Update the file provider documentation
  docs/content/providers/file.md
  docs/content/reference/providers/file.md
  docs/mkdocs.yml
Labels: area/documentation, area/provider/file, size/L, status/3-needs-merge

#4595 Remove everything templates related
  Makefile
  autogen/gentemplates/gen.go
  docs/content/contributing/building-testing.md
  docs/content/getting-started/quick-start.md
  examples/accessLog/.gitignore
  examples/accessLog/exampleHandler.go
  examples/accessLog/runAb.sh
  examples/accessLog/runExample.sh
  examples/accessLog/traefik.ab.toml
  examples/accessLog/traefik.example.toml
  examples/acme/Readme.md
  examples/acme/acme.toml
  examples/acme/docker-compose.yml
  examples/acme/manage_acme_docker_environment.sh
  examples/cluster/docker-compose.yml
  examples/cluster/manage_cluster_docker_environment.sh
  examples/cluster/traefik.toml.tmpl
  examples/compose-consul.yml
  examples/compose-etcd.yml
  examples/compose-k8s.yaml
  examples/compose-marathon.yml
  examples/compose-rancher.yml
  examples/compose-traefik.yml
  examples/consul-config.sh
  examples/etcd-config.sh
  examples/k8s.namespace.yaml
  examples/k8s/cheese-default-ingress.yaml
  examples/k8s/cheese-deployments.yaml
  examples/k8s/cheese-ingress.yaml
  examples/k8s/cheese-services.yaml
  examples/k8s/cheeses-ingress.yaml
  examples/k8s/traefik-deployment.yaml
  examples/k8s/traefik-ds.yaml
  examples/k8s/traefik-rbac.yaml
  examples/k8s/ui.yaml
  examples/quickstart/README.md
  examples/quickstart/docker-compose.yml
  examples/traefik.crt
  examples/traefik.key
  examples/whoami-group.json
  examples/whoami.json
  generate.go
  old/provider/consulcatalog/config_test.go
  old/provider/ecs/config_segment_test.go
  old/provider/ecs/config_test.go
  old/provider/mesos/config_segment_test.go
  old/provider/mesos/config_test.go
  old/provider/provider.go
  old/provider/rancher/config_test.go
  script/validate-autogen
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/eureka.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/notFound.tmpl
  templates/rancher.tmpl
Labels: area/provider, kind/enhancement, size/L, status/3-needs-merge

#4590 Update anonymize/collect
  anonymize/anonymize_config_test.go
  cmd/configuration.go
  cmd/traefik/traefik.go
  collector/collector.go
  config/static/static_config.go
  docs/content/contributing/data-collection.md
  integration/fixtures/access_log_config.toml
Labels: kind/enhancement, size/M, status/3-needs-merge

#4600 Fix lock problem in server
  pkg/server/server_entrypoint_tcp.go
Labels: area/server, kind/bug/fix, size/S, status/3-needs-merge

#4604 Allow user to configure traefik log
  pkg/config/static/static_config.go
Labels: area/logs, kind/bug/fix, size/S, status/3-needs-merge

#4605 Update structor
  .travis.yml
  README.md
  docs/basics.md
  docs/index.md
  docs/user-guide/kubernetes.md
  examples/quickstart/README.md
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#4606 Add TraefikEE as security workaround
  docs/configuration/backends/docker.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4607 Clean files during tests.
  pkg/middlewares/accesslog/logger_test.go
  pkg/provider/file/file_test.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#4603 (re)Add update ingress status
  pkg/provider/kubernetes/ingress/kubernetes.go
Labels: area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#4611 Enhance acme page.
  docs/content/https-tls/acme.md
  docs/mkdocs.yml
  docs/readme.md
  docs/scripts/verify.sh
  docs/theme/main.html
  docs/theme/partials/footer.html
Labels: area/acme, area/documentation, kind/enhancement, size/M, status/3-needs-merge

#4610 Update structor to restore permalink for the latest version
  .gitignore
  .travis.yml
  middlewares/accesslog/logger_test.go
  mkdocs.yml
  provider/file/file_test.go
Labels: area/documentation, area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4614 Adds a maintainer's page into the documentation.
  .travis.yml
  docs/content/contributing/maintainers.md
  docs/mkdocs.yml
Labels: area/documentation, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#4616 Remove IngressEndpoint in CRD provider
  pkg/anonymize/anonymize_config_test.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes.go
Labels: area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#4617 Prepare release v2.0.0-alpha1
  .semaphoreci/vars
  .travis.yml
  CHANGELOG.md
Labels: area/documentation, size/M, status/3-needs-merge

#4624 Change deploy script.
  .gitignore
  script/deploy.sh
Labels: area/infrastructure, kind/bug/fix, size/S

#4623 Change deploy script.
  script/deploy.sh
Labels: area/infrastructure, kind/bug/fix, size/S

#4625 Fix problem in aggregator provider
  pkg/provider/aggregator/aggregator.go
Labels: area/server, kind/bug/fix, size/S

#4628 New build system for experimental Docker image.
  .travis.yml
  exp.Dockerfile
  script/deploy-docker.sh
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#4627 New build system for experimental Docker image.
  .travis.yml
  exp.Dockerfile
  script/deploy-docker.sh
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#4631 Fix new build system for experimental Docker image.
  exp.Dockerfile
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4629 Fix log msgs about label selector
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/crd/kubernetes.go
Labels: area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#4632 change docs and adjust dashboard for v2 alpha
  docs/content/getting-started/quick-start.md
  docs/content/operations/dashboard.md
  webui/src/app/app.component.ts
Labels: area/documentation, area/webui, kind/enhancement, size/S, status/3-needs-merge

#4635 Prepare release v2.0.0-alpha2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4639 Fix dead maintainers link on the README.md
  README.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#4638 Fix typo in forwardauth middleware documentation
  docs/content/middlewares/forwardauth.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4621 Add support for tcp labels in docker provider
  docs/content/providers/docker.md
  integration/docker_test.go
  pkg/config/dyn_config.go
  pkg/provider/configuration.go
  pkg/provider/docker/config.go
  pkg/provider/docker/config_test.go
Labels: area/provider/docker, area/tcp, kind/enhancement, size/L, status/3-needs-merge

#4646 Fix Getting started
  docs/content/getting-started/quick-start.md
  docs/content/providers/docker.md
  docs/content/providers/file.md
Labels: area/documentation, area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#4644 Fix panic while server shutdown
  pkg/server/server_entrypoint_tcp.go
Labels: area/server, kind/bug/fix, size/S, status/3-needs-merge

#4651 Remove old links in readme
  README.md
  pkg/provider/label/parser_test.go
Labels: area/documentation, kind/bug/fix, kind/enhancement, size/S, status/3-needs-merge

#4642 Documentation Updates: docker-compose examples
  docs/content/getting-started/configuration-overview.md
  docs/content/getting-started/quick-start.md
  docs/content/providers/docker.md
  docs/content/routing/entrypoints.md
  docs/mkdocs.yml
Labels: area/documentation, area/provider/docker, size/L, status/3-needs-merge

#4662 Fix typos in docs
  docs/content/routing/entrypoints.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#4657 Update traefik.sample.toml
  traefik.sample.toml
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4654 Document the TLS with ACME case
  pkg/provider/acme/provider.go
  pkg/provider/kubernetes/crd/fixtures/with_tls_acme.yml
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
Labels: area/acme, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/S, status/3-needs-merge

#4664 Fix some minors errors on the documentation
  docs/content/https-tls/overview.md
  docs/content/middlewares/digestauth.md
  docs/content/middlewares/overview.md
  docs/content/operations/dashboard.md
  docs/content/operations/ping.md
  docs/content/providers/docker.md
  docs/content/routing/entrypoints.md
  docs/content/routing/routers/index.md
  docs/content/routing/services/index.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#4643 Add _FILE Environment Variable Documentation
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4670 fix: update lego.
  Gopkg.lock
  Gopkg.toml
  docs/configuration/acme.md
  vendor/github.com/go-acme/lego/acme/api/internal/sender/useragent.go
  vendor/github.com/go-acme/lego/providers/dns/dns_providers.go
  vendor/github.com/go-acme/lego/providers/dns/dode/client.go
  vendor/github.com/go-acme/lego/providers/dns/dode/dode.go
  vendor/github.com/go-acme/lego/providers/dns/hostingde/hostingde.go
  vendor/github.com/go-acme/lego/providers/dns/pdns/client.go
  vendor/github.com/go-acme/lego/providers/dns/pdns/pdns.go
  webui/Dockerfile
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4557 Reorder Auth and TLSClientHeaders middleware
  server/server_middlewares.go
Labels: area/authentication, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4636 Clarify that manual dnsChallenge provider works only when run as docker run -it
  docs/content/https-tls/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4661 Remove BaseProvider
  cmd/configuration.go
  pkg/anonymize/anonymize_config_test.go
  pkg/provider/base_provider.go
  pkg/provider/constrainer.go
  pkg/provider/docker/docker.go
  pkg/provider/file/file.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/marathon/label_test.go
  pkg/provider/marathon/marathon.go
Labels: area/provider, kind/enhancement, size/M

#4652 Full ACME+CRD example
  docs/content/providers/kubernetes-crd.md
  docs/content/user-guides/crd-acme/01-crd.yml
  docs/content/user-guides/crd-acme/02-services.yml
  docs/content/user-guides/crd-acme/03-deployments.yml
  docs/content/user-guides/crd-acme/04-ingressroutes.yml
  docs/content/user-guides/crd-acme/index.md
  docs/content/user-guides/crd-acme/k3s.yml
  docs/mkdocs.yml
  integration/fixtures/k8s/03-ingressroute.yml
Labels: area/acme, area/documentation, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/L, status/3-needs-merge

#4313 Exclude websocket connections from Average Response Time
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/thoas/stats/options.go
  vendor/github.com/thoas/stats/recorder.go
  vendor/github.com/thoas/stats/stats.go
Labels: area/websocket, kind/bug/fix, size/S, status/3-needs-merge

#4516 Added support for configuring trace headers for DataDog tracing
  middlewares/tracing/datadog/datadog.go
Labels: area/middleware, kind/enhancement, size/S, status/3-needs-merge

#4564 Support external name service on global default backend
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s/ingress, kind/bug/fix, size/M, status/3-needs-merge

#4671 Review Makefile
  .travis.yml
  Makefile
  docs/content/contributing/building-testing.md
  script/.validate
  script/crossbinary
  script/crossbinary-others
Labels: area/infrastructure, kind/enhancement, size/M, status/3-needs-merge

#4684 Migrate to dep 0.5
  CONTRIBUTING.md
  Gopkg.lock
  Gopkg.toml
  build.Dockerfile
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/push/push_notice_to_android.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/push/push_notice_toi_os.go
  vendor/github.com/containous/staert/toml.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_config.go
  vendor/github.com/containous/traefik-extra-service-fabric/servicefabric_tmpl.go
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/L, status/3-needs-merge

#4683 Remove thoas/stats fork
  Gopkg.toml
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#4679 Add entrypoints prefix in kubernetes frontend/backend id
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#4686 Prepare release v1.7.10
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4680 Enhance middleware examples.
  docs/content/middlewares/addprefix.md
  docs/content/middlewares/basicauth.md
  docs/content/middlewares/buffering.md
  docs/content/middlewares/circuitbreaker.md
  docs/content/middlewares/compress.md
  docs/content/middlewares/digestauth.md
  docs/content/middlewares/errorpages.md
  docs/content/middlewares/forwardauth.md
  docs/content/middlewares/headers.md
  docs/content/middlewares/ipwhitelist.md
  docs/content/middlewares/maxconnection.md
  docs/content/middlewares/overview.md
  docs/content/middlewares/passtlsclientcert.md
  docs/content/middlewares/ratelimit.md
  docs/requirements.txt
Labels: area/documentation, area/middleware, kind/enhancement, size/L, status/3-needs-merge

#4687 Adds notes about incompatibility between 1.X and 2.X configurations.
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  README.md
  docs/content/getting-started/configuration-overview.md
Labels: area/documentation, area/infrastructure, size/S, status/3-needs-merge

#4693 Prepare release v2.0.0-alpha3.
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4692 Fix two minor nits in Traefik 2.0 docs
  docs/content/providers/docker.md
  docs/content/reference/providers/docker.md
Labels: area/documentation, area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#4690 Keep consistent order
  docs/configuration/commons.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4697 Update certificates for some Docker images
  build.Dockerfile
  exp.Dockerfile
  script/ca-certificates.crt
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/L, status/3-needs-merge
