Repository traefik/traefik, pull requests merged in 2019-07, with the labels that each got.

#5042 Add gRPC user guide
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  README.md
  docs/.markdownlint.json
  docs/content/assets/img/user-guides/grpc.svg
  docs/content/assets/js/hljs/highlight.pack.js
  docs/content/contributing/submitting-issues.md
  docs/content/user-guides/grpc.md
  docs/mkdocs.yml
Labels: area/documentation, area/server, kind/enhancement, size/L, status/3-needs-merge

#5049 Prepare release v2.0.0-alpha8
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5050 Improve providers documentation.
  docs/content/https/acme.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-crd.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
  docs/content/providers/rancher.txt
  docs/content/providers/rancher.yml
  docs/content/routing/entrypoints.md
  docs/content/routing/overview.md
Labels: area/documentation, area/provider, kind/enhancement, size/L, status/3-needs-merge

#5056 TLSOptions: handle conflict: same host name, different TLS options
  docs/content/routing/routers/index.md
  docs/content/user-guides/crd-acme/01-crd.yml
  integration/fixtures/https/https_tls_options.toml
  integration/https_test.go
  pkg/server/router/tcp/router.go
  pkg/tcp/router.go
Labels: area/tls, kind/enhancement, size/M, status/3-needs-merge

#5067 Format YAML example on user guide
  docs/user-guide/examples.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#5066 Automatic generation of the doc for the CLI flags and env vars.
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/labels.yml
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/cli.md
  docs/content/reference/static-configuration/cli.txt
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/env.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  generate.go
  internal/gendoc.go
  pkg/config/parser/tags.go
  pkg/provider/file/file.go
  pkg/types/duration.go
Labels: area/documentation, area/infrastructure, kind/enhancement, size/L, status/3-needs-merge

#5012 Remove X-Forwarded-(Uri, Method, Tls-Client-Cert and Tls-Client-Cert-Info) from untrusted IP
  pkg/middlewares/forwardedheaders/forwarded_header.go
  pkg/middlewares/forwardedheaders/forwarded_header_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5068 Renamed `kubernetes` provider in `kubernetesIngress` provider
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  integration/fixtures/k8s_default.toml
  pkg/anonymize/anonymize_config_test.go
  pkg/anonymize/anonymize_doOnJSON_test.go
  pkg/config/file/file_node_test.go
  pkg/config/file/fixtures/sample.toml
  pkg/config/file/fixtures/sample.yml
  pkg/config/static/static_config.go
  pkg/provider/aggregator/aggregator.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#5074 Generate deepcopy for configuration struct
  pkg/config/dyn_config.go
  pkg/config/dyn_config_test.go
  pkg/config/fixtures/sample.toml
  pkg/config/zz_generated.deepcopy.go
  pkg/server/server_configuration.go
  pkg/tls/tls.go
  pkg/tls/zz_generated.deepcopy.go
  script/update-generated-crd-code.sh
Labels: area/infrastructure, kind/enhancement, size/L, status/3-needs-merge

#4857 Properly add response headers for CORS
  integration/fixtures/headers/basic.toml
  integration/fixtures/headers/cors.toml
  integration/headers_test.go
  integration/resources/compose/headers.yml
  integration/try/condition.go
  pkg/middlewares/headers/headers.go
  pkg/middlewares/headers/headers_test.go
  pkg/responsemodifiers/headers.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5087 Update golangci-lint
  .golangci.toml
  build.Dockerfile
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#5088 Update dep version
  build.Dockerfile
  docs/content/contributing/building-testing.md
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#5078 Expand Client Auth Type configuration
  docs/content/https/tls.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  integration/fixtures/https/clientca/https_1ca1config.toml
  integration/fixtures/https/clientca/https_2ca1config.toml
  integration/fixtures/https/clientca/https_2ca2config.toml
  integration/fixtures/https/https_tls_options.toml
  integration/fixtures/k8s/03-tlsoption.yml
  integration/fixtures/tcp/multi-tls-options.toml
  integration/fixtures/tlsclientheaders/simple.toml
  pkg/config/file/fixtures/sample.toml
  pkg/middlewares/passtlsclientcert/pass_tls_client_cert.go
  pkg/provider/kubernetes/crd/fixtures/tcp/with_bad_tls_options.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_tls_options.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_tls_options_and_specific_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_unknown_tls_options.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_unknown_tls_options_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_bad_tls_options.yml
  pkg/provider/kubernetes/crd/fixtures/with_tls_options.yml
  pkg/provider/kubernetes/crd/fixtures/with_tls_options_and_specific_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_unknown_tls_options.yml
  pkg/provider/kubernetes/crd/fixtures/with_unknown_tls_options_namespace.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/tls/tls.go
  pkg/tls/tlsmanager.go
  pkg/tls/tlsmanager_test.go
  pkg/tls/zz_generated.deepcopy.go
Labels: area/tls, kind/enhancement, size/M, status/3-needs-merge

#5086 Update docker version for build
  .semaphoreci/setup.sh
  build.Dockerfile
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#5072 Enhance REST provider
  integration/rest_test.go
  integration/simple_test.go
  pkg/config/dynamic/config.go
  pkg/provider/rest/rest.go
  pkg/server/server_configuration.go
Labels: area/api, area/provider, kind/enhancement, size/S, status/3-needs-merge

#5095 Update Docker version.
  .semaphoreci/setup.sh
  build.Dockerfile
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#5093 Docker URL
  .semaphoreci/setup.sh
  build.Dockerfile
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5085 Fixes the TLS Mutual Authentication documentation
  docs/configuration/entrypoints.md
Labels: area/documentation, area/tls, kind/bug/fix, size/S, status/3-needs-merge

#5096 user guide: fix a mistake in the deployment definition
  docs/content/user-guides/crd-acme/03-deployments.yml
Labels: area/documentation, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#5091 refactor(webui): use @vue/cli to bootstrap new ui
  Makefile
  webui/.browserslistrc
  webui/.editorconfig
  webui/.eslintrc.js
  webui/.gitignore
  webui/.prettierrc
  webui/Dockerfile
  webui/angular.json
  webui/babel.config.js
  webui/jest.config.js
  webui/karma.conf.js
  webui/package.json
  webui/postcss.config.js
  webui/protractor.conf.js
  webui/proxy.conf.json
  webui/public/index.html
  webui/public/traefik.icon.png
  webui/readme.md
  webui/src/App.vue
  webui/src/app.sass
  webui/src/app/app.component.ts
  webui/src/app/app.module.ts
  webui/src/environments/environment.prod.ts
  webui/src/environments/environment.ts
  webui/src/favicon.ico
  webui/src/index.html
  webui/src/main.js
  webui/src/main.ts
  webui/src/polyfills.ts
  webui/src/router.js
  webui/src/store.js
  webui/src/styles/charts.sass
  webui/src/styles/content.sass
  webui/src/styles/helper.sass
  webui/src/styles/message.sass
  webui/src/styles/nav.sass
  webui/src/styles/variables.sass
  webui/src/test.ts
  webui/src/tsconfig.app.json
  webui/src/tsconfig.spec.json
  webui/src/typings.d.ts
  webui/src/views/WIP.vue
  webui/tests/unit/.eslintrc.js
  webui/tsconfig.json
  webui/tslint.json
  webui/vue.config.js
  webui/yarn.lock
Labels: area/webui, kind/enhancement, size/L, status/3-needs-merge

#5082 Add Jaeger collector endpoint
  docs/content/observability/tracing/jaeger.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  integration/fixtures/tracing/simple-jaeger-collector.toml
  integration/tracing_test.go
  pkg/tracing/jaeger/jaeger.go
Labels: area/middleware/tracing, kind/enhancement, size/S, status/3-needs-merge

#5100 Update Dynamic Configuration Reference for both Docker and Marathon
  docs/content/reference/dynamic-configuration/docker.md
  docs/content/reference/dynamic-configuration/docker.yml
  docs/content/reference/dynamic-configuration/labels.yml
  docs/content/reference/dynamic-configuration/marathon.md
  docs/content/reference/dynamic-configuration/marathon.yml
  docs/mkdocs.yml
Labels: area/documentation, area/provider/docker, area/provider/marathon, kind/enhancement, size/M, status/3-needs-merge

#5102 Improve tracing documentation
  docs/content/observability/tracing/datadog.md
  docs/content/observability/tracing/haystack.md
  docs/content/observability/tracing/instana.md
  docs/content/observability/tracing/jaeger.md
  docs/content/observability/tracing/overview.md
  docs/content/observability/tracing/zipkin.md
Labels: area/documentation, area/middleware/tracing, kind/enhancement, size/L, status/3-needs-merge

#5109 Fixed doc link for AlibabaCloud
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#5108 Manage status for TCP element in the endpoint overview.
  pkg/api/handler_overview.go
  pkg/api/handler_overview_test.go
  pkg/api/handler_tcp_test.go
  pkg/api/testdata/overview-dynamic.json
  pkg/api/testdata/tcprouters.json
  pkg/api/testdata/tcpservices.json
Labels: area/api, kind/enhancement, size/S, status/3-needs-merge

#5118 fix: TLS configuration from directory.
  pkg/provider/file/file.go
  pkg/provider/file/file_test.go
  pkg/provider/file/fixtures/toml/dir01_file03.toml
  pkg/provider/file/fixtures/yaml/dir01_file03.yml
Labels: area/provider/file, kind/bug/fix, size/S, status/3-needs-merge

#5105 feat(webui/dashboard): init new dashboard
  webui/package.json
  webui/src/App.vue
  webui/src/assets/images/traefik_logo@3x.svg
  webui/src/main.js
  webui/src/router.js
  webui/src/views/Home.vue
  webui/src/views/WIP.vue
  webui/yarn.lock
Labels: area/webui, kind/enhancement, size/L, status/3-needs-merge

#5117 Add a basic Traefik install guide
  docs/content/getting-started/install-traefik.md
  docs/mkdocs.yml
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#5112 Add documentation about Kubernetes Ingress provider
  docs/content/providers/kubernetes-crd.md
  docs/content/providers/kubernetes-ingress.md
  docs/mkdocs.yml
Labels: area/documentation, area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/L, status/3-needs-merge

#5123 Disable RateLimit temporarily
  docs/content/middlewares/ratelimit.md
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/labels.yml
  integration/access_log_test.go
  integration/integration_test.go
  integration/resources/compose/access_log.yml
  integration/tracing_test.go
  pkg/config/dynamic/middlewares.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/config/label/label_test.go
  pkg/server/middleware/middlewares.go
Labels: area/middleware, kind/enhancement, size/M, status/3-needs-merge

#5119 API: remove configuration of Entrypoint and Middlewares
  cmd/healthcheck/healthcheck.go
  docs/content/observability/metrics/prometheus.md
  docs/content/operations/api.md
  docs/content/operations/ping.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  integration/fixtures/marathon/simple.toml
  integration/fixtures/ratelimit/simple.toml
  integration/simple_test.go
  pkg/anonymize/anonymize_config_test.go
  pkg/api/handler.go
  pkg/config/static/static_config.go
  pkg/ping/ping.go
  pkg/provider/rest/rest.go
  pkg/server/router/route_appender_aggregator.go
  pkg/server/router/route_appender_aggregator_test.go
  pkg/types/metrics.go
Labels: area/api, kind/enhancement, size/S, status/3-needs-merge

#5127 Lets encrypt documentation typo
  docs/content/https/acme.md
Labels: area/acme, area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#5126 Improve error on router without service.
  integration/testdata/rawdata-crd.json
  pkg/api/handler_overview.go
  pkg/api/handler_overview_test.go
  pkg/api/testdata/getrawdata.json
  pkg/api/testdata/middleware-auth.json
  pkg/api/testdata/middlewares-page2.json
  pkg/api/testdata/middlewares.json
  pkg/config/runtime/runtime.go
  pkg/server/middleware/middlewares.go
  pkg/server/router/router.go
  pkg/server/router/tcp/router.go
  pkg/server/router/tcp/router_test.go
  pkg/server/service/tcp/service.go
Labels: area/logs, kind/enhancement, size/S, status/3-needs-merge

#5128 Fixed a typo in label.
  docs/content/middlewares/overview.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5129 Prepare release v2.0.0-beta1
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5130 Fix acme example
  docs/content/https/acme.md
Labels: area/acme, area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#5133 Fix malformed rule
  docs/content/routing/routers/index.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#5139 Improve acme logs.
  pkg/provider/acme/challenge_http.go
  pkg/provider/acme/provider.go
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#5136 refactor(webui): use components to split Home concerns
  webui/package.json
  webui/src/components/EntityStateDoughnut.vue
  webui/src/components/Tile.vue
  webui/src/main.js
  webui/src/views/Home.vue
  webui/yarn.lock
Labels: area/webui, kind/enhancement, size/M, status/3-needs-merge

#5152 Fix prometheus metrics
  pkg/metrics/prometheus.go
Labels: area/middleware/metrics, kind/bug/fix, size/S, status/3-needs-merge

#5160 Updating Service Fabric documentation
  docs/configuration/backends/servicefabric.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#5156 Add Feature-Policy header support
  Gopkg.lock
  docs/content/middlewares/headers.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  integration/fixtures/headers/secure.toml
  integration/headers_test.go
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/dynamic/middlewares.go
  pkg/config/file/fixtures/sample.toml
  pkg/config/label/label_test.go
  pkg/middlewares/headers/headers.go
  pkg/responsemodifiers/headers.go
  vendor/github.com/unrolled/secure/secure.go
Labels: area/middleware, area/provider, kind/enhancement, size/M, status/3-needs-merge
