Repository traefik/traefik, pull requests merged in 2019-04, with the labels that each got.

#4699 fix: validation system
  .golangci.toml
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  Makefile
  pkg/middlewares/ipwhitelist/ip_whitelist.go
  pkg/middlewares/redirect/redirect_scheme.go
  pkg/provider/acme/provider.go
  pkg/provider/file/file.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/rules/parser.go
  pkg/server/middleware/middlewares.go
  pkg/server/middleware/middlewares_test.go
  pkg/server/roundtripper.go
  script/.validate
  script/validate-misspell
  script/validate-vendor
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4698 Update certificates for some Docker images
  build.Dockerfile
  exp.Dockerfile
  script/ca-certificates.crt
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/L, status/3-needs-merge

#4700 Update to v2.0 readme links
  README.md
  docs/content/getting-started/configuration-overview.md
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#4682 Update Wildcard Domain documentation
  docs/configuration/acme.md
Labels: area/acme, area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4706 fix: remove invalid commas.
  docs/content/middlewares/basicauth.md
  docs/content/middlewares/buffering.md
  docs/content/middlewares/compress.md
  docs/content/middlewares/digestauth.md
  docs/content/middlewares/errorpages.md
  docs/content/middlewares/overview.md
Labels: area/documentation, area/middleware, bot/light-review, size/S, status/3-needs-merge

#3809 Enable CORS configuration
  docs/content/middlewares/headers.md
  docs/content/reference/providers/file.md
  integration/fixtures/headers/basic.toml
  integration/fixtures/headers/cors.toml
  integration/headers_test.go
  integration/integration_test.go
  integration/resources/compose/headers.yml
  integration/try/condition.go
  pkg/config/middlewares.go
  pkg/middlewares/headers/headers.go
  pkg/middlewares/headers/headers_test.go
  pkg/provider/label/parser_test.go
  pkg/responsemodifiers/headers.go
Labels: area/middleware, kind/enhancement, size/M, status/3-needs-merge

#4707 Set X-Forwarded-* headers
  integration/simple_test.go
  pkg/middlewares/forwardedheaders/forwarded_header.go
  pkg/middlewares/forwardedheaders/forwarded_header_test.go
Labels: area/middleware, kind/bug/fix, size/L, status/3-needs-merge

#4713 Adds middlewares examples for k8s.
  docs/content/middlewares/addprefix.md
  docs/content/middlewares/basicauth.md
  docs/content/middlewares/buffering.md
  docs/content/middlewares/chain.md
  docs/content/middlewares/circuitbreaker.md
  docs/content/middlewares/digestauth.md
  docs/content/middlewares/errorpages.md
  docs/content/middlewares/forwardauth.md
  docs/content/middlewares/headers.md
  docs/content/middlewares/ipwhitelist.md
  docs/content/middlewares/maxconnection.md
  docs/content/middlewares/passtlsclientcert.md
  docs/content/middlewares/ratelimit.md
  docs/content/middlewares/redirectregex.md
  docs/content/middlewares/redirectscheme.md
  docs/content/middlewares/replacepath.md
Labels: area/documentation, area/middleware, size/L, status/3-needs-merge

#4719 Fix response modifier initial building
  pkg/server/router/router.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4722 Remove usage of github.com/satori/go.uuid
  Gopkg.lock
  Gopkg.toml
  cluster/datastore.go
  server/uuid/uuid.go
  vendor/github.com/Masterminds/goutils/LICENSE.txt
  vendor/github.com/Masterminds/goutils/cryptorandomstringutils.go
  vendor/github.com/Masterminds/goutils/randomstringutils.go
  vendor/github.com/Masterminds/goutils/stringutils.go
  vendor/github.com/Masterminds/goutils/wordutils.go
  vendor/github.com/Masterminds/sprig/crypto.go
  vendor/github.com/Masterminds/sprig/date.go
  vendor/github.com/Masterminds/sprig/defaults.go
  vendor/github.com/Masterminds/sprig/dict.go
  vendor/github.com/Masterminds/sprig/doc.go
  vendor/github.com/Masterminds/sprig/functions.go
  vendor/github.com/Masterminds/sprig/list.go
  vendor/github.com/Masterminds/sprig/numeric.go
  vendor/github.com/Masterminds/sprig/regex.go
  vendor/github.com/Masterminds/sprig/strings.go
  vendor/github.com/huandu/xstrings/common.go
  vendor/github.com/huandu/xstrings/convert.go
  vendor/github.com/huandu/xstrings/count.go
  vendor/github.com/huandu/xstrings/doc.go
  vendor/github.com/huandu/xstrings/manipulate.go
  vendor/github.com/huandu/xstrings/translate.go
Labels: area/cluster, kind/bug/fix, size/S, status/3-needs-merge

#4714 Improve the Documentation with a Reference Section
  docs/.markdownlint.json
  docs/content/glossary.md
  docs/content/https-tls/acme.md
  docs/content/https-tls/ref-acme.toml
  docs/content/providers/docker.md
  docs/content/providers/file.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/acme.md
  docs/content/reference/dynamic-configuration/docker.md
  docs/content/reference/dynamic-configuration/docker.yml
  docs/content/reference/dynamic-configuration/file.md
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/kubernetes-crd.yml
  docs/content/reference/entrypoints.md
  docs/content/reference/logs.md
  docs/content/reference/providers/docker.md
  docs/content/reference/providers/file.md
  docs/content/reference/providers/kubernetescrd.md
  docs/content/reference/static-configuration.md
  docs/content/reference/static-configuration.toml
  docs/content/reference/static-configuration.txt
  docs/content/routing/entrypoints.md
  docs/mkdocs.yml
Labels: area/documentation, kind/enhancement, size/L, status/3-needs-merge

#4647 Add Rancher provider again
  Gopkg.lock
  Gopkg.toml
  cmd/configuration.go
  docs/content/assets/img/providers/rancher.png
  docs/content/providers/rancher.md
  docs/mkdocs.yml
  pkg/config/static/static_config.go
  pkg/provider/aggregator/aggregator.go
  pkg/provider/rancher/config.go
  pkg/provider/rancher/config_test.go
  pkg/provider/rancher/label.go
  pkg/provider/rancher/rancher.go
  vendor/github.com/rancher/go-rancher-metadata/metadata/change.go
  vendor/github.com/rancher/go-rancher-metadata/metadata/metadata.go
  vendor/github.com/rancher/go-rancher-metadata/metadata/types.go
  vendor/github.com/rancher/go-rancher-metadata/metadata/utils.go
  vendor/github.com/sirupsen/logrus/alt_exit.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/formatter.go
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/logrus.go
  vendor/github.com/sirupsen/logrus/terminal_appengine.go
  vendor/github.com/sirupsen/logrus/terminal_bsd.go
  vendor/github.com/sirupsen/logrus/terminal_check_aix.go
  vendor/github.com/sirupsen/logrus/terminal_check_notappengine.go
  vendor/github.com/sirupsen/logrus/terminal_linux.go
  vendor/github.com/sirupsen/logrus/terminal_notwindows.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
  vendor/github.com/sirupsen/logrus/writer.go
Labels: area/provider/rancher, kind/enhancement, size/L, status/3-needs-merge

#4718 Remove github.com/satori/go.uuid.
  Gopkg.lock
  Gopkg.toml
  cmd/traefik/traefik.go
  pkg/server/uuid/uuid.go
  vendor/github.com/Masterminds/goutils/LICENSE.txt
  vendor/github.com/Masterminds/goutils/cryptorandomstringutils.go
  vendor/github.com/Masterminds/goutils/randomstringutils.go
  vendor/github.com/Masterminds/goutils/stringutils.go
  vendor/github.com/Masterminds/goutils/wordutils.go
  vendor/github.com/Masterminds/sprig/crypto.go
  vendor/github.com/Masterminds/sprig/date.go
  vendor/github.com/Masterminds/sprig/defaults.go
  vendor/github.com/Masterminds/sprig/dict.go
  vendor/github.com/Masterminds/sprig/doc.go
  vendor/github.com/Masterminds/sprig/functions.go
  vendor/github.com/Masterminds/sprig/list.go
  vendor/github.com/Masterminds/sprig/numeric.go
  vendor/github.com/Masterminds/sprig/regex.go
  vendor/github.com/Masterminds/sprig/strings.go
  vendor/github.com/huandu/xstrings/common.go
  vendor/github.com/huandu/xstrings/convert.go
  vendor/github.com/huandu/xstrings/count.go
  vendor/github.com/huandu/xstrings/doc.go
  vendor/github.com/huandu/xstrings/manipulate.go
  vendor/github.com/huandu/xstrings/translate.go
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#4708 Fix doc about removing headers
  docs/content/middlewares/headers.md
  pkg/middlewares/headers/headers.go
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4743 Get Structor version from CI env var.
  .travis.yml
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4744 Get Structor version from CI env var.
  .travis.yml
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4733 Fix EOF error
  pkg/tcp/router.go
Labels: area/tcp, kind/bug/fix, size/S, status/3-needs-merge

#4737 Fix typo in tracing docs
  docs/content/observability/tracing.md
Labels: area/documentation, area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#4729 Update the middleware documentation
  docs/content/contributing/building-testing.md
  docs/content/getting-started/concepts.md
  docs/content/https-tls/acme.md
  docs/content/middlewares/addprefix.md
  docs/content/middlewares/basicauth.md
  docs/content/middlewares/buffering.md
  docs/content/middlewares/chain.md
  docs/content/middlewares/circuitbreaker.md
  docs/content/middlewares/compress.md
  docs/content/middlewares/digestauth.md
  docs/content/middlewares/errorpages.md
  docs/content/middlewares/forwardauth.md
  docs/content/middlewares/headers.md
  docs/content/middlewares/ipwhitelist.md
  docs/content/middlewares/maxconnection.md
  docs/content/middlewares/passtlsclientcert.md
  docs/content/middlewares/ratelimit.md
  docs/content/middlewares/redirectregex.md
  docs/content/middlewares/redirectscheme.md
  docs/content/middlewares/replacepath.md
  docs/content/middlewares/replacepathregex.md
  docs/content/middlewares/retry.md
  docs/content/middlewares/stripprefix.md
  docs/content/middlewares/stripprefixregex.md
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#4515 Forward all header values from forward auth response
  middlewares/auth/forward.go
  middlewares/auth/forward_test.go
Labels: area/authentication, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4757 Adds a note in traefik.sample.toml
  traefik.sample.toml
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4765 Improve log message about redundant TLS certificate
  tls/certificate.go
  tls/tls.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#4779 Checksum file name.
  .goreleaser.yml
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#4781 doc: middleware -> middlewares.
  docs/content/middlewares/overview.md
  docs/content/reference/dynamic-configuration/kubernetes-crd.yml
Labels: area/documentation, area/middleware, area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/S

#4776 Enhance Marathon documentation
  docs/content/providers/marathon.md
  docs/content/reference/static-configuration.txt
Labels: area/documentation, area/provider/marathon, kind/enhancement, size/M

#4783 Remove dumpcerts.sh
  contrib/scripts/dumpcerts.sh
Labels: area/documentation, kind/enhancement, size/M

#4767 k8s static configuration explanation
  docs/content/providers/kubernetes-crd.md
  docs/content/user-guides/crd-acme/index.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/M

#4788 Prepare release v2.0.0-alpha4.
  CHANGELOG.md
Labels: area/documentation, size/S

#4794 Fix a typo in documentation
  old/docs/user-guide/examples.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#4798 Review documentation
  docs/content/middlewares/basicauth.md
  docs/content/middlewares/digestauth.md
  docs/content/middlewares/headers.md
  docs/content/middlewares/ipwhitelist.md
  docs/content/middlewares/passtlsclientcert.md
  docs/content/providers/file.md
  docs/content/reference/static-configuration.toml
Labels: area/documentation, area/middleware, kind/enhancement, size/M, status/3-needs-merge

#4811 Minor fix in documentation
  docs/content/reference/dynamic-configuration/labels.yml
  pkg/config/dyn_config.go
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4817 compress link fixed
  docs/content/middlewares/overview.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#4819 Enhance KV client error management
  provider/kv/kv.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
Labels: area/provider/kv, kind/bug/fix, size/M, status/3-needs-merge

#4822 Prepare release v1.7.11
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4818 fix: Rancher documentation.
  docs/content/providers/docker.md
  docs/content/providers/rancher.md
Labels: area/documentation, area/provider/rancher, kind/bug/fix, size/S, status/3-needs-merge

#4829 Fix strip prefix documentation
  docs/content/middlewares/stripprefix.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4824 Adds a reference to the middleware overview.
  docs/content/middlewares/overview.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-crd.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
Labels: area/documentation, area/middleware, kind/enhancement, size/S, status/3-needs-merge
