Repository traefik/traefik, pull requests merged in 2019-08, with the labels that each got.

#5131 Add example for CLI
  docs/user-guide/docker-and-lets-encrypt.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#5150 Add missing KeyUsages for default generated certificate
  tls/generate/generate.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#5153 Apply the case of the CLI flags for the configuration
  pkg/cli/commands_test.go
  pkg/cli/loader_file.go
  pkg/config/flag/flag_test.go
  pkg/config/flag/flagparser.go
  pkg/config/flag/flagparser_test.go
Labels: area/cli, kind/bug/fix, size/M, status/3-needs-merge

#5173 [Docs] YAML indent for domains under TLS section
  docs/content/routing/routers/index.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#4537 warning should not be a fail status
  cmd/configuration.go
  docs/configuration/backends/consulcatalog.md
  provider/consulcatalog/consul_catalog.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/S, status/3-needs-merge

#5121 Add a docker-compose & let's encrypt user-guide
  docs/content/user-guides/docker-compose/acme-dns/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-dns/docker-compose_secrets.yml
  docs/content/user-guides/docker-compose/acme-dns/index.md
  docs/content/user-guides/docker-compose/acme-http/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-http/index.md
  docs/content/user-guides/docker-compose/acme-tls/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-tls/index.md
  docs/content/user-guides/docker-compose/basic-example/docker-compose.yml
  docs/content/user-guides/docker-compose/basic-example/index.md
  docs/mkdocs.yml
Labels: area/acme, area/documentation, area/provider/docker, kind/enhancement, size/L, status/3-needs-merge

#5051 Wrr loadbalancer honors old weight on recovered servers
  healthcheck/healthcheck.go
  healthcheck/healthcheck_test.go
Labels: area/healthcheck, kind/bug/fix, size/S, status/3-needs-merge

#5186 Prepare release v1.7.13
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5194 Make hijackConnectionTracker.Close thread safe
  server/server.go
Labels: area/server, kind/bug/fix, size/S, status/3-needs-merge

#5137 feat(webui): add doc and version in navbar
  webui/src/App.vue
Labels: area/webui, kind/enhancement, size/S, status/3-needs-merge

#5201 Update to go1.12.8
  .semaphoreci/golang.sh
  CONTRIBUTING.md
  Makefile
  build.Dockerfile
  exp.Dockerfile
  middlewares/retry_test.go
  script/.validate
  script/make.sh
  script/validate-errcheck
  script/validate-govet
  tls/certificate.go
Labels: area/infrastructure, kind/bug/fix, priority/P0, size/M, status/3-needs-merge

#5204 Prepare release v1.7.14
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5199 Split runtime.go
  pkg/config/runtime/runtime.go
  pkg/config/runtime/runtime_http.go
  pkg/config/runtime/runtime_http_test.go
  pkg/config/runtime/runtime_tcp.go
  pkg/config/runtime/runtime_tcp_test.go
  pkg/config/runtime/runtime_test.go
Labels: area/infrastructure, kind/enhancement, size/L, status/3-needs-merge

#5207 Fix `url.Parse` due to go1.12.8 changes.
  pkg/middlewares/retry/retry_test.go
Labels: area/middleware, bot/light-review, kind/bug/fix, status/3-needs-merge

#5167 Correct Kubernetes Ingress and IngressRoute port heuristic for choosing HTTPS
  pkg/provider/kubernetes/crd/fixtures/services.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-basic-rule-on-one-path-with-https-(port-==-443)_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-basic-rule-on-one-path-with-https-(port-==-443)_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/crd, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#5162 Add TLS-enabled Router
  integration/fixtures/k8s/02-secrets.yml
  integration/fixtures/k8s/03-ingress-https.yml
  integration/testdata/rawdata-ingress.json
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#5208 fix: invalid pseudo version.
  go.mod
  go.sum
Labels: area/acme, area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5210 fix: lego version.
  go.mod
  go.sum
Labels: area/acme, area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5209 Removed extra colon before the 8080 docker port
  docs/content/user-guides/docker-compose/acme-http/docker-compose.yml
Labels: area/acme, area/documentation, area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#5225 docker-compose labels require $'s to be escaped
  docs/content/middlewares/redirectregex.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5235 Kubernetes support for Auth.HeaderField
  autogen/gentemplates/gen.go
  templates/kubernetes.tmpl
Labels: area/authentication, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge

#5230 Typo in basic auth usersFile label consul-catalog
  docs/configuration/backends/consulcatalog.md
Labels: area/documentation, area/provider/consulcatalog, kind/bug/fix, size/S, status/3-needs-merge

#5245 Bump x/sys to support Risc-V architecture
  go.mod
  go.sum
Labels: kind/enhancement, size/S, status/3-needs-merge

#5237 WeightedRoundRobin load balancer
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/routing/services/index.md
  integration/fixtures/tcp/multi-tls-options.toml
  integration/fixtures/wrr.toml
  integration/fixtures/wrr_sticky.toml
  integration/rest_test.go
  integration/simple_test.go
  pkg/api/handler_http_test.go
  pkg/api/handler_overview_test.go
  pkg/api/handler_test.go
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/dynamic/http_config.go
  pkg/config/dynamic/tcp_config.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/config/file/fixtures/sample.toml
  pkg/config/label/label_test.go
  pkg/config/runtime/runtime_test.go
  pkg/provider/docker/config.go
  pkg/provider/docker/config_test.go
  pkg/provider/file/fixtures/yaml/template_file.yml
  pkg/provider/kubernetes/crd/fixtures/with_two_services_weight.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
  pkg/provider/marathon/config.go
  pkg/provider/marathon/config_test.go
  pkg/provider/rancher/config.go
  pkg/provider/rancher/config_test.go
  pkg/server/router/router_test.go
  pkg/server/server_test.go
  pkg/server/service/loadbalancer/wrr/wrr.go
  pkg/server/service/loadbalancer/wrr/wrr_test.go
  pkg/server/service/service.go
  pkg/server/service/service_test.go
  pkg/testhelpers/config.go
Labels: area/server, breaking, kind/enhancement, size/L, status/3-needs-merge

#5026 Ensure WaitGroup.Done() is always called
  pkg/safe/routine.go
  pkg/safe/routine_test.go
Labels: kind/bug/fix, size/M, status/3-needs-merge

#5246 Add rate limiter, rename maxConn into inFlightReq
  docs/content/assets/img/middleware/inflightreq.png
  docs/content/assets/styles/extra.css
  docs/content/middlewares/inflightreq.md
  docs/content/middlewares/maxconnection.md
  docs/content/middlewares/overview.md
  docs/content/middlewares/ratelimit.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/mkdocs.yml
  go.mod
  integration/fixtures/ratelimit/simple.toml
  integration/integration_test.go
  integration/ratelimit_test.go
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/dynamic/middlewares.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/config/file/fixtures/sample.toml
  pkg/config/label/label_test.go
  pkg/ip/strategy.go
  pkg/ip/strategy_test.go
  pkg/middlewares/extractor.go
  pkg/middlewares/inflightreq/inflight_req.go
  pkg/middlewares/maxconnection/max_connection.go
  pkg/middlewares/ratelimiter/rate_limiter.go
  pkg/middlewares/ratelimiter/rate_limiter_test.go
  pkg/provider/docker/config_test.go
  pkg/provider/marathon/config_test.go
  pkg/server/middleware/middlewares.go
Labels: area/middleware, breaking, kind/enhancement, size/L, status/3-needs-merge

#4755 Add support proxyprotocol v2
  docs/content/routing/entrypoints.md
  go.mod
  go.sum
  integration/proxy_protocol_test.go
  integration/resources/haproxy/haproxy.cfg
  pkg/server/server_entrypoint_tcp.go
Labels: area/server, kind/enhancement, size/S, status/3-needs-merge

#5247 Update to go1.13rc1
  .golangci.toml
  .semaphoreci/golang.sh
  .semaphoreci/setup.sh
  build.Dockerfile
  cmd/traefik/traefik.go
  docs/content/contributing/building-testing.md
  exp.Dockerfile
  go.mod
  integration/fixtures/https/clientca/https_2ca1config.toml
  integration/fixtures/https/clientca/https_2ca2config.toml
  integration/https_test.go
  integration/integration_test.go
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#5266 Fix trailing slash with check new version
  go.mod
  go.sum
  pkg/version/version.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#5255 Fix recovered panic when websocket is mirrored
  pkg/server/service/loadbalancer/mirror/mirror.go
  pkg/server/service/loadbalancer/mirror/mirror_test.go
Labels: area/service, area/websocket, kind/bug/fix, size/S, status/3-needs-merge

#5265 Add errors about unknown entryPoint in runtime api
  integration/fixtures/router_errors.toml
  integration/simple_test.go
  pkg/config/runtime/runtime_http.go
  pkg/config/runtime/runtime_http_test.go
Labels: area/api, kind/bug/fix, size/S, status/3-needs-merge

#4716 Throttle Kubernetes config refresh
  docs/configuration/backends/kubernetes.md
  provider/kubernetes/kubernetes.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#5263 Base of the migration guide
  docs/content/migration/v1-to-v2.md
  docs/mkdocs.yml
Labels: area/documentation, kind/enhancement, size/L, status/3-needs-merge

#5269 Finish kubernetes throttling refactoring
  provider/kubernetes/kubernetes.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge
