Repository traefik/traefik, pull requests merged in 2019-06, with the labels that each got.

#4909 Update docker api version
  provider/docker/docker.go
  provider/docker/docker_unix.go
  provider/docker/docker_windows.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#4927 Use the latest stable version of traefik in the docs
  docs/user-guide/cluster-docker-consul.md
  docs/user-guide/docker-and-lets-encrypt.md
  docs/user-guide/kv-config.md
  docs/user-guide/swarm-mode.md
  docs/user-guide/swarm.md
Labels: area/provider/docker, kind/enhancement, size/S, status/3-needs-merge

#4929 Improve API / Dashboard wording in documentation
  docs/configuration/api.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4923 Specify that Rancher provider is for 1.x only
  docs/content/providers/rancher.md
Labels: area/provider/rancher, kind/enhancement, size/S, status/3-needs-merge

#4938 Remove first byte wait when tcp catches all
  integration/fixtures/tcp/catch-all-no-tls-with-https.toml
  integration/fixtures/tcp/catch-all-no-tls.toml
  integration/resources/compose/tcp.yml
  integration/tcp_test.go
  pkg/tcp/router.go
Labels: area/tcp, kind/bug/fix, size/M, status/3-needs-merge

#4943 Fix Kubernetes Docs for Middlewares
  docs/content/https-tls/acme.md
  docs/content/middlewares/stripprefix.md
Labels: area/documentation, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#4939 Correct typo in documentation on rate limiting
  docs/content/middlewares/ratelimit.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4950 Add Mathieu Lonjaret to maintainers
  docs/content/contributing/maintainers.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4947 HttpOnly and Secure flags on the affinity cookie
  Gopkg.lock
  docs/content/routing/services/index.md
  pkg/config/dyn_config.go
  pkg/provider/label/parser_test.go
  pkg/server/service/service.go
  pkg/server/service/service_test.go
  vendor/github.com/vulcand/oxy/roundrobin/stickysessions.go
Labels: area/sticky-session, kind/enhancement, size/S, status/3-needs-merge

#4954 Allows logs to use local time zone instead of UTC
  docs/configuration/logs.md
  middlewares/accesslog/logger_formatters.go
  middlewares/accesslog/logger_formatters_test.go
Labels: area/logs, kind/bug/fix, size/S, status/3-needs-merge

#4959 change doc references to scheme[Rr]edirect -> redirect[Ss]cheme
  docs/content/middlewares/chain.md
  docs/content/providers/docker.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#4931 Define TLS options on the Router configuration
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/labels.yml
  docs/content/routing/routers/index.md
  integration/fixtures/https/https_tls_options.toml
  integration/fixtures/ratelimit/simple.toml
  integration/fixtures/tcp/catch-all-no-tls-with-https.toml
  integration/fixtures/tcp/multi-tls-options.toml
  integration/https_test.go
  integration/ratelimit_test.go
  integration/tcp_test.go
  pkg/anonymize/anonymize_doOnJSON_test.go
  pkg/config/dyn_config.go
  pkg/config/label/label_test.go
  pkg/config/runtime.go
  pkg/config/runtime_test.go
  pkg/provider/docker/config_test.go
  pkg/provider/rancher/config_test.go
  pkg/server/router/router.go
  pkg/server/router/router_test.go
  pkg/server/router/tcp/router.go
  pkg/server/router/tcp/router_test.go
  pkg/server/server_configuration.go
  pkg/tcp/router.go
  pkg/tls/tlsmanager.go
Labels: area/tls, kind/enhancement, size/L, status/3-needs-merge

#4955 Update headers middleware docs for kubernetes crd
  docs/content/middlewares/headers.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#4967 Prepare release v2.0.0-alpha5
  .travis.yml
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4968 fix: deploy script.
  script/deploy.sh
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4969 fix: revert deploy script.
  script/deploy.sh
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#4966 doc: fix middleware names for CRD.
  docs/content/middlewares/compress.md
  docs/content/middlewares/stripprefix.md
  docs/content/middlewares/stripprefixregex.md
  pkg/config/middlewares.go
Labels: area/documentation, area/middleware, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#4970 Don't allow non flag arguments by default.
  pkg/cli/commands.go
  pkg/cli/commands_test.go
Labels: area/cli, kind/bug/fix, size/S, status/3-needs-merge

#4971 Kubernetes CRD documentation fixes
  docs/content/middlewares/maxconnection.md
  docs/content/middlewares/ratelimit.md
  docs/content/middlewares/stripprefixregex.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#4975 Prepare release v2.0.0-alpha6.
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4976 Upgrade k3s version
  docs/content/user-guides/crd-acme/k3s.yml
  integration/resources/compose/k8s.yml
Labels: area/acme, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#4977 Display an error when help is called on a non existing command.
  pkg/cli/commands.go
  pkg/cli/commands_test.go
Labels: area/cli, kind/bug/fix, size/S, status/3-needs-merge

#4964 API: new contract
  cmd/traefik/traefik.go
  docs/content/operations/api.md
  docs/content/operations/debug-mode.md
  docs/content/reference/static-configuration/cli.txt
  docs/content/reference/static-configuration/env.md
  docs/content/reference/static-configuration/file.toml
  docs/mkdocs.yml
  integration/simple_test.go
  integration/websocket_test.go
  pkg/anonymize/anonymize_config_test.go
  pkg/api/handler.go
  pkg/api/handler_test.go
  pkg/api/testdata/middleware-auth.json
  pkg/api/testdata/middlewares-empty.json
  pkg/api/testdata/middlewares-page2.json
  pkg/api/testdata/middlewares.json
  pkg/api/testdata/router-bar.json
  pkg/api/testdata/routers-empty.json
  pkg/api/testdata/routers-many-lastpage.json
  pkg/api/testdata/routers-page2.json
  pkg/api/testdata/routers.json
  pkg/api/testdata/service-bar.json
  pkg/api/testdata/services-empty.json
  pkg/api/testdata/services-page2.json
  pkg/api/testdata/services.json
  pkg/api/testdata/tcprouter-bar.json
  pkg/api/testdata/tcprouters-empty.json
  pkg/api/testdata/tcprouters-page2.json
  pkg/api/testdata/tcprouters.json
  pkg/api/testdata/tcpservice-bar.json
  pkg/api/testdata/tcpservices-empty.json
  pkg/api/testdata/tcpservices-page2.json
  pkg/api/testdata/tcpservices.json
  pkg/config/static/static_config.go
Labels: area/api, kind/enhancement, size/L, status/3-needs-merge

#4980 docs: rewrite of the HTTPS and TLS section
  docs/content/https-tls/overview.md
  docs/content/https/acme.md
  docs/content/https/overview.md
  docs/content/https/ref-acme.toml
  docs/content/https/tls.md
  docs/content/routing/routers/index.md
  docs/mkdocs.yml
Labels: area/acme, area/documentation, area/tls, kind/enhancement, size/M, status/3-needs-merge

#4982 Change the provider separator from . to @
  docs/content/middlewares/overview.md
  integration/access_log_test.go
  integration/docker_compose_test.go
  integration/fixtures/simple_auth.toml
  integration/simple_test.go
  integration/testdata/rawdata-crd.json
  integration/testdata/rawdata-ingress.json
  integration/tracing_test.go
  pkg/api/handler_test.go
  pkg/api/testdata/getrawdata.json
  pkg/api/testdata/middleware-auth.json
  pkg/api/testdata/middlewares-page2.json
  pkg/api/testdata/middlewares.json
  pkg/api/testdata/router-bar.json
  pkg/api/testdata/routers-many-lastpage.json
  pkg/api/testdata/routers-page2.json
  pkg/api/testdata/routers.json
  pkg/api/testdata/service-bar.json
  pkg/api/testdata/services-page2.json
  pkg/api/testdata/services.json
  pkg/api/testdata/tcprouter-bar.json
  pkg/api/testdata/tcprouters-page2.json
  pkg/api/testdata/tcprouters.json
  pkg/api/testdata/tcpservice-bar.json
  pkg/api/testdata/tcpservices-page2.json
  pkg/api/testdata/tcpservices.json
  pkg/config/runtime.go
  pkg/config/runtime_test.go
  pkg/server/aggregator_test.go
  pkg/server/internal/provider.go
  pkg/server/middleware/middlewares_test.go
  pkg/server/router/router_test.go
  pkg/server/service/service_test.go
  pkg/server/service/tcp/service_test.go
Labels: area/middleware, area/provider, kind/enhancement, size/L, status/3-needs-merge

#4965 New constraints management.
  Gopkg.lock
  Gopkg.toml
  docs/content/getting-started/configuration-overview.md
  docs/content/operations/cli.md
  docs/content/providers/docker.md
  docs/content/providers/marathon.md
  docs/content/providers/overview.md
  docs/content/providers/rancher.md
  docs/content/providers/rancher.toml
  docs/content/reference/static-configuration/cli.txt
  docs/content/reference/static-configuration/env.md
  docs/content/reference/static-configuration/file.toml
  pkg/anonymize/anonymize_config_test.go
  pkg/config/file/file_node_test.go
  pkg/config/file/fixtures/sample.toml
  pkg/config/file/fixtures/sample.yml
  pkg/provider/constrainer.go
  pkg/provider/constraints/constraints.go
  pkg/provider/constraints/constraints_test.go
  pkg/provider/docker/config.go
  pkg/provider/docker/config_test.go
  pkg/provider/docker/docker.go
  pkg/provider/docker/label.go
  pkg/provider/marathon/config.go
  pkg/provider/marathon/config_test.go
  pkg/provider/marathon/label.go
  pkg/provider/marathon/label_test.go
  pkg/provider/marathon/marathon.go
  pkg/provider/rancher/config.go
  pkg/provider/rancher/config_test.go
  pkg/provider/rancher/label.go
  pkg/provider/rancher/rancher.go
  pkg/provider/rest/rest.go
  pkg/types/constraints.go
  pkg/types/metrics.go
  vendor/github.com/ryanuber/go-glob/LICENSE
  vendor/github.com/ryanuber/go-glob/glob.go
  vendor/github.com/vulcand/predicate/lib.go
  vendor/github.com/vulcand/predicate/parse.go
  vendor/github.com/vulcand/predicate/predicate.go
Labels: area/provider, kind/enhancement, size/L, status/3-needs-merge

#4989 Fix some CLI bugs
  docs/content/reference/static-configuration/cli.txt
  docs/content/reference/static-configuration/env.md
  pkg/cli/commands.go
  pkg/config/static/static_config.go
Labels: area/cli, kind/bug/fix, size/S, status/3-needs-merge

#4990 Use name@provider instead of provider@name.
  docs/content/middlewares/overview.md
  integration/access_log_test.go
  integration/docker_compose_test.go
  integration/fixtures/simple_auth.toml
  integration/simple_test.go
  integration/testdata/rawdata-crd.json
  integration/testdata/rawdata-ingress.json
  integration/tracing_test.go
  pkg/api/handler.go
  pkg/api/handler_test.go
  pkg/api/testdata/getrawdata.json
  pkg/api/testdata/middleware-auth.json
  pkg/api/testdata/middlewares-page2.json
  pkg/api/testdata/middlewares.json
  pkg/api/testdata/router-bar.json
  pkg/api/testdata/routers-many-lastpage.json
  pkg/api/testdata/routers-page2.json
  pkg/api/testdata/routers.json
  pkg/api/testdata/service-bar.json
  pkg/api/testdata/services-page2.json
  pkg/api/testdata/services.json
  pkg/api/testdata/tcprouter-bar.json
  pkg/api/testdata/tcprouters-page2.json
  pkg/api/testdata/tcprouters.json
  pkg/api/testdata/tcpservice-bar.json
  pkg/api/testdata/tcpservices-page2.json
  pkg/api/testdata/tcpservices.json
  pkg/config/runtime.go
  pkg/config/runtime_test.go
  pkg/server/aggregator_test.go
  pkg/server/internal/provider.go
  pkg/server/middleware/middlewares_test.go
  pkg/server/router/router_test.go
  pkg/server/service/service_test.go
  pkg/server/service/tcp/service_test.go
Labels: area/provider, kind/enhancement, size/L, status/3-needs-merge

#4985 Filter env vars configuration
  docs/content/getting-started/configuration-overview.md
  pkg/cli/loader_env.go
  pkg/config/env/env.go
  pkg/config/env/env_test.go
  pkg/config/env/filter.go
  pkg/config/env/filter_test.go
  pkg/config/env/fixtures_test.go
  pkg/config/file/file_node.go
  pkg/config/file/raw_node.go
  pkg/config/file/raw_node_test.go
  pkg/config/flag/flag.go
  pkg/config/flag/flagparser.go
  pkg/config/label/label.go
  pkg/config/parser/element_nodes.go
  pkg/config/parser/element_nodes_test.go
  pkg/config/parser/labels_decode.go
  pkg/config/parser/labels_decode_test.go
  pkg/config/parser/node.go
  pkg/config/parser/parser.go
Labels: area/cli, kind/bug/fix, size/S, status/3-needs-merge

#4996 Improve some parts of the documentation.
  docs/content/observability/logs.md
  docs/content/routing/entrypoints.md
  docs/content/routing/routers/index.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#4997 Fix panic in tls manager
  pkg/tls/tlsmanager.go
  pkg/tls/tlsmanager_test.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#5001 Prepare release v2.0.0-alpha7
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#4999 Add remarks about Rancher 2
  docs/configuration/backends/rancher.md
Labels: area/documentation, area/provider/rancher, kind/enhancement, size/S, status/3-needs-merge

#5003 Improve middleware documentation.
  docs/content/middlewares/overview.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#5002 Use dynamodbav tags to override json tags.
  types/types.go
Labels: area/provider/dynamodb, kind/bug/fix, size/S, status/3-needs-merge

#5007 Change the loading resource order
  cmd/traefik/traefik.go
  docs/content/getting-started/configuration-overview.md
  pkg/cli/loader_env.go
  pkg/cli/loader_flag.go
Labels: area/cli, kind/bug/fix, size/S, status/3-needs-merge

#5014 Update Slack support channel references to Discourse community forum
  docs/index.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#5013 Update Slack support channel references to Discourse community forum
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  README.md
  docs/content/contributing/maintainers.md
  docs/content/contributing/submitting-issues.md
Labels: area/documentation, area/infrastructure, size/S, status/3-needs-merge

#5015 doc/crd-acme: specify required kubectl version
  docs/content/user-guides/crd-acme/index.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#5019 Adding content-header to api endpoints
  pkg/api/handler.go
  pkg/api/handler_test.go
Labels: area/api, kind/enhancement, size/S, status/3-needs-merge

#5020 fix: error log message.
  pkg/provider/docker/config.go
  pkg/provider/marathon/config.go
  pkg/provider/rancher/config.go
Labels: area/logs, kind/bug/fix, size/S, status/3-needs-merge

#4963 Clear TLS client headers if TLSMutualAuth is optional
  middlewares/tlsClientHeaders.go
  middlewares/tlsClientHeaders_test.go
  server/server_middlewares.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#5009 Handle cross-provider middleware in kubernetes CRD
  docs/content/middlewares/overview.md
  docs/content/providers/kubernetes-crd.md
  integration/testdata/rawdata-crd.json
  pkg/provider/kubernetes/crd/fixtures/with_middleware_crossprovider.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: area/middleware, area/provider/k8s/crd, kind/enhancement, size/L, status/3-needs-merge

#4953 Update documentation to clarify the default format for logs
  docs/configuration/logs.md
Labels: area/documentation, area/logs, kind/enhancement, size/S, status/3-needs-merge

#5024 Support YAML for the dynamic configuration.
  docs/content/getting-started/configuration-overview.md
  docs/content/providers/file.md
  docs/content/reference/dynamic-configuration/file.md
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/static-configuration/file.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/content/routing/overview.md
  pkg/config/dyn_config.go
  pkg/config/file/file_node.go
  pkg/config/middlewares.go
  pkg/provider/file/file.go
  pkg/provider/file/file_test.go
  pkg/provider/file/fixtures/toml/dir01_file01.toml
  pkg/provider/file/fixtures/toml/dir01_file02.toml
  pkg/provider/file/fixtures/toml/dir01_file03.toml
  pkg/provider/file/fixtures/toml/simple_file_01.toml
  pkg/provider/file/fixtures/toml/simple_file_02.toml
  pkg/provider/file/fixtures/toml/simple_traefik_file_01.toml
  pkg/provider/file/fixtures/toml/simple_traefik_file_02.toml
  pkg/provider/file/fixtures/toml/simple_traefik_file_with_templating.toml
  pkg/provider/file/fixtures/toml/template_file.toml
  pkg/provider/file/fixtures/toml/template_in_directory_file01.toml
  pkg/provider/file/fixtures/toml/template_in_directory_file02.toml
  pkg/provider/file/fixtures/toml/tls_file.cert
  pkg/provider/file/fixtures/yaml/dir01_file01.yml
  pkg/provider/file/fixtures/yaml/dir01_file02.yml
  pkg/provider/file/fixtures/yaml/dir01_file03.yml
  pkg/provider/file/fixtures/yaml/simple_file_01.yml
  pkg/provider/file/fixtures/yaml/simple_file_02.yml
  pkg/provider/file/fixtures/yaml/simple_traefik_file_01.yml
  pkg/provider/file/fixtures/yaml/simple_traefik_file_02.yml
  pkg/provider/file/fixtures/yaml/template_file.yml
  pkg/provider/file/fixtures/yaml/template_in_directory_file01.yml
  pkg/provider/file/fixtures/yaml/template_in_directory_file02.yml
  pkg/provider/file/fixtures/yaml/tls_file.cert
Labels: area/provider/file, kind/enhancement, size/L, status/3-needs-merge

#5021 Check for multiport services on Global Backend Ingress
  provider/kubernetes/fixtures/loadGlobalIngressWithMultiplePortNumbers_endpoints.yml
  provider/kubernetes/fixtures/loadGlobalIngressWithMultiplePortNumbers_ingresses.yml
  provider/kubernetes/fixtures/loadGlobalIngressWithMultiplePortNumbers_services.yml
  provider/kubernetes/kubernetes.go
  provider/kubernetes/kubernetes_test.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#5034 Drop headers by default in access logs.
  docs/content/observability/access-logs.md
  pkg/types/logs.go
Labels: area/logs, kind/enhancement, size/S, status/3-needs-merge

#5031 Define a TLS section to group TLS, TLSOptions, and TLSStores.
  docs/content/https/tls.md
  docs/content/providers/file.md
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/routing/routers/index.md
  integration/fixtures/acme/acme_tls.toml
  integration/fixtures/acme/certificates.toml
  integration/fixtures/grpc/config.toml
  integration/fixtures/grpc/config_h2c_termination.toml
  integration/fixtures/grpc/config_insecure.toml
  integration/fixtures/grpc/config_retry.toml
  integration/fixtures/https/clientca/https_1ca1config.toml
  integration/fixtures/https/clientca/https_2ca1config.toml
  integration/fixtures/https/clientca/https_2ca2config.toml
  integration/fixtures/https/dynamic_https.toml
  integration/fixtures/https/dynamic_https_sni_default_cert.toml
  integration/fixtures/https/https_sni.toml
  integration/fixtures/https/https_sni_case_insensitive_dynamic.toml
  integration/fixtures/https/https_sni_default_cert.toml
  integration/fixtures/https/https_sni_strict.toml
  integration/fixtures/https/https_tls_options.toml
  integration/fixtures/tcp/mixed.toml
  integration/fixtures/tcp/multi-tls-options.toml
  integration/fixtures/tlsclientheaders/simple.toml
  integration/fixtures/websocket/config_https.toml
  integration/https_test.go
  pkg/config/dyn_config.go
  pkg/config/file/fixtures/sample.toml
  pkg/provider/acme/provider.go
  pkg/provider/file/file.go
  pkg/provider/file/file_test.go
  pkg/provider/file/fixtures/toml/dir01_file03.toml
  pkg/provider/file/fixtures/toml/simple_file_01.toml
  pkg/provider/file/fixtures/toml/simple_file_02.toml
  pkg/provider/file/fixtures/toml/simple_traefik_file_01.toml
  pkg/provider/file/fixtures/toml/simple_traefik_file_02.toml
  pkg/provider/file/fixtures/toml/simple_traefik_file_with_templating.toml
  pkg/provider/file/fixtures/toml/template_file.toml
  pkg/provider/file/fixtures/yaml/dir01_file03.yml
  pkg/provider/file/fixtures/yaml/simple_file_01.yml
  pkg/provider/file/fixtures/yaml/simple_file_02.yml
  pkg/provider/file/fixtures/yaml/simple_traefik_file_02.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
  pkg/server/aggregator.go
  pkg/server/aggregator_test.go
  pkg/server/router/tcp/router_test.go
  pkg/server/server_configuration.go
  pkg/tls/tls.go
  pkg/tls/tlsmanager.go
  pkg/tls/tlsmanager_test.go
Labels: area/tls, kind/enhancement, size/L, status/3-needs-merge

#5010 Improve tracing
  docs/content/observability/tracing.md
  docs/content/observability/tracing/datadog.md
  docs/content/observability/tracing/haystack.md
  docs/content/observability/tracing/instana.md
  docs/content/observability/tracing/jaeger.md
  docs/content/observability/tracing/overview.md
  docs/content/observability/tracing/zipkin.md
  docs/content/reference/static-configuration/cli.txt
  docs/content/reference/static-configuration/env.md
  docs/content/reference/static-configuration/file.toml
  docs/mkdocs.yml
  integration/fixtures/tracing/simple-jaeger.toml
  integration/fixtures/tracing/simple-zipkin.toml
  integration/resources/compose/tracing.yml
  integration/tracing_test.go
  pkg/anonymize/anonymize_config_test.go
  pkg/config/file/file_node_test.go
  pkg/config/file/fixtures/sample.toml
  pkg/config/file/fixtures/sample.yml
  pkg/config/static/static_config.go
  pkg/server/server.go
  pkg/tracing/haystack/haystack.go
  pkg/tracing/tracing.go
Labels: area/middleware/tracing, kind/enhancement, size/L, status/3-needs-merge

#4983 Make HTTP Keep-Alive timeout configurable for backend connections
  docs/content/reference/static-configuration/cli.txt
  docs/content/reference/static-configuration/env.md
  docs/content/reference/static-configuration/file.toml
  integration/fixtures/timeout/keepalive.toml
  integration/integration_test.go
  integration/keepalive_test.go
  pkg/config/static/static_config.go
  pkg/server/roundtripper.go
Labels: area/server, kind/enhancement, size/M, status/3-needs-merge
