Repository traefik/traefik, pull requests merged in 2020-05, with the labels that each got.

#6762 Improve acme CLI options in Let's Encrypt documentation
  docs/content/https/acme.md
  docs/content/https/ref-acme.txt
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#6792 Update go-acme/lego to v3.7.0
  docs/content/https/acme.md
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6795 Update Copyright
  docs/mkdocs.yml
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6769 Improve redirectScheme documentation
  docs/content/middlewares/redirectscheme.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#6768 Makefile: be consistent with host.docker.internal on all platforms
  Makefile
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#6552 Add ingress setup for minikube in docs
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#6806 Remove redundant paragraph in Kubernetes ingress documentation
  docs/content/providers/kubernetes-ingress.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#6779 Upgrade Client-go to 0.18.2
  go.mod
  go.sum
  pkg/provider/kubernetes/crd/generated/clientset/versioned/clientset.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_ingressroute.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_ingressrouteudp.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_middleware.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_tlsoption.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_tlsstore.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_traefikservice.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/ingressrouteudp.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/tlsstore.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/ingressrouteudp.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/tlsstore.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/ingress/client.go
Labels: area/provider/k8s, area/provider/k8s/crd, area/provider/k8s/ingress, kind/enhancement, size/L, status/3-needs-merge

#6817 Fix acme.md typo
  docs/content/https/acme.md
Labels: area/acme, area/documentation, size/S, status/3-needs-merge

#6819 Fixed incorrect logging parameter in documentation
  docs/content/getting-started/install-traefik.md
Labels: size/S, status/3-needs-merge

#6811 Fixes config samples regarding forceSlash option
  docs/content/middlewares/stripprefix.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#6571 Doc improvement on entrypoints whitelist for v1.7
  docs/configuration/entrypoints.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#6836 Use "headers" instead of "header" in access log docs
  docs/content/observability/access-logs.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6847 Fix healthcheck.interval in docs
  docs/content/routing/providers/docker.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#6763 Use specified network for "container" network mode
  pkg/provider/docker/config.go
Labels: area/provider/docker, size/S, status/3-needs-merge
