Repository traefik/traefik, pull requests merged in 2020-04, with the labels that each got.

#6619 Fix bad address syntax in Global HTTP to HTTPS redirection v2 TOML
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, bot/light-review, size/S, status/2-needs-review, status/3-needs-merge

#6624 Delete an unnecessary warning log
  pkg/provider/kubernetes/ingress/client.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge

#6647 Add note about health check in kubernetes
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/routing/services/index.md
  pkg/config/static/entrypoints.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
Labels: area/documentation, area/healthcheck, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/S, status/3-needs-merge

#6648 Fix documentation
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/routing/services/index.md
  pkg/config/static/entrypoints.go
Labels: area/documentation, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#6650 Fix typos in documentation
  docs/content/migration/v1-to-v2.md
  docs/content/user-guides/docker-compose/acme-dns/index.md
  webui/readme.md
Labels: area/acme, area/provider/docker, area/webui, size/S, status/3-needs-merge

#6671 Fix documentation about api.insecure defaults
  traefik.sample.toml
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6673 Add link to tracing with elastic
  docs/content/observability/tracing/overview.md
Labels: area/documentation, area/middleware/tracing, kind/enhancement, size/S, status/3-needs-merge

#6675 Update headers.md
  docs/content/middlewares/headers.md
Labels: area/documentation, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#6660 FIx wS heAder
  pkg/server/service/proxy.go
Labels: area/websocket, kind/bug/fix, size/S, status/3-needs-merge

#6663 Added missing text `a yaml file` in Configuration
  docs/content/routing/entrypoints.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6681 doc: improve CRD documentation.
  docs/content/providers/kubernetes-crd.md
  docs/content/routing/routers/index.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/S, status/3-needs-merge

#6683 fix: consider UDP when checking for empty config
  pkg/server/configurationwatcher.go
Labels: area/udp, kind/bug/fix, size/S, status/3-needs-merge

#6691 Edit code indentation for correct alignment
  docs/content/providers/file.md
Labels: area/documentation, area/provider/file, kind/enhancement, size/S, status/3-needs-merge

#6698 Fix case-sensitive header Sec-Websocket-Version
  pkg/server/service/proxy.go
Labels: kind/bug/fix, size/S, status/3-needs-merge

#6689 Add Access log chapter for migration v1->v2
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, area/logs, kind/enhancement, size/S, status/3-needs-merge

#6727 Update go-acme/lego to v3.6.0
  docs/content/https/acme.md
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6719 Add sentence about the resource namespace and middleware
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#6720 fix KV service docs for http:url and tcp:address
  docs/content/routing/providers/kv.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6734 doc: add apiVersion for "kind: Middleware"
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#6611 Add polling for getOverview in toolbar
  webui/src/components/_commons/ToolBar.vue
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#6705 Manage case for all Websocket headers
  pkg/server/service/proxy.go
Labels: area/websocket, kind/bug/fix, size/S, status/3-needs-merge

#6738 Doc middleware compress content type
  docs/content/middlewares/compress.md
  docs/content/middlewares/contenttype.md
Labels: area/documentation, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#6745 fix: cookie documentation.
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/kv.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
  pkg/config/dynamic/http_config.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-annotations_service.yml
Labels: area/documentation, area/provider/docker, area/provider/k8s, area/provider/k8s/ingress, area/provider/marathon, area/provider/rancher, area/sticky-session, kind/bug/fix, size/S, status/3-needs-merge

#6744 Update the documentation for helm chart
  docs/content/getting-started/install-traefik.md
Labels: area/documentation, area/provider/k8s/helm, kind/bug/fix, size/S, status/3-needs-merge

#6713 ratelimit: do not default to ipstrategy too early
  pkg/config/dynamic/middlewares.go
  pkg/middlewares/extractor.go
  pkg/middlewares/inflightreq/inflight_req.go
  pkg/middlewares/ratelimiter/rate_limiter_test.go
  pkg/provider/consulcatalog/config_test.go
  pkg/provider/docker/config_test.go
  pkg/provider/marathon/config_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6717 Disable distribution of the WebUI as PWA
  webui/package.json
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#6753 Prepare release v2.2.1
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6754 Merge current v2.2 branch into master
  CHANGELOG.md
  build.Dockerfile
  docs/content/getting-started/install-traefik.md
  docs/content/https/acme.md
  docs/content/middlewares/compress.md
  docs/content/middlewares/contenttype.md
  docs/content/middlewares/headers.md
  docs/content/migration/v1-to-v2.md
  docs/content/observability/tracing/overview.md
  docs/content/providers/file.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/routing/entrypoints.md
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/kubernetes-ingress.md
  docs/content/routing/providers/kv.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
  docs/content/routing/routers/index.md
  docs/content/routing/services/index.md
  docs/content/user-guides/docker-compose/acme-dns/index.md
  go.mod
  go.sum
  pkg/config/dynamic/http_config.go
  pkg/config/dynamic/middlewares.go
  pkg/config/static/entrypoints.go
  pkg/middlewares/auth/basic_auth.go
  pkg/middlewares/auth/digest_auth.go
  pkg/middlewares/extractor.go
  pkg/middlewares/inflightreq/inflight_req.go
  pkg/middlewares/ratelimiter/rate_limiter_test.go
  pkg/provider/consulcatalog/config.go
  pkg/provider/consulcatalog/config_test.go
  pkg/provider/docker/config_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/provider/kubernetes/ingress/annotations_test.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-annotations_service.yml
  pkg/provider/marathon/config_test.go
  pkg/server/configurationwatcher.go
  pkg/server/service/proxy.go
  pkg/server/service/roundtripper.go
  pkg/server/service/service.go
  pkg/server/service/smart_roundtripper.go
  traefik.sample.toml
  webui/package.json
  webui/readme.md
  webui/src/components/_commons/PanelTLS.vue
  webui/src/components/_commons/ToolBar.vue
Labels: size/L

#6752 Fix wss in x-forwarded-proto
  pkg/middlewares/forwardedheaders/forwarded_header.go
  pkg/middlewares/forwardedheaders/forwarded_header_test.go
Labels: area/middleware, area/websocket, kind/bug/fix, size/S, status/3-needs-merge
