Repository traefik/traefik, pull requests merged in 2020-01, with the labels that each got.

#6116 Fix command for use websecure via CLI
  docs/content/routing/entrypoints.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6071 fix: skip ECS container when information are missing instead of panic.
  provider/ecs/ecs.go
Labels: area/provider/ecs, kind/bug/fix, size/S, status/3-needs-merge

#6115 Handle respondingtimeout and better shutdown tests.
  cmd/traefik/traefik.go
  pkg/server/server_entrypoint_tcp.go
  pkg/server/server_entrypoint_tcp_test.go
  pkg/tcp/router.go
Labels: area/server, kind/bug/fix, size/M, status/3-needs-merge

#6107 Allow to run docker from Makefile in non-interactive mode
  Makefile
  docs/content/contributing/building-testing.md
Labels: area/infrastructure, kind/enhancement, size/S, status/3-needs-merge

#6087 Log the ignored namespace only when needed
  pkg/provider/kubernetes/crd/kubernetes_http.go
Labels: area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#6058 Improve documentation about Kubernetes IngressRoute
  docs/content/https/tls.md
  docs/content/migration/v1-to-v2.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/kubernetes-crd-definition.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-ingressroutetcp-definition.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-rbac.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd.md
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/L, status/3-needs-merge

#6135 Improves error message when a configuration file is empty.
  pkg/config/file/file_node.go
  pkg/config/file/file_node_test.go
  pkg/config/file/fixtures/empty.toml
  pkg/config/file/fixtures/no_conf.toml
Labels: area/logs, kind/bug/fix, size/S, status/3-needs-merge

#6072 fix(tracing): makes sure tracing headers are being propagated when using forwardAuth
  pkg/middlewares/auth/forward.go
  pkg/middlewares/auth/forward_test.go
Labels: area/authentication, area/middleware, area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#6121 k8s Ingress: fix crash on rules with nil http
  pkg/provider/kubernetes/ingress/fixtures/Ingress-one-rule-host-only_ingress.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge

#6137 Prepare release v2.1.2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6138 Merge current v2.1 branch into master
  CHANGELOG.md
  cmd/traefik/traefik.go
  docs/content/contributing/building-testing.md
  docs/content/https/acme.md
  docs/content/https/include-acme-multiple-domains-from-rule-example.md
  docs/content/https/include-acme-single-domain-example.md
  docs/content/https/ref-acme.toml
  docs/content/https/ref-acme.txt
  docs/content/https/ref-acme.yaml
  docs/content/https/tls.md
  docs/content/middlewares/ipwhitelist.md
  docs/content/migration/v1-to-v2.md
  docs/content/migration/v2.md
  docs/content/operations/include-api-examples.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/kubernetes-crd-definition.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-ingressroutetcp-definition.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-rbac.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd.md
  docs/content/routing/entrypoints.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/mkdocs.yml
  go.mod
  go.sum
  integration/consul_catalog_test.go
  integration/testdata/rawdata-consul.json
  integration/testdata/rawdata-etcd.json
  integration/testdata/rawdata-ingress.json
  integration/testdata/rawdata-redis.json
  integration/testdata/rawdata-zk.json
  pkg/config/file/file_node.go
  pkg/config/file/file_node_test.go
  pkg/config/file/fixtures/empty.toml
  pkg/config/file/fixtures/no_conf.toml
  pkg/config/parser/labels_decode.go
  pkg/config/parser/labels_decode_test.go
  pkg/middlewares/accesslog/capture_response_writer.go
  pkg/middlewares/accesslog/capture_response_writer_test.go
  pkg/middlewares/auth/forward.go
  pkg/middlewares/auth/forward_test.go
  pkg/middlewares/metrics/metrics_test.go
  pkg/middlewares/metrics/recorder.go
  pkg/provider/consulcatalog/consul_catalog.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-one-rule-host-only_ingress.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
  pkg/provider/traefik/fixtures/api_insecure_with_dashboard.json
  pkg/provider/traefik/fixtures/full_configuration.json
  pkg/provider/traefik/internal.go
  pkg/server/server_entrypoint_tcp.go
  pkg/server/server_entrypoint_tcp_test.go
  pkg/server/service/proxy.go
  pkg/tcp/router.go
Labels: size/L

#6048 Rename the non-exposed field "count" to "size"
  pkg/middlewares/accesslog/capture_request_reader.go
  pkg/middlewares/accesslog/logdata.go
  pkg/middlewares/accesslog/logger.go
Labels: area/logs, area/middleware, kind/enhancement, size/L, status/3-needs-merge

#6055 Add period for rate limiter middleware
  docs/content/middlewares/ratelimit.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/middlewares/ratelimiter/rate_limiter.go
  pkg/middlewares/ratelimiter/rate_limiter_test.go
  pkg/provider/kv/kv_test.go
Labels: area/middleware, kind/enhancement, size/M, status/3-needs-merge

#6147 Fix typo in docker routing documentation
  docs/content/routing/providers/docker.md
Labels: area/documentation, area/provider/docker, size/S, status/3-needs-merge

#6150 Update Marathon.md
  docs/content/user-guides/marathon.md
Labels: area/provider/marathon, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6152 Update APM client.
  go.mod
  go.sum
Labels: area/middleware/tracing, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#6154 Fix small typo in user-guides documentation
  docs/content/user-guides/docker-compose/basic-example/index.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/L, status/3-needs-merge

#6162 Update the k8s api version in the documentation
  docs/user-guide/kubernetes.md
  examples/k8s/traefik-deployment.yaml
Labels: area/documentation, area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge

#6163 Fixed typo in k8s doc
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#6085 Add namespace attribute on IngressRouteTCP service
  docs/content/reference/dynamic-configuration/kubernetes-crd.yml
  integration/fixtures/k8s/05-ingressroutetcp.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_different_services_ns.yml
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroutetcp.go
Labels: area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/M, status/3-needs-merge

#6170 Update license date
  LICENSE.md
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/clientset.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/doc.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/fake/clientset_generated.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/fake/doc.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/fake/register.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/scheme/doc.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/scheme/register.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/doc.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/doc.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_ingressroute.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_middleware.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_tlsoption.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_traefik_client.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/fake/fake_traefikservice.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/generated_expansion.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/traefik_client.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/typed/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/factory.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/generic.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/interface.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/interface.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/generated/informers/externalversions/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/expansion_generated.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/generated/listers/traefik/v1alpha1/traefikservice.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/tls/zz_generated.deepcopy.go
  pkg/types/zz_generated.deepcopy.go
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/L, status/3-needs-merge

#6160 Add Ingress annotations support
  docs/content/providers/kubernetes-ingress.md
  docs/content/routing/providers/kubernetes-ingress.md
  docs/mkdocs.yml
  integration/testdata/rawdata-ingress.json
  pkg/provider/kubernetes/ingress/annotations.go
  pkg/provider/kubernetes/ingress/annotations_test.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-annotations_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-annotations_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-annotations_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/L, status/3-needs-merge

#6171 Support 'networking.k8s.io/v1beta1' ingress apiVersion
  docs/content/migration/v1-to-v2.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/kubernetes-ingress.md
  integration/fixtures/k8s/02-services.yml
  integration/fixtures/k8s/03-ingress-https.yml
  integration/fixtures/k8s/03-ingress.yml
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/crd/client_mock_test.go
  pkg/provider/kubernetes/ingress/builder_ingress_test.go
  pkg/provider/kubernetes/ingress/client.go
  pkg/provider/kubernetes/ingress/client_mock_test.go
  pkg/provider/kubernetes/ingress/fixtures/2-ingresses-in-different-namespace-with-same-service-name_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Double-Single-Service-Ingress_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-Two-rules-with-one-host-and-one-path_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-one-rule-host-only_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-one-rule-with-one-host-and-two-paths_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-one-rule-with-one-path-and-one-host_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-one-rule-with-two-paths_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-bad-host-syntax_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-bad-path-syntax_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-basic-rule-on-one-path-with-https-(port-==-443)_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-basic-rule-on-one-path-with-https-(portname-==-https)_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-basic-rule-on-one-path-with-https-(portname-starts-with-https)_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-basic-rule-on-one-path_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-annotations_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-default-traefik-ingressClass_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-ingressClass-without-annotation_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-non-matching-provider-traefik-ingressClass-and-annotation_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-one-host-without-path_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-one-service-without-endpoint_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-one-service-without-endpoints-subset_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-only-a-bad-host-syntax_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-only-a-bad-path-syntax_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-name-in-backend-and-no-pod-replica_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-value-in-backend-and-no-pod-replica_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-service-with-externalName_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-two-different-rules-with-one-path_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-two-paths-using-same-service-and-different-port-name_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-two-services_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-unknown-service-port-name_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-unknown-service-port_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-with-port-name-in-backend-and-2-pod-replica_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-without-provider-traefik-ingressClass-and-unknown-annotation_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Single-Service-Ingress-(without-any-rules)_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/TLS-support_ingress.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/M, status/3-needs-merge

#6192 Update go-acme/lego to v3.3.0
  docs/content/https/acme.md
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6190 Update supported providers list.
  docs/content/providers/overview.md
  docs/content/routing/entrypoints.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6202 Update golangci-lint version.
  .golangci.toml
  build.Dockerfile
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#6194 Adding an explanation how to use `htpasswd` for k8s secret
  docs/content/middlewares/basicauth.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#6195 doc: adds an explanation of the global redirection pattern.
  docs/content/getting-started/install-traefik.md
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#6198 fix: invalid service definition.
  pkg/provider/docker/config.go
  pkg/provider/docker/config_test.go
Labels: area/provider/docker, kind/bug/fix, size/M, status/3-needs-merge

#6199 Use the calculated port when useBindPortIP is enabled
  pkg/provider/docker/config.go
  pkg/provider/docker/config_test.go
Labels: area/provider/docker, kind/bug/fix, size/S, status/3-needs-merge

#6140 fix memleak in safe.Pool
  pkg/safe/routine.go
  pkg/safe/routine_test.go
  pkg/server/service/loadbalancer/mirror/mirror.go
Labels: area/service, kind/bug/fix, size/S, status/3-needs-merge

#6097 Remove Content-Type auto-detection
  .golangci.toml
  docs/content/middlewares/contenttype.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/mkdocs.yml
  integration/fixtures/simple_contenttype.toml
  integration/fixtures/test.pdf
  integration/simple_test.go
  pkg/config/dynamic/middlewares.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/provider/consulcatalog/consul_catalog.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/server/middleware/middlewares.go
  pkg/server/server_entrypoint_tcp.go
Labels: area/server, kind/bug/fix, size/M, status/3-needs-merge

#6215 Prepare release v2.1.3
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6148 systematically call updateIngressStatus
  pkg/provider/kubernetes/ingress/kubernetes.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#6212 fix: etcd provider name.
  pkg/provider/kv/kv.go
Labels: area/provider/etcd, area/provider/kv, kind/bug/fix, size/S, status/3-needs-merge

#6225 Improvement of the certificates resolvers logs
  cmd/traefik/traefik.go
Labels: area/acme, area/logs, kind/bug/fix, size/S, status/3-needs-merge

#6240 Fix dnspod update.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/decker502/dnspod-go/domains.go
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6233 use provider-qualified name when recursing for chain
  pkg/responsemodifiers/response_modifier.go
  pkg/server/aggregator.go
  pkg/server/middleware/middlewares.go
  pkg/server/middleware/middlewares_test.go
  pkg/server/provider/provider.go
  pkg/server/provider/provider_test.go
  pkg/server/router/router.go
  pkg/server/router/tcp/router.go
  pkg/server/service/service.go
  pkg/server/service/service_test.go
  pkg/server/service/tcp/service.go
  pkg/server/service/tcp/service_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge
