Repository traefik/traefik, pull requests merged in 2020-06, with the labels that each got.

#6876 fix: dead link.
  docs/content/middlewares/headers.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6878 Update kubernetes-crd.md
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#6815 Fix mem leak on UDP connections
  pkg/udp/conn.go
Labels: area/udp, kind/bug/fix, size/S, status/3-needs-merge

#6899 Fix doc url for Aurora DNS provider
  docs/content/https/acme.md
Labels: area/acme, area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6797 Avoid overwriting already received UDP messages
  pkg/udp/conn.go
  pkg/udp/conn_test.go
Labels: area/udp, kind/bug/fix, size/S, status/3-needs-merge

#6904 Fix v1-> v2 migration: unify domain name in documentation example
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#6908 fix a broken link on Docker plugins documentation
  docs/content/providers/docker.md
Labels: area/documentation, area/provider/docker, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6921 Merge current v2.2 branch into master
  docs/content/https/acme.md
  docs/content/middlewares/headers.md
  docs/content/migration/v1-to-v2.md
  docs/content/observability/access-logs.md
  docs/content/providers/docker.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/kubernetes-ingress.md
  pkg/middlewares/forwardedheaders/forwarded_header.go
  pkg/provider/docker/config.go
  pkg/udp/conn.go
  pkg/udp/conn_test.go
Labels: size/M

#6750 internal handlers: support for response modifiers
  integration/fixtures/headers/secure.toml
  integration/headers_test.go
  pkg/middlewares/headers/headers.go
  pkg/responsemodifiers/response_modifier.go
  pkg/responsemodifiers/response_modifier_test.go
  pkg/server/service/internalhandler.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6902 Fix ipv6 handling in redirect middleware
  integration/testdata/rawdata-consul.json
  integration/testdata/rawdata-etcd.json
  integration/testdata/rawdata-ingress.json
  integration/testdata/rawdata-redis.json
  integration/testdata/rawdata-zk.json
  pkg/middlewares/redirect/redirect.go
  pkg/middlewares/redirect/redirect_scheme.go
  pkg/middlewares/redirect/redirect_scheme_test.go
  pkg/provider/traefik/fixtures/api_insecure_with_dashboard.json
  pkg/provider/traefik/fixtures/full_configuration.json
  pkg/provider/traefik/internal.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6928 Fix Headers middleware documentation, usage of proper bool
  docs/content/middlewares/headers.md
Labels: area/documentation, area/middleware, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#6875 feat: use parser to load dynamic config from file.
  docs/content/migration/v2.md
  docs/content/providers/file.md
  integration/fixtures/acme/certificates.toml
  integration/fixtures/tcp/mixed.toml
  integration/fixtures/timeout/keepalive.toml
  integration/fixtures/tracing/simple-jaeger-collector.toml
  integration/fixtures/tracing/simple-jaeger.toml
  integration/fixtures/tracing/simple-zipkin.toml
  pkg/cli/fixtures_test.go
  pkg/config/dynamic/http_config.go
  pkg/config/dynamic/middlewares.go
  pkg/config/dynamic/tcp_config.go
  pkg/config/dynamic/udp_config.go
  pkg/config/file/file.go
  pkg/config/file/file_test.go
  pkg/config/file/fixtures_test.go
  pkg/config/parser/tags.go
  pkg/config/static/entrypoints.go
  pkg/config/static/static_config.go
  pkg/provider/acme/provider.go
  pkg/provider/file/file.go
  pkg/provider/file/file_test.go
  pkg/provider/file/fixtures/toml/simple_file_01.toml
  pkg/provider/file/fixtures/toml/simple_file_02.toml
  pkg/provider/file/fixtures/toml/template_in_directory_file02.toml
  pkg/provider/file/fixtures/yaml/template_in_directory_file01.yml
  pkg/types/metrics.go
Labels: area/provider/file, kind/enhancement, size/S, status/3-needs-merge

#6827 Provide username in log data on auth failure
  integration/access_log_test.go
  pkg/middlewares/auth/basic_auth.go
  pkg/middlewares/auth/digest_auth.go
Labels: area/authentication, area/logs, area/middleware, size/S, status/3-needs-merge

#6936 Add rtribotte to maintainers
  docs/content/contributing/maintainers.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#6901 Fix ipv6 handling in redirect middleware
  middlewares/redirect/redirect.go
  middlewares/redirect/redirect_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge
