Repository traefik/traefik, pull requests merged in 2020-03, with the labels that each got.

#6394 Update to go1.14
  .semaphoreci/golang.sh
  CONTRIBUTING.md
  build.Dockerfile
  configuration/configuration.go
  configuration/configuration_test.go
  exp.Dockerfile
  server/server.go
  tls/certificate.go
Labels: area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#6375 Updated rbac and demonset example bloc
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, size/S, status/3-needs-merge

#6413 Added support for replacement containing escaped characters
  pkg/middlewares/replacepath/replace_path.go
  pkg/middlewares/replacepath/replace_path_test.go
  pkg/middlewares/replacepathregex/replace_path_regex.go
  pkg/middlewares/replacepathregex/replace_path_regex_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6416 Revert "Allow fsnotify to reload config files on k8s (or symlinks)"
  pkg/provider/file/file.go
Labels: area/provider/file, kind/bug/fix, size/S, status/3-needs-merge

#6410 Disable default APM tracer.
  .dockerignore
  build.Dockerfile
  pkg/tracing/elastic/elastic.go
Labels: area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#6423 Added wildcard ACME example
  docs/content/https/include-acme-multiple-domains-example.md
Labels: area/acme, area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#5996 Rework access control origin configuration
  docs/content/middlewares/headers.md
  docs/content/migration/v2.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  integration/fixtures/headers/cors.toml
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/middlewares/headers/headers.go
  pkg/middlewares/headers/headers_test.go
  pkg/provider/kv/kv_test.go
Labels: area/middleware, kind/enhancement, size/S, status/3-needs-merge

#6426 Update the k8s CRD documentation
  docs/content/migration/v2.md
  docs/content/reference/dynamic-configuration/kubernetes-crd-rbac.yml
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/user-guides/crd-acme/01-crd.yml
  docs/content/user-guides/crd-acme/index.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, size/M, status/3-needs-merge

#6417 Entry point redirection and default routers configuration
  cmd/traefik/traefik.go
  docs/content/migration/v1-to-v2.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/content/routing/entrypoints.md
  integration/docker_compose_test.go
  integration/testdata/rawdata-consul.json
  integration/testdata/rawdata-crd.json
  integration/testdata/rawdata-etcd.json
  integration/testdata/rawdata-ingress.json
  integration/testdata/rawdata-redis.json
  integration/testdata/rawdata-zk.json
  pkg/api/testdata/entrypoint-bar.json
  pkg/api/testdata/entrypoints-many-lastpage.json
  pkg/api/testdata/entrypoints-page2.json
  pkg/api/testdata/entrypoints.json
  pkg/config/dynamic/http_config.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/config/runtime/runtime_http.go
  pkg/config/static/entrypoints.go
  pkg/provider/traefik/fixtures/api_insecure_with_dashboard.json
  pkg/provider/traefik/fixtures/api_insecure_without_dashboard.json
  pkg/provider/traefik/fixtures/api_secure_with_dashboard.json
  pkg/provider/traefik/fixtures/api_secure_without_dashboard.json
  pkg/provider/traefik/fixtures/full_configuration.json
  pkg/provider/traefik/fixtures/full_configuration_secure.json
  pkg/provider/traefik/fixtures/models.json
  pkg/provider/traefik/fixtures/ping_custom.json
  pkg/provider/traefik/fixtures/ping_simple.json
  pkg/provider/traefik/fixtures/prometheus_custom.json
  pkg/provider/traefik/fixtures/prometheus_simple.json
  pkg/provider/traefik/fixtures/redirection.json
  pkg/provider/traefik/fixtures/rest_insecure.json
  pkg/provider/traefik/fixtures/rest_secure.json
  pkg/provider/traefik/internal.go
  pkg/provider/traefik/internal_test.go
  pkg/server/aggregator.go
  pkg/server/aggregator_test.go
  pkg/server/configurationwatcher.go
  pkg/server/configurationwatcher_test.go
  pkg/server/router/router_test.go
  pkg/server/routerfactory_test.go
  pkg/server/service/internalhandler.go
  pkg/testhelpers/config.go
Labels: area/acme, area/middleware, area/tls, kind/enhancement, size/L, status/3-needs-merge

#6255 Add metrics about TLS
  pkg/metrics/metrics.go
  pkg/metrics/prometheus.go
  pkg/middlewares/metrics/metrics.go
  pkg/tls/certificate.go
  pkg/tls/cipher.go
  pkg/tls/cipher_test.go
Labels: area/middleware/metrics, kind/enhancement, size/M, status/3-needs-merge

#6054 fix statsd scale for duration based metrics
  pkg/metrics/datadog.go
  pkg/metrics/influxdb.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/prometheus.go
  pkg/metrics/statsd.go
  pkg/middlewares/metrics/metrics.go
Labels: area/middleware/metrics, kind/bug/fix, size/S, status/3-needs-merge

#6429 Merge current v2.1 branch into master
  docs/content/https/acme.md
  docs/content/https/include-acme-multiple-domains-example.md
  docs/content/providers/docker.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/metrics/datadog.go
  pkg/metrics/influxdb.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/prometheus.go
  pkg/metrics/statsd.go
  pkg/middlewares/metrics/metrics.go
  pkg/middlewares/replacepath/replace_path.go
  pkg/middlewares/replacepath/replace_path_test.go
  pkg/middlewares/replacepathregex/replace_path_regex.go
  pkg/middlewares/replacepathregex/replace_path_regex_test.go
  pkg/provider/docker/docker.go
Labels: size/L

#6080 Support mirroring request body
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/routing/services/index.md
  integration/fixtures/mirror.toml
  integration/simple_test.go
  integration/testdata/rawdata-consul.json
  integration/testdata/rawdata-etcd.json
  integration/testdata/rawdata-redis.json
  integration/testdata/rawdata-zk.json
  pkg/config/dynamic/http_config.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/service.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/provider/kv/kv_test.go
  pkg/server/service/loadbalancer/mirror/mirror.go
  pkg/server/service/loadbalancer/mirror/mirror_test.go
  pkg/server/service/service.go
Labels: area/service, bot/merge-method-rebase, kind/enhancement, size/M, status/3-needs-merge

#6432 Prepare release v2.2.0-rc1
  CHANGELOG.md
Labels: area/documentation, bot/light-review, bot/merge-method-rebase, size/S, status/3-needs-merge

#6434 Update version references.
  .github/PULL_REQUEST_TEMPLATE.md
  .semaphoreci/vars
  .travis.yml
  docs/content/getting-started/install-traefik.md
  docs/content/getting-started/quick-start.md
  docs/content/migration/v1-to-v2.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/user-guides/crd-acme/03-deployments.yml
  docs/content/user-guides/crd-acme/k3s.yml
  docs/content/user-guides/docker-compose/acme-dns/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-dns/docker-compose_secrets.yml
  docs/content/user-guides/docker-compose/acme-http/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-tls/docker-compose.yml
  docs/content/user-guides/docker-compose/basic-example/docker-compose.yml
Labels: area/documentation, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#6430 Fix broken documentation link
  docs/readme.md
Labels: area/documentation, kind/bug/fix, status/3-needs-merge

#6456 fix: manual provider code name.
  docs/configuration/acme.md
Labels: area/acme, area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6444 Router entry points on reload.
  cmd/traefik/traefik.go
  integration/testdata/rawdata-ingress.json
  pkg/server/aggregator.go
  pkg/server/configurationwatcher.go
Labels: area/provider/internal, kind/bug/fix, size/S, status/3-needs-merge

#6447 Update migration documentation
  docs/content/https/acme.md
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, kind/enhancement, size/M, status/3-needs-merge

#6446 Skip redirection with invalid regex syntax.
  provider/label/label.go
  provider/label/label_test.go
  provider/label/partial.go
  provider/label/partial_test.go
Labels: area/provider, kind/bug/fix, size/M, status/3-needs-merge

#6440 Improve documentation for kubernetes ingress configuration
  docs/content/routing/providers/kubernetes-ingress.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/M, status/3-needs-merge

#6457 Complete TLS example for Kubernetes Ingress in user guide
  docs/user-guide/kubernetes.md
Labels: area/documentation, area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#6428 Improve kubernetes external name service support
  docs/content/routing/providers/kubernetes-crd.md
  integration/fixtures/k8s/02-services.yml
  integration/fixtures/k8s/05-ingressroutetcp.yml
  integration/testdata/rawdata-crd.json
  pkg/provider/kubernetes/crd/fixtures/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_externalname.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_externalname_with_port.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_externalname_without_ports.yml
  pkg/provider/kubernetes/crd/fixtures/with_externalname.yml
  pkg/provider/kubernetes/crd/fixtures/with_externalname_with_http.yml
  pkg/provider/kubernetes/crd/fixtures/with_externalname_with_https.yml
  pkg/provider/kubernetes/crd/fixtures/with_externalname_without_ports.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/L, status/3-needs-merge

#6460 Fix example values for swarmModeRefreshSeconds
  docs/content/providers/docker.md
Labels: area/documentation, area/provider/docker, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#6459 Specify passthrough for TCP/TLS in its own section
  docs/content/routing/routers/index.md
Labels: area/documentation, area/tcp, area/tls, kind/enhancement, size/S, status/3-needs-merge

#6464 Remove @dduportal from the maintainers team
  docs/content/contributing/maintainers.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#6467 Prepare release v2.2.0-rc2
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6466 Update traefik install documentation
  docs/content/getting-started/install-traefik.md
Labels: area/documentation, area/provider/k8s/helm, kind/enhancement, size/S, status/3-needs-merge

#6469 Stop using fork of go-rancher-metadata
  go.mod
  go.sum
Labels: area/provider/rancher, bot/light-review, size/S, status/3-needs-merge

#6472 doc: fix typo.
  docs/content/routing/entrypoints.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6478 docs: terminology, replace 'encoded' by 'hashed'
  docs/content/middlewares/basicauth.md
Labels: area/authentication, area/middleware, kind/enhancement, size/S, status/3-needs-merge

#6476 Improve ping documentation.
  docs/content/operations/ping.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#6471 doc: Use neutral domains.
  docs/content/https/acme.md
  docs/content/https/include-acme-multiple-domains-example.md
  docs/content/https/include-acme-multiple-domains-from-rule-example.md
  docs/content/https/include-acme-single-domain-example.md
  docs/content/https/ref-acme.toml
  docs/content/https/ref-acme.txt
  docs/content/https/ref-acme.yaml
  docs/content/middlewares/forwardauth.md
  docs/content/middlewares/overview.md
  docs/content/middlewares/passtlsclientcert.md
  docs/content/migration/v1-to-v2.md
  docs/content/operations/api.md
  docs/content/operations/dashboard.md
  docs/content/operations/include-api-examples.md
  docs/content/providers/consul-catalog.md
  docs/content/providers/docker.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/providers/rancher.md
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/routing/overview.md
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/kubernetes-ingress.md
  docs/content/routing/providers/kv.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
  docs/content/routing/routers/index.md
  docs/content/user-guides/crd-acme/04-ingressroutes.yml
  docs/content/user-guides/crd-acme/index.md
  docs/content/user-guides/docker-compose/acme-dns/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-dns/docker-compose_secrets.yml
  docs/content/user-guides/docker-compose/acme-dns/index.md
  docs/content/user-guides/docker-compose/acme-http/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-http/index.md
  docs/content/user-guides/docker-compose/acme-tls/docker-compose.yml
  docs/content/user-guides/docker-compose/acme-tls/index.md
Labels: area/documentation, bot/light-review, kind/enhancement, size/L, status/3-needs-merge

#6491 Update go-acme/lego to v3.5.0
  docs/content/https/acme.md
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/M, status/3-needs-merge

#6475 docs: clarify multi-levels stickiness
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/services/index.md
  docs/content/user-guides/crd-acme/index.md
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, area/sticky-session, kind/enhancement, size/M, status/3-needs-merge

#6484 Access log field quotes.
  docs/content/observability/access-logs.md
  pkg/middlewares/accesslog/logger_formatters.go
  pkg/middlewares/accesslog/logger_formatters_test.go
  pkg/middlewares/accesslog/logger_test.go
Labels: area/logs, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6510 Fix wrong copy/pasted with service name warning
  docs/content/routing/routers/index.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6502 fix: custom Host header.
  pkg/middlewares/headers/headers.go
  pkg/middlewares/headers/headers_test.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6504 fix: Ingress TLS support
  docs/content/migration/v2.md
  docs/content/routing/providers/kubernetes-ingress.md
  integration/testdata/rawdata-ingress.json
  pkg/provider/kubernetes/ingress/fixtures/TLS-support_ingress.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/M, status/3-needs-merge

#6498 udp: replace concurrently reset timer with ticker
  integration/udp_test.go
  pkg/server/server_entrypoint_tcp_test.go
  pkg/server/server_entrypoint_udp_test.go
  pkg/udp/conn.go
  pkg/udp/conn_test.go
Labels: area/server, area/udp, kind/bug/fix, size/S, status/3-needs-merge

#6513 Prepare release v1.7.22
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6512 Fix entry point redirect behavior
  docs/content/routing/entrypoints.md
  pkg/config/static/entrypoints.go
  pkg/provider/traefik/fixtures/redirection_port.json
  pkg/provider/traefik/internal.go
  pkg/provider/traefik/internal_test.go
Labels: area/provider/internal, kind/bug/fix, size/M, status/3-needs-merge

#6515 Prepare release v2.1.7
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6517 Prepare release v2.2.0-rc3
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6519 Doc: fix wrong name of config format
  docs/content/https/include-acme-single-domain-example.md
Labels: area/acme, area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6522 Fix memory leak in metrics
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/middlewares/metrics/metrics.go
Labels: area/middleware, area/middleware/metrics, kind/bug/fix, priority/P0, size/S, status/3-needs-merge

#6524 Prepare release v2.1.8
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6526 Prepare release v2.2.0-rc4
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6543 Fix tab name
  docs/content/https/include-acme-single-domain-example.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6531 fix: max TLS version.
  server/server.go
Labels: area/tls, kind/bug/fix, size/S, status/3-needs-merge

#6538 Fix sameSite (Traefik v2)
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
  docs/content/routing/services/index.md
  go.mod
  go.sum
  pkg/config/dynamic/http_config.go
  pkg/server/service/service.go
Labels: area/provider, area/sticky-session, kind/bug/fix, size/M, status/3-needs-merge

#6532 doc: fix terminationDelay word case.
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#6549 fix: period field name.
  pkg/config/dynamic/middlewares.go
Labels: area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6537 Fix sameSite (Traefik v1)
  Gopkg.lock
  Gopkg.toml
  autogen/gentemplates/gen.go
  docs/basics.md
  docs/configuration/backends/consulcatalog.md
  docs/configuration/backends/docker.md
  docs/configuration/backends/ecs.md
  docs/configuration/backends/file.md
  docs/configuration/backends/marathon.md
  docs/configuration/backends/mesos.md
  docs/configuration/backends/rancher.md
  provider/consulcatalog/config_test.go
  provider/docker/config_container_docker_test.go
  provider/docker/config_container_swarm_test.go
  provider/ecs/config_test.go
  provider/kubernetes/annotations.go
  provider/kubernetes/kubernetes.go
  provider/kv/keynames.go
  provider/kv/kv_config.go
  provider/kv/kv_config_test.go
  provider/label/label.go
  provider/label/names.go
  provider/label/partial.go
  provider/label/partial_test.go
  provider/marathon/config_segment_test.go
  provider/marathon/config_test.go
  provider/mesos/config_segment_test.go
  provider/mesos/config_test.go
  provider/rancher/config_test.go
  server/server_loadbalancer.go
  templates/consul_catalog.tmpl
  templates/docker.tmpl
  templates/ecs.tmpl
  templates/kubernetes.tmpl
  templates/kv.tmpl
  templates/marathon.tmpl
  templates/mesos.tmpl
  templates/rancher.tmpl
  types/types.go
  vendor/github.com/vulcand/oxy/roundrobin/stickysessions.go
Labels: area/provider/consul, area/provider/consulcatalog, area/provider/docker, area/provider/ecs, area/provider/k8s, area/provider/marathon, area/provider/mesos, area/provider/rancher, area/sticky-session, kind/bug/fix, size/L, status/3-needs-merge

#6553 Force http/1.1 for upgrade (Traefik v1)
  server/server.go
  server/server_configuration.go
  server/server_loadbalancer.go
  server/smart_roundtripper.go
Labels: area/server, kind/bug/fix, size/S, status/3-needs-merge

#6554 Force http/1.1 for upgrade (Traefik v2)
  build.Dockerfile
  docs/content/contributing/building-testing.md
  exp.Dockerfile
  go.mod
  pkg/server/service/roundtripper.go
  pkg/server/service/smart_roundtripper.go
Labels: area/server, kind/bug/fix, size/S, status/3-needs-merge

#6556 Prepare release v1.7.23
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6557 Prepare release v2.1.9
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6564 Merge current v2.1 branch into v2.2
  CHANGELOG.md
  build.Dockerfile
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/kubernetes-ingress.md
  docs/content/routing/providers/kv.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
  docs/content/routing/services/index.md
  go.mod
  go.sum
  pkg/config/dynamic/http_config.go
  pkg/provider/kubernetes/ingress/annotations_test.go
  pkg/server/service/roundtripper.go
  pkg/server/service/service.go
  pkg/server/service/smart_roundtripper.go
Labels: size/M

#6576 fix: stickiness annotations support.
  autogen/gentemplates/gen.go
  templates/kubernetes.tmpl
Labels: area/provider/k8s/ingress, kind/bug/confirmed, size/S, status/3-needs-merge

#6569 digest auth: use RequireAuthStale when appropriate
  go.mod
  go.sum
  pkg/middlewares/auth/basic_auth.go
  pkg/middlewares/auth/digest_auth.go
Labels: area/authentication, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6568 Delete an unnecessary warning log
  pkg/provider/kubernetes/ingress/client.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge

#6579 Prepare release v1.7.24
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#6577 KubernetesCRD Middleware name in lowercase
  docs/content/middlewares/headers.md
  docs/content/middlewares/ipwhitelist.md
  docs/content/migration/v1-to-v2.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#6582 Prepare release v2.2.0
  CHANGELOG.md
Labels: area/documentation, bot/light-review, size/M, status/3-needs-merge

#6595 Doc Fix for 2.2 Redirects
  docs/content/routing/entrypoints.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#6588 Change the default priority on the router created by the redirect.
  pkg/config/static/entrypoints.go
Labels: area/provider/internal, kind/bug/fix, size/S, status/3-needs-merge

#6593 Normalize default names for ConsulCatalog.
  pkg/provider/consulcatalog/config.go
  pkg/provider/consulcatalog/config_test.go
Labels: area/provider/consulcatalog, kind/bug/fix, size/S, status/3-needs-merge

#6606 It's just the one TLS, actually.
  webui/src/components/_commons/PanelTLS.vue
Labels: area/provider/rancher, area/webui, kind/bug/fix, size/S, status/3-needs-merge
