Repository traefik/traefik, pull requests merged in 2020-12, with the labels that each got.

#7604 Improve setup readability.
  cmd/traefik/plugins.go
  cmd/traefik/traefik.go
Labels: kind/enhancement, size/S, status/3-needs-merge

#7599 acme: add external account binding support.
  docs/content/https/acme.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  pkg/provider/acme/provider.go
Labels: area/acme, kind/enhancement, size/S, status/3-needs-merge

#7610 Add example for multiple service per container
  docs/content/routing/providers/docker.md
Labels: area/documentation, area/provider/docker, kind/enhancement, size/L, status/3-needs-merge

#7615 Send anonymized dynamic configuration to Pilot
  cmd/traefik/traefik.go
  pkg/anonymize/anonymize.go
  pkg/anonymize/anonymize_config_test.go
  pkg/anonymize/anonymize_doOnStruct_test.go
  pkg/anonymize/testdata/anonymized-dynamic-config.json
  pkg/config/dynamic/config.go
  pkg/config/dynamic/http_config.go
  pkg/config/dynamic/middlewares.go
  pkg/config/dynamic/tcp_config.go
  pkg/config/dynamic/udp_config.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/pilot/pilot.go
  pkg/pilot/pilot_test.go
  pkg/tls/tls.go
Labels: area/pilot, size/L, status/3-needs-merge

#7620 Fix concatenation of IPv6 addresses and ports
  pkg/provider/kubernetes/crd/fixtures/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_ipv6.yml
  pkg/provider/kubernetes/crd/fixtures/udp/services.yml
  pkg/provider/kubernetes/crd/fixtures/udp/with_ipv6.yml
  pkg/provider/kubernetes/crd/fixtures/with_ipv6.yml
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/kubernetes_udp.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-IPv6-endpoints_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-IPv6-endpoints_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-IPv6-endpoints_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s/crd, area/provider/k8s/ingress, kind/bug/fix, size/L, status/3-needs-merge

#7625 Update go-acme/lego to v4.1.3
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7535 Fix UI bug on long service name
  webui/src/components/_commons/PanelMiddlewares.vue
  webui/src/components/_commons/PanelMirroringServices.vue
  webui/src/components/_commons/PanelRouterDetails.vue
  webui/src/components/_commons/PanelWeightedServices.vue
  webui/src/css/sass/app.scss
Labels: area/webui, kind/bug/fix, size/S, status/3-needs-merge

#7616 Documentation: Add spacing to sidebars so the last item is always visible
  docs/content/assets/styles/menu.css
Labels: area/documentation, kind/bug/fix, size/S, status/3-needs-merge

#7609 Fix TLS options fallback when domain and options are the same
  pkg/server/router/tcp/router.go
  pkg/server/router/tcp/router_test.go
Labels: area/tcp, area/tls, kind/bug/fix, size/M, status/3-needs-merge

#7595 IngressRoute: add an option to disable cross-namespace routing
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  integration/fixtures/k8s/07-ingressroute-cross-namespace.yml
  integration/fixtures/k8s_crd.toml
  integration/k8s_test.go
  integration/testdata/rawdata-crd.json
  pkg/provider/kubernetes/crd/fixtures/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/udp/services.yml
  pkg/provider/kubernetes/crd/fixtures/udp/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_middleware_cross_namespace.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/kubernetes_udp.go
Labels: area/provider/k8s, area/provider/k8s/crd, kind/bug/fix, size/L, status/3-needs-merge

#7649 Prepare release v2.3.5
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#7653 Merge current v2.3 branch into master
  CHANGELOG.md
  docs/content/assets/styles/menu.css
  docs/content/migration/v1-to-v2.md
  docs/content/providers/ecs.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/content/routing/providers/docker.md
  go.mod
  go.sum
  integration/fixtures/k8s/07-ingressroute-cross-namespace.yml
  integration/fixtures/k8s_crd.toml
  integration/k8s_test.go
  integration/testdata/rawdata-crd.json
  pkg/middlewares/redirect/redirect.go
  pkg/middlewares/redirect/redirect_regex_test.go
  pkg/provider/kubernetes/crd/fixtures/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/services.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/tcp/with_ipv6.yml
  pkg/provider/kubernetes/crd/fixtures/udp/services.yml
  pkg/provider/kubernetes/crd/fixtures/udp/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/udp/with_ipv6.yml
  pkg/provider/kubernetes/crd/fixtures/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_ipv6.yml
  pkg/provider/kubernetes/crd/fixtures/with_middleware_cross_namespace.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/kubernetes_udp.go
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-IPv6-endpoints_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-IPv6-endpoints_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-IPv6-endpoints_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
  pkg/server/router/tcp/router.go
  pkg/server/router/tcp/router_test.go
  script/gcg/traefik-bugfix.toml
  webui/src/components/_commons/PanelMiddlewares.vue
  webui/src/components/_commons/PanelMirroringServices.vue
  webui/src/components/_commons/PanelRouterDetails.vue
  webui/src/components/_commons/PanelWeightedServices.vue
  webui/src/css/sass/app.scss
Labels: size/L

#7659 Update Yaegi to v0.9.8
  go.mod
  go.sum
Labels: area/plugins, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7655 Add configuration example for access log filePath
  docs/content/observability/access-logs.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#7663 Update Logrus to v1.7.0
  go.mod
  go.sum
Labels: bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7670 Merge current v2.3 branch into master
  docs/content/observability/access-logs.md
  go.mod
  go.sum
Labels: size/S

#7416 Add Kubernetes Gateway Provider
  docs/content/providers/kubernetes-gateway.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/reference/dynamic-configuration/kubernetes-gateway-rbac.yml
  docs/content/reference/dynamic-configuration/kubernetes-gateway-resource.yml
  docs/content/reference/dynamic-configuration/kubernetes-gateway-simple-http.yml
  docs/content/reference/dynamic-configuration/kubernetes-gateway-simple-https.yml
  docs/content/reference/dynamic-configuration/kubernetes-gateway-traefik-lb-svc.yml
  docs/content/reference/dynamic-configuration/kubernetes-gateway.md
  docs/content/reference/dynamic-configuration/kubernetes-whoami-svc.yml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_gatewayclasses.yaml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_gateways.yaml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_httproutes.yaml
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/content/routing/providers/kubernetes-gateway.md
  docs/mkdocs.yml
  go.mod
  go.sum
  integration/fixtures/k8s/01-gateway-api.yml
  integration/fixtures/k8s/03-gateway.yml
  integration/fixtures/k8s_gateway.toml
  integration/k8s_test.go
  integration/testdata/rawdata-gateway.json
  pkg/anonymize/anonymize_config_test.go
  pkg/anonymize/testdata/anonymized-static-config.json
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/static/experimental.go
  pkg/config/static/static_config.go
  pkg/provider/aggregator/aggregator.go
  pkg/provider/configuration.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/gateway/client.go
  pkg/provider/kubernetes/gateway/client_mock_test.go
  pkg/provider/kubernetes/gateway/client_test.go
  pkg/provider/kubernetes/gateway/fixtures/gatewayclass_with_unknown_controller.yml
  pkg/provider/kubernetes/gateway/fixtures/one_rule_two_targets.yml
  pkg/provider/kubernetes/gateway/fixtures/services.yml
  pkg/provider/kubernetes/gateway/fixtures/simple.yml
  pkg/provider/kubernetes/gateway/fixtures/two_rules.yml
  pkg/provider/kubernetes/gateway/fixtures/with_multiple_host.yml
  pkg/provider/kubernetes/gateway/fixtures/with_protocol_https.yml
  pkg/provider/kubernetes/gateway/fixtures/with_protocol_https_without_tls.yml
  pkg/provider/kubernetes/gateway/fixtures/with_several_rules.yml
  pkg/provider/kubernetes/gateway/fixtures/with_two_gateways_one_httproute.yml
  pkg/provider/kubernetes/gateway/fixtures/with_two_listeners_one_httproute.yml
  pkg/provider/kubernetes/gateway/fixtures/with_wrong_service_port.yml
  pkg/provider/kubernetes/gateway/fixtures/without_gatewayclass.yml
  pkg/provider/kubernetes/gateway/fixtures/without_httproute.yml
  pkg/provider/kubernetes/gateway/kubernetes.go
  pkg/provider/kubernetes/gateway/kubernetes_test.go
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/k8s/parser.go
  pkg/provider/marathon/config_test.go
  webui/src/statics/providers/kubernetesgateway.svg
Labels: area/provider/k8s, kind/enhancement, size/L, status/3-needs-merge

#7671 Add jspdown to maintainers
  docs/content/contributing/maintainers.md
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#7359 Extend marathon port discovery to allow port names as identifier
  docs/content/user-guides/marathon.md
  pkg/provider/marathon/builder_test.go
  pkg/provider/marathon/config.go
  pkg/provider/marathon/config_test.go
Labels: area/provider/marathon, kind/enhancement, size/S, status/3-needs-merge

#7675 Add missing quotes in errorpages k8s example yaml
  docs/content/middlewares/errorpages.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/3-needs-merge

#7677 Merge current v2.3 branch into master
  docs/content/middlewares/errorpages.md
Labels: area/middleware, size/S

#7678 Prepare release v2.4.0-rc1
  .semaphoreci/vars
  .travis.yml
  CHANGELOG.md
  script/gcg/traefik-rc-first.toml
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#7680 Disable router when a rule has an error
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/server/router/router_test.go
Labels: area/rules, kind/bug/fix, size/S, status/3-needs-merge

#7687 Prepare release v2.3.6
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, bot/light-review, size/S, status/3-needs-merge

#7689 Merge current v2.3 branch into v2.4
  CHANGELOG.md
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/server/router/router_test.go
  script/gcg/traefik-bugfix.toml
Labels: size/S

#6924 Add TLS certs expiration metric
  cmd/traefik/traefik.go
  cmd/traefik/traefik_test.go
  docs/content/providers/docker.md
  docs/content/routing/providers/docker.md
  pkg/metrics/datadog.go
  pkg/metrics/datadog_test.go
  pkg/metrics/influxdb.go
  pkg/metrics/influxdb_test.go
  pkg/metrics/metrics.go
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus_test.go
  pkg/metrics/statsd.go
  pkg/metrics/statsd_test.go
  pkg/tls/certificate_store.go
  pkg/tls/tlsmanager.go
Labels: area/middleware/metrics, kind/enhancement, size/S, status/3-needs-merge

#7702 docs: fix broken links to docker-compose documentation
  docs/content/providers/docker.md
  docs/content/routing/providers/docker.md
Labels: area/documentation, area/provider/docker, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7703 Merge current v2.3 branch into v2.4
  docs/content/providers/docker.md
  docs/content/routing/providers/docker.md
Labels: size/S

#7701 docs: rephrase forwardauth.authRequestHeaders
  docs/content/middlewares/forwardauth.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#7706 webui: fix missing custom request and response header names
  webui/src/components/_commons/PanelMiddlewares.vue
Labels: area/middleware, area/webui, kind/bug/fix, size/S, status/3-needs-merge

#7712 chore: update linter.
  .golangci.toml
  build.Dockerfile
  pkg/metrics/pilot_test.go
  pkg/metrics/prometheus_test.go
  pkg/middlewares/accesslog/logger_test.go
  pkg/provider/file/file_test.go
  pkg/server/server_entrypoint_tcp_test.go
  pkg/server/server_entrypoint_udp_test.go
  pkg/server/service/proxy_websocket_test.go
  pkg/tcp/proxy_test.go
  pkg/udp/conn_test.go
  pkg/udp/proxy_test.go
Labels: area/infrastructure, area/logs, area/middleware, bot/light-review, kind/enhancement, size/S, status/3-needs-merge
