Repository traefik/traefik, pull requests merged in 2021-04, with the labels that each got.

#8026 doc: typo fix
  docs/content/getting-started/configuration-overview.md
Labels: area/documentation, bot/light-review, kind/bug/fix, size/S

#8031 correct annotation option
  docs/content/routing/providers/kubernetes-ingress.md
Labels: area/documentation, area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#8040 prometheus: fixing prom Handler to use the custom registry
  metrics/prometheus.go
Labels: area/middleware/metrics, kind/bug/fix, size/S, status/3-needs-merge

#8043 Prepare release v1.7.30
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#8056 Docs: installing deps for html-proofer
  docs/check.Dockerfile
Labels: area/documentation, area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#8058 Merge current v2.4 into master
  docs/check.Dockerfile
  docs/content/getting-started/configuration-overview.md
  docs/content/routing/providers/kubernetes-ingress.md
Labels: size/S

#8063 Fix Kubernetes Gateway API documentation links
  docs/content/providers/kubernetes-gateway.md
  docs/content/routing/providers/kubernetes-gateway.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/gatewayapi, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#8068 Merge current v2.4 into master
  docs/content/providers/kubernetes-gateway.md
  docs/content/routing/providers/kubernetes-gateway.md
Labels: size/S

#8033 Error span on 5xx only
  docs/content/migration/v2.md
  pkg/tracing/tracing.go
Labels: area/middleware/tracing, kind/bug/fix, size/S, status/3-needs-merge

#7997 Kubernetes ingress provider to search via all endpoints
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-invalid-for-one-service_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-invalid-for-one-service_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-invalid-for-one-service_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/S, status/3-needs-merge

#8076 Upgrade github.com/lucas-clemente/quic-go
  go.mod
  go.sum
Labels: bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#8085 fix: k8s gateway api link
  docs/content/providers/kubernetes-gateway.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/gatewayapi, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#8087 Merge current v2.4 into master
  docs/content/migration/v2.md
  docs/content/providers/kubernetes-gateway.md
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-invalid-for-one-service_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-invalid-for-one-service_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-port-invalid-for-one-service_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
  pkg/tracing/tracing.go
Labels: size/M

#8100 Update Yaegi to v0.9.17
  go.mod
  go.sum
Labels: area/plugins, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#8101 doc: fix a syntax error in ratelimit TOML configuration sample
  docs/content/middlewares/ratelimit.md
Labels: area/documentation, area/middleware, bot/light-review, size/S, status/3-needs-merge

#8104 fix: remove linode link health check
  docs/scripts/verify.sh
Labels: area/infrastructure, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7646 [kubernetes] ignore empty endpoint changes
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/ingress/client.go
  pkg/provider/kubernetes/ingress/client_test.go
  pkg/provider/kubernetes/k8s/event_handler.go
  pkg/provider/kubernetes/k8s/event_handler_test.go
Labels: area/provider/k8s, area/provider/k8s/crd, area/provider/k8s/ingress, kind/enhancement, size/M, status/3-needs-merge

#7963 Add wildcard hostname rule to kubernetes gateway
  pkg/provider/kubernetes/gateway/fixtures/with_two_hosts_one_wildcard.yml
  pkg/provider/kubernetes/gateway/fixtures/with_two_hosts_wildcard.yml
  pkg/provider/kubernetes/gateway/kubernetes.go
  pkg/provider/kubernetes/gateway/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/gatewayapi, kind/enhancement, size/M, status/3-needs-merge

#8103 Add a mechanism to format the sticky cookie value
  docs/content/routing/services/index.md
  go.mod
  go.sum
  pkg/server/service/service.go
  pkg/server/service/service_test.go
Labels: area/sticky-session, kind/enhancement, size/S, status/3-needs-merge

#7510 Add router metrics
  cmd/traefik/traefik.go
  docs/content/observability/metrics/datadog.md
  docs/content/observability/metrics/influxdb.md
  docs/content/observability/metrics/prometheus.md
  docs/content/observability/metrics/statsd.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  integration/resources/compose/base.yml
  integration/simple_test.go
  pkg/metrics/datadog.go
  pkg/metrics/datadog_test.go
  pkg/metrics/influxdb.go
  pkg/metrics/influxdb_test.go
  pkg/metrics/metrics.go
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus_test.go
  pkg/metrics/statsd.go
  pkg/metrics/statsd_test.go
  pkg/middlewares/metrics/metrics.go
  pkg/server/router/router.go
  pkg/server/router/router_test.go
  pkg/server/routerfactory.go
  pkg/server/routerfactory_test.go
  pkg/types/metrics.go
Labels: area/middleware, area/middleware/metrics, kind/enhancement, size/M, status/3-needs-merge
