Repository traefik/traefik, pull requests merged in 2021-11, with the labels that each got.

#8545 fix: use host's root CA set if ClientTLS ca is not defined
  docs/content/middlewares/http/forwardauth.md
  docs/content/providers/consul-catalog.md
  docs/content/providers/consul.md
  docs/content/providers/docker.md
  docs/content/providers/etcd.md
  docs/content/providers/http.md
  docs/content/providers/kubernetes-crd.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/providers/marathon.md
  docs/content/providers/redis.md
  docs/content/providers/zookeeper.md
  pkg/types/tls.go
  pkg/types/tls_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware, area/tls

#8550 chore: update linter
  .github/workflows/validate.yaml
  .golangci.toml
  .semaphore/semaphore.yml
  build.Dockerfile
  pkg/middlewares/accesslog/logger_formatters_test.go
Labels: kind/enhancement, status/3-needs-merge, area/infrastructure, size/S, bot/light-review

#8555 docs: remove link to microbadger.com
  README.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S

#8556 fix: git ignore webui/static/
  .gitignore
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, bot/light-review

#8559 docs: add named groups details to Regexp Syntax section
  docs/content/routing/routers/index.md
Labels: area/documentation, status/3-needs-merge, size/S, area/rules

#8561 docs: fix typo in addRoutersLabels option title
  docs/content/observability/metrics/datadog.md
  docs/content/observability/metrics/influxdb.md
  docs/content/observability/metrics/prometheus.md
  docs/content/observability/metrics/statsd.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/middleware/metrics, bot/light-review

#8553 fix: TCP/UDP wrr when all servers have a weight set to 0
  pkg/tcp/wrr_load_balancer.go
  pkg/tcp/wrr_load_balancer_test.go
  pkg/udp/wrr_load_balancer.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/tcp, area/udp

#8562 Prepare release v2.5.4
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, status/3-needs-merge, size/S, bot/light-review

#8557 fix: git ignore autogen/
  .gitignore
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, bot/light-review

#8539 feat: add readIdleTimeout and pingTimeout config options to ServersTransport
  docs/content/reference/dynamic-configuration/traefik.containo.us_serverstransports.yaml
  docs/content/routing/overview.md
  docs/content/routing/services/index.md
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/anonymize/anonymize_config_test.go
  pkg/anonymize/testdata/anonymized-dynamic-config.json
  pkg/config/dynamic/http_config.go
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/serverstransport.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/server/service/roundtripper.go
  pkg/server/service/smart_roundtripper.go
Labels: kind/enhancement, status/3-needs-merge, size/M, area/server, area/provider/k8s/crd, area/provider/k8s

#8564 Update yaegi v0.11.0
  go.mod
  go.sum
  pkg/plugins/builder.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/plugins

#8560 fix: increase UDP read buffer length to max datagram size
  pkg/udp/conn.go
  pkg/udp/conn_test.go
  pkg/udp/proxy.go
  pkg/udp/proxy_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/M, area/udp

#8565 fixed minor spelling error in Regexp Syntax section
  docs/content/routing/routers/index.md
Labels: area/documentation, status/3-needs-merge, size/S, bot/light-review

#8046 feat: allow configuration of ACME certificates duration
  docs/content/https/acme.md
  docs/content/https/ref-acme.toml
  docs/content/https/ref-acme.txt
  docs/content/https/ref-acme.yaml
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  pkg/anonymize/anonymize_config_test.go
  pkg/anonymize/testdata/anonymized-static-config.json
  pkg/provider/acme/provider.go
  pkg/provider/acme/provider_test.go
Labels: kind/enhancement, status/3-needs-merge, area/acme, size/S

#8575 docs: health check use readiness probe in k8s
  docs/content/routing/services/index.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/service

#8579 docs: remove misleading metrics overview configuration
  docs/content/observability/metrics/overview.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/middleware/metrics, bot/light-review

#8581 feat: rate-limit ceil Retry-After to superior integer
  pkg/middlewares/ratelimiter/rate_limiter.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/middleware

#8593 chore: update docker/cli and containerd dependency versions
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, bot/light-review

#8591 fix: propagate source criterion config to RateLimit middleware in Kubernetes CRD
  pkg/provider/kubernetes/crd/fixtures/with_middleware.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/M, area/provider/k8s/crd, area/provider/k8s

#8429 feat: add in flight connection middleware
  docs/content/middlewares/tcp/inflightconn.md
  docs/content/middlewares/tcp/overview.md
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewaretcps.yaml
  docs/mkdocs.yml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/tcp_middlewares.go
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/config/label/label_test.go
  pkg/middlewares/tcp/inflightconn/inflight_conn.go
  pkg/middlewares/tcp/inflightconn/inflight_conn_test.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/middlewaretcp.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/server/middleware/tcp/middlewares.go
Labels: status/3-needs-merge, size/L, area/middleware, area/tcp

#8600 Update yaegi to v0.11.1
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, bot/light-review, area/plugins
