Repository traefik/traefik, pull requests merged in 2021-10, with the labels that each got.

#8481 Update go-acme/lego to v4.5.0
  docs/content/https/acme.md
  go.mod
  go.sum
  script/validate-misspell
Labels: status/3-needs-merge, area/acme, kind/bug/fix, size/M, bot/light-review

#8486 fix: restore CI for Traefik v1.7
  .github/workflows/build.yaml
  .github/workflows/check_doc.yaml
  .github/workflows/documentation.yaml
  .github/workflows/experimental.yaml
  .github/workflows/test-unit.yaml
  .github/workflows/validate.yaml
  .semaphore/semaphore.yml
  .semaphoreci/cleanup.sh
  .semaphoreci/golang.sh
  .semaphoreci/job1.sh
  .semaphoreci/job2.sh
  .semaphoreci/setup.sh
  .semaphoreci/vars
  .travis.yml
  Makefile
  docs.Dockerfile
  docs/configuration/backends/docker.md
  docs/user-guide/examples.md
  integration/https_test.go
  script/deploy.sh
  script/docs-verify-docker-image/Dockerfile
  script/docs-verify-docker-image/validate.sh
  webui/.gitignore
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/L, bot/light-review

#8482 acme: add support of preferredchain in Traefik v1
  acme/account.go
  acme/acme.go
  acme/challenge_http_provider.go
  acme/challenge_tls_provider.go
  configuration/configuration.go
  docs/configuration/acme.md
  go.mod
  go.sum
  metrics/datadog.go
  metrics/influxdb.go
  metrics/statsd.go
  provider/acme/account.go
  provider/acme/challenge_http.go
  provider/acme/challenge_tls.go
  provider/acme/provider.go
  provider/acme/provider_test.go
  provider/kubernetes/client.go
  server/server.go
Labels: status/3-needs-merge, area/acme, kind/bug/fix, size/L, area/provider/k8s

#8488 chore: update proxyprotocol and consul
  go.mod
  go.sum
  pkg/metrics/prometheus.go
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S

#8496 Mention escaping escape characters in YAML for regex usage
  docs/content/middlewares/http/forwardauth.md
  docs/content/middlewares/http/headers.md
  docs/content/middlewares/http/redirectregex.md
  docs/content/middlewares/http/replacepathregex.md
  docs/content/middlewares/http/stripprefixregex.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8498 Merge current v2.5 into master
  cmd/internal/gen/main.go
  docs/content/https/acme.md
  docs/content/middlewares/http/errorpages.md
  docs/content/middlewares/http/forwardauth.md
  docs/content/middlewares/http/headers.md
  docs/content/middlewares/http/redirectregex.md
  docs/content/middlewares/http/replacepathregex.md
  docs/content/middlewares/http/stripprefixregex.md
  docs/content/migration/v2.md
  docs/content/observability/tracing/datadog.md
  docs/content/observability/tracing/elastic.md
  docs/content/observability/tracing/haystack.md
  docs/content/observability/tracing/instana.md
  docs/content/observability/tracing/jaeger.md
  docs/content/observability/tracing/zipkin.md
  docs/content/providers/consul.md
  docs/content/providers/etcd.md
  docs/content/providers/redis.md
  docs/content/providers/zookeeper.md
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsoptions.yaml
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/user-guides/grpc.md
  go.mod
  go.sum
  integration/fixtures/k8s/01-traefik-crd.yml
  integration/healthcheck_test.go
  pkg/metrics/prometheus.go
  pkg/middlewares/customerrors/custom_errors.go
  pkg/middlewares/customerrors/custom_errors_test.go
  pkg/middlewares/tcp/ipwhitelist/ip_whitelist_test.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/tlsoption.go
  pkg/tracing/datadog/datadog.go
  pkg/tracing/elastic/elastic.go
  pkg/tracing/haystack/haystack.go
  pkg/tracing/jaeger/jaeger.go
  pkg/tracing/tracing.go
  pkg/tracing/zipkin/zipkin.go
  script/validate-misspell
Labels: size/L

#8234 Add prefix to datadog metrics
  docs/content/observability/metrics/datadog.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  pkg/metrics/datadog.go
  pkg/metrics/datadog_test.go
  pkg/metrics/metrics.go
  pkg/metrics/statsd.go
  pkg/metrics/statsd_test.go
  pkg/types/metrics.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/middleware/metrics
