Repository traefik/traefik, pull requests merged in 2021-05, with the labels that each got.

#8114 Fix: regenerate crd
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutes.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutetcps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressrouteudps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_serverstransports.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsoptions.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsstores.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_traefikservices.yaml
  integration/fixtures/k8s/01-traefik-crd.yml
Labels: area/documentation, area/infrastructure, area/provider/k8s/crd, bot/light-review, size/L, status/3-needs-merge

#8116 Bump paerser to v0.1.4
  go.mod
  go.sum
  pkg/anonymize/testdata/anonymized-dynamic-config.json
  pkg/anonymize/testdata/anonymized-static-config.json
  pkg/api/testdata/entrypoints.json
Labels: area/provider, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#8120 Fix ingressRouteTCP external name service examples in documentation
  docs/content/routing/providers/kubernetes-crd.md
Labels: area/documentation, area/provider/k8s, area/provider/k8s/crd, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7593 Add k8s provider option to create services without endpoints
  docs/content/providers/kubernetes-ingress.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  integration/fixtures/k8s_default.toml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-one-service-without-endpoint_ingress.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
  webui/src/components/_commons/PanelServers.vue
  webui/src/pages/_commons/ServiceDetail.vue
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/S, status/3-needs-merge

#8128 kubernetes: remove logging of changed object with cast
  pkg/provider/kubernetes/k8s/event_handler.go
Labels: area/provider/k8s, kind/bug/fix, size/S, status/3-needs-merge

#8136 Fix plugin unzip call on windows
  pkg/plugins/client.go
Labels: area/plugins, kind/bug/fix, platform/windows, size/S, status/3-needs-merge

#8089 Upgrade IngressClass to use v1 over v1Beta on Kube 1.19+
  pkg/provider/kubernetes/ingress/client.go
  pkg/provider/kubernetes/ingress/client_mock_test.go
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClassv1_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClassv1_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClassv1_ingressclass.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClassv1_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/M, status/3-needs-merge

#8030 docs: add examples for removing headers
  docs/content/middlewares/headers.md
Labels: area/documentation, area/middleware, bot/need-human-merge, size/S, status/3-needs-merge

#8146 fix: ACME preferred chain.
  pkg/provider/acme/provider.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#8152 docs: add pilot dashboard flag to static configuration file reference
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
Labels: area/documentation, kind/enhancement, size/S, status/3-needs-merge

#8156 Fix incorrect behaviour with multi-port endpoint subsets
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-named-port-matching-subset-of-service-pods_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-named-port-matching-subset-of-service-pods_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/Ingress-with-a-named-port-matching-subset-of-service-pods_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/bug/fix, size/M, status/3-needs-merge

#8160 Deprecates ssl redirect headers middleware options
  .golangci.toml
  docs/content/middlewares/headers.md
  docs/content/migration/v2.md
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/middlewares.go
  pkg/middlewares/headers/headers.go
Labels: area/middleware, kind/enhancement, size/M, status/3-needs-merge

#8161 Removes headers middleware options
  docs/content/migration/v2.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/anonymize/anonymize_config_test.go
  pkg/anonymize/testdata/anonymized-dynamic-config.json
  pkg/config/dynamic/fixtures/sample.toml
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/middlewares/headers/headers.go
  pkg/provider/kv/kv_test.go
Labels: area/middleware, kind/enhancement, size/S, status/3-needs-merge

#8164 Support not in rules definition
  docs/content/routing/routers/index.md
  pkg/rules/parser.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
Labels: area/rules, kind/enhancement, size/M, status/3-needs-merge
