Repository traefik/traefik, pull requests merged in 2021-03, with the labels that each got.

#7940 Prepare release v2.4.6
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#7945 Bump paerser to v0.1.2
  go.mod
  go.sum
Labels: area/provider, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7815 Upgrade the CRD version from apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1
  docs/content/middlewares/overview.md
  docs/content/migration/v2.md
  docs/content/providers/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1beta1.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/dynamic-configuration/kubernetes-crd.md
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutes.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutetcps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressrouteudps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_serverstransports.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsoptions.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsstores.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_traefikservices.yaml
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/user-guides/crd-acme/index.md
  go.mod
  go.sum
  integration/fixtures/k8s/01-crd.yml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroute.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressroutetcp.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/ingressrouteudp.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/serverstransport.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/service.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/tlsoption.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/tlsstore.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  script/update-generated-crd-code.sh
  tools.go
Labels: area/infrastructure, area/provider/k8s, area/provider/k8s/crd, kind/enhancement, size/L, status/3-needs-merge

#7942 Fix ServersTransport documentation
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/ecs.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/providers/kv.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
Labels: area/documentation, area/service, kind/bug/fix, size/S, status/3-needs-merge

#7946 chore: update linter.
  .golangci.toml
  Makefile
  build.Dockerfile
  cmd/context.go
  cmd/traefik/traefik.go
  integration/grpc_test.go
  integration/rest_test.go
  integration/try/try.go
  integration/websocket_test.go
  pkg/anonymize/anonymize.go
  pkg/cli/loader_file.go
  pkg/job/job_test.go
  pkg/metrics/prometheus.go
  pkg/middlewares/accesslog/logger_test.go
  pkg/middlewares/customerrors/custom_errors.go
  pkg/middlewares/tracing/mock_tracing_test.go
  pkg/provider/kubernetes/gateway/kubernetes.go
  pkg/provider/kubernetes/ingress/client.go
  pkg/server/server_entrypoint_tcp.go
  pkg/server/service/loadbalancer/mirror/mirror.go
  pkg/server/service/loadbalancer/wrr/wrr.go
Labels: area/infrastructure, area/logs, area/middleware, area/middleware/tracing, area/provider/k8s, area/provider/k8s/ingress, bot/light-review, kind/enhancement, size/M, status/3-needs-merge

#7944 Clarify doc for ingressclass name in k8s 1.18+
  docs/content/providers/kubernetes-ingress.md
Labels: area/documentation, area/provider/k8s, kind/enhancement, size/S, status/3-needs-merge

#7957 feature: tune transport buffer size to increase performance
  pkg/server/service/roundtripper.go
Labels: area/server, kind/bug/fix, size/S, status/3-needs-merge

#7962 Use Docker dependency directly without replace directive
  go.mod
  go.sum
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#7959 Add new GitHub issue chooser.
  .github/ISSUE_TEMPLATE/config.yml
  .goreleaser.yml
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#7960 Fix flaky tests.
  pkg/metrics/metrics_test.go
  pkg/middlewares/ratelimiter/rate_limiter_test.go
  pkg/provider/aggregator/aggregator_test.go
  pkg/server/configurationwatcher_test.go
  pkg/server/server_entrypoint_tcp_test.go
Labels: area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#7956 fix: double close chan on TLS challenge
  pkg/provider/acme/challenge_tls.go
Labels: area/acme, kind/bug/fix, size/S, status/3-needs-merge

#7965 Prepare release v2.4.7
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, area/infrastructure, bot/light-review, status/3-needs-merge

#7975 Update go-acme/lego to v4.3.0
  docs/content/https/acme.md
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/M, status/3-needs-merge

#7980 Update go-acme/lego to v4.3.1
  go.mod
  go.sum
Labels: area/acme, bot/light-review, kind/bug/fix, size/S, status/3-needs-merge

#7948 server: updating go-proxyproto with security bugfix from upstream
  go.mod
  go.sum
Labels: kind/bug/fix, size/S, status/3-needs-merge

#7943 Update to gateway-api v0.2.0
  docs/content/providers/kubernetes-gateway.md
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_gatewayclasses.yaml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_gateways.yaml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_httproutes.yaml
  docs/content/routing/providers/kubernetes-gateway.md
  go.mod
  go.sum
  integration/fixtures/k8s/01-gateway-api.yml
  pkg/provider/kubernetes/gateway/client.go
  pkg/provider/kubernetes/gateway/client_mock_test.go
  pkg/provider/kubernetes/gateway/client_test.go
  pkg/provider/kubernetes/gateway/kubernetes.go
  pkg/provider/kubernetes/gateway/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/serviceapi, kind/bug/fix, size/L, status/3-needs-merge

#7979 updating docs to remove a no longer needed note
  docs/content/middlewares/headers.md
Labels: area/documentation, area/middleware, kind/bug/fix, size/S, status/2-needs-review, status/3-needs-merge

#7549 Upgrade Ingress Handling to work with networkingv1/Ingress
  docs/content/migration/v2.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/routing/providers/kubernetes-ingress.md
  pkg/provider/kubernetes/ingress/builder_ingress_test.go
  pkg/provider/kubernetes/ingress/client.go
  pkg/provider/kubernetes/ingress/client_mock_test.go
  pkg/provider/kubernetes/ingress/client_test.go
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-defaultbackend_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-defaultbackend_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-defaultbackend_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-empty-pathType_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-empty-pathType_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-empty-pathType_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-exact-pathType_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-exact-pathType_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-exact-pathType_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-implementationSpecific-pathType_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-implementationSpecific-pathType_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-implementationSpecific-pathType_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingress-annotation_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingress-annotation_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingress-annotation_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClass_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClass_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClass_ingressclass.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-ingressClass_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-missing-ingressClass_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-missing-ingressClass_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-missing-ingressClass_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-named-port_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-named-port_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-named-port_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-no-pathType_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-no-pathType_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-no-pathType_service.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-prefix-pathType_endpoint.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-prefix-pathType_ingress.yml
  pkg/provider/kubernetes/ingress/fixtures/v19-Ingress-with-prefix-pathType_service.yml
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: area/provider/k8s, area/provider/k8s/ingress, kind/enhancement, size/L, status/3-needs-merge

#7984 Fix travis docker image pulling for docs
  .travis.yml
  Makefile
  docs/Makefile
Labels: area/infrastructure, kind/bug/fix, size/S, status/3-needs-merge

#7990 Add missing `traefik.` prefix across sample config
  docs/content/middlewares/chain.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#7992 Doc: improve basic auth middleware httpasswd example
  docs/content/middlewares/basicauth.md
Labels: area/documentation, area/middleware, size/S, status/3-needs-merge

#7994 Adding an option to (de)activate Pilot integration into the Traefik dashboard
  cmd/traefik/traefik.go
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  pkg/config/static/pilot.go
  pkg/config/static/static_config.go
  pkg/version/version.go
  webui/src/App.vue
  webui/src/components/_commons/NavBar.vue
Labels: area/pilot, area/webui, kind/bug/fix, size/S, status/3-needs-merge

#7986 Raise errors for non-ASCII domain names in a router's rules
  docs/content/migration/v2.md
  docs/content/routing/routers/index.md
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/server/router/tcp/router.go
  pkg/server/router/tcp/router_test.go
Labels: area/rules, kind/bug/fix, size/M, status/3-needs-merge

#7971 Improve host name resolution for TCP proxy
  pkg/tcp/proxy.go
  pkg/tcp/proxy_test.go
Labels: area/server, kind/enhancement, size/M, status/3-needs-merge

#8001 Prepare release v2.4.8
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#7968 Allow to define datadogs metrics endpoint with env vars
  pkg/types/metrics.go
Labels: area/middleware/metrics, kind/enhancement, status/3-needs-merge

#8007 Add metrics documentation
  docs/content/observability/metrics/overview.md
Labels: area/documentation, area/middleware/metrics, size/L, status/3-needs-merge

#8016 chore: update linter
  .golangci.toml
  build.Dockerfile
Labels: area/infrastructure, bot/light-review, kind/enhancement, size/S, status/3-needs-merge

#8019 Fix ServersTransport documentation
  docs/content/migration/v2.md
Labels: area/documentation, area/provider/k8s/crd, kind/bug/fix, size/S, status/3-needs-merge

#7645 Add ability to disable HTTP/2 in dynamic config
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kubernetes-crd-resource.yml
  docs/content/reference/dynamic-configuration/traefik.containo.us_serverstransports.yaml
  docs/content/routing/services/index.md
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/http_config.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/serverstransport.go
  pkg/server/service/roundtripper.go
  pkg/server/service/roundtripper_test.go
Labels: area/server, kind/enhancement, size/S, status/3-needs-merge

#8020 Prepare release v1.7.29
  CHANGELOG.md
  script/crossbinary-others
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, area/infrastructure, bot/light-review, size/S, status/3-needs-merge

#8023 Remove error when HTTProutes is empty
  pkg/provider/kubernetes/gateway/client.go
Labels: area/provider/k8s, area/provider/k8s/gatewayapi, kind/bug/fix, size/S, status/3-needs-merge

#8024 Merge current v2.4 into master
  .golangci.toml
  .travis.yml
  CHANGELOG.md
  Makefile
  build.Dockerfile
  cmd/traefik/traefik.go
  docs/Makefile
  docs/content/glossary.md
  docs/content/https/acme.md
  docs/content/middlewares/basicauth.md
  docs/content/middlewares/chain.md
  docs/content/middlewares/headers.md
  docs/content/migration/v2.md
  docs/content/observability/metrics/overview.md
  docs/content/providers/kubernetes-gateway.md
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_gatewayclasses.yaml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_gateways.yaml
  docs/content/reference/dynamic-configuration/networking.x-k8s.io_httproutes.yaml
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/routing/providers/kubernetes-gateway.md
  docs/content/routing/routers/index.md
  docs/mkdocs.yml
  go.mod
  go.sum
  integration/fixtures/k8s/01-gateway-api.yml
  pkg/config/static/pilot.go
  pkg/config/static/static_config.go
  pkg/provider/kubernetes/gateway/client.go
  pkg/provider/kubernetes/gateway/client_mock_test.go
  pkg/provider/kubernetes/gateway/client_test.go
  pkg/provider/kubernetes/gateway/kubernetes.go
  pkg/provider/kubernetes/gateway/kubernetes_test.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/server/router/tcp/router.go
  pkg/server/router/tcp/router_test.go
  pkg/version/version.go
  script/gcg/traefik-bugfix.toml
  webui/src/App.vue
  webui/src/components/_commons/NavBar.vue
Labels: size/L
