Repository traefik/traefik, pull requests merged in 2021-09, with the labels that each got.

#8399 Bump go.elastic.co/apm version to v1.13.1
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware/tracing

#8392 Adds pathType for v1 ingresses examples
  docs/content/providers/kubernetes-ingress.md
  docs/content/routing/providers/kubernetes-ingress.md
Labels: area/documentation, status/3-needs-merge, area/provider/k8s/ingress, kind/bug/fix, size/S, area/provider/k8s

#8381 Fix empty body error in mirror
  pkg/server/service/loadbalancer/mirror/mirror.go
  pkg/server/service/loadbalancer/mirror/mirror_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8413 Upgrade github.com/lucas-clemente/quic-go to v0.23.0
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/http3

#8394 Fix CRDs code and manifests generation
  Makefile
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutes.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutetcps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressrouteudps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewaretcps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_serverstransports.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsoptions.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsstores.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_traefikservices.yaml
  go.mod
  go.sum
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/tls/zz_generated.deepcopy.go
  pkg/types/zz_generated.deepcopy.go
  script/code-gen.sh
  script/codegen.Dockerfile
  tools.go
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, area/provider/k8s/crd, area/provider/k8s

#8416 Prepare release v2.5.2
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, status/3-needs-merge, area/infrastructure, size/S, bot/light-review

#8419 Merge current v2.5 into master
  CHANGELOG.md
  Makefile
  SECURITY.md
  docs/content/contributing/documentation.md
  docs/content/getting-started/quick-start.md
  docs/content/https/acme.md
  docs/content/providers/consul-catalog.md
  docs/content/providers/docker.md
  docs/content/providers/ecs.md
  docs/content/providers/file.md
  docs/content/providers/kubernetes-ingress.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutes.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressroutetcps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_ingressrouteudps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewaretcps.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_serverstransports.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsoptions.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsstores.yaml
  docs/content/reference/dynamic-configuration/traefik.containo.us_traefikservices.yaml
  docs/content/routing/providers/kubernetes-ingress.md
  go.mod
  go.sum
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/zz_generated.deepcopy.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/server/service/loadbalancer/mirror/mirror.go
  pkg/server/service/loadbalancer/mirror/mirror_test.go
  pkg/tls/zz_generated.deepcopy.go
  pkg/types/zz_generated.deepcopy.go
  script/code-gen.sh
  script/codegen.Dockerfile
  script/gcg/traefik-bugfix.toml
  tools.go
Labels: area/infrastructure, size/M

#8421 docs: fix error in example (YAML) for TCP middleware whitelist
  docs/content/middlewares/tcp/ipwhitelist.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/L, area/middleware, area/provider/file, bot/light-review

#8434 Fix golang doc URLs
  docs/content/providers/consul-catalog.md
  docs/content/providers/docker.md
  docs/content/providers/ecs.md
  docs/content/providers/file.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
  pkg/tls/cipher.go
  pkg/tls/version.go
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, bot/light-review

#8435 Merge current v2.5 into master
  docs/content/middlewares/tcp/ipwhitelist.md
  docs/content/providers/consul-catalog.md
  docs/content/providers/docker.md
  docs/content/providers/ecs.md
  docs/content/providers/file.md
  docs/content/providers/marathon.md
  docs/content/providers/rancher.md
  pkg/tls/cipher.go
  pkg/tls/version.go
Labels: size/S

#8131 Add HTTP3Config
  docs/content/migration/v2.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/content/routing/entrypoints.md
  pkg/config/static/entrypoints.go
  pkg/config/static/static_config.go
  pkg/server/server_entrypoint_tcp_http3.go
  pkg/server/server_entrypoint_tcp_http3_test.go
Labels: kind/enhancement, status/3-needs-merge, size/M, area/server

#8442 Add Tom Moulard in maintainers team
  docs/content/contributing/maintainers.md
Labels: kind/enhancement, area/documentation, status/3-needs-merge, size/S

#8189 Support Kubernetes basic-auth secrets
  docs/content/middlewares/http/basicauth.md
  pkg/provider/kubernetes/crd/fixtures/basic_auth_secrets.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: kind/enhancement, status/3-needs-merge, size/M, area/provider/k8s/crd

#8439 Fix certChan defaulting on consul catalog provider
  pkg/provider/consulcatalog/consul_catalog.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/provider/consulcatalog

#8363 Replace go-bindata with Go embed
  .github/workflows/build.yaml
  .github/workflows/test-unit.yaml
  .github/workflows/validate.yaml
  .gitignore
  .semaphore/semaphore.yml
  Makefile
  build.Dockerfile
  cmd/traefik/traefik.go
  docs/content/contributing/building-testing.md
  exp.Dockerfile
  generate.go
  go.mod
  go.sum
  pkg/anonymize/anonymize.go
  pkg/anonymize/anonymize_config_test.go
  pkg/api/dashboard.go
  pkg/api/dashboard/dashboard.go
  pkg/api/dashboard/dashboard_test.go
  pkg/api/handler.go
  pkg/config/static/static_config.go
  pkg/server/service/managerfactory.go
  script/binary
  script/crossbinary-default
  script/test-unit
  webui/dev/scripts/transfer.js
  webui/embed.go
  webui/readme.md
Labels: kind/enhancement, status/3-needs-merge, area/webui, area/infrastructure, size/M

#8447 fix: experimental image build
  exp.Dockerfile
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S

#8451 chore: upgrade linter
  .github/workflows/validate.yaml
  .golangci.toml
  .semaphore/semaphore.yml
  build.Dockerfile
  cmd/internal/gen/centrifuge.go
  cmd/internal/gen/main.go
  integration/log_rotation_test.go
  pkg/anonymize/anonymize_config_test.go
  pkg/provider/acme/local_store_unix.go
  pkg/server/server_signals.go
Labels: kind/enhancement, status/3-needs-merge, area/acme, area/infrastructure, size/S, bot/light-review

#8452 Update yaegi to v0.10.0
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, bot/light-review, area/plugins

#8418 docs: add default proxy headers
  docs/content/getting-started/faq.md
  docs/content/middlewares/http/headers.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8448 Ensure disableHTTP2 works with k8s crd
  docs/content/routing/providers/kubernetes-crd.md
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/provider/k8s/crd, area/provider/k8s

#8431 Fix ServersTransport reference from IngressRoute service definition
  docs/content/routing/providers/kubernetes-crd.md
  integration/testdata/rawdata-crd.json
  pkg/provider/kubernetes/crd/fixtures/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/M, area/provider/k8s/crd, area/provider/k8s

#8454 fix: add peerCertURI config to k8s crd provider
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/services/index.md
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/provider/k8s/crd, area/provider/k8s

#8308 Add configurable tags to influxdb metrics
  docs/content/observability/metrics/influxdb.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  pkg/metrics/influxdb.go
  pkg/metrics/influxdb_test.go
  pkg/types/metrics.go
Labels: kind/enhancement, status/3-needs-merge, size/M, area/middleware/metrics

#8422 Add cross namespace verification in Kubernetes CRD
  pkg/provider/kubernetes/crd/fixtures/tcp/with_tls_options_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_tls_options_cross_namespace.yml
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/L, area/provider/k8s/crd, area/provider/k8s

#8456 Prepare release v2.5.3
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, status/3-needs-merge, size/S, bot/light-review

#8239 Implement customizable minimum body size for compress middleware
  docs/content/middlewares/http/compress.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/middlewares/compress/compress.go
  pkg/middlewares/compress/compress_test.go
  pkg/provider/kv/kv_test.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/middleware

#8461 Merge back v2.5 into master
  .github/workflows/validate.yaml
  .golangci.toml
  .semaphore/semaphore.yml
  CHANGELOG.md
  build.Dockerfile
  cmd/internal/gen/centrifuge.go
  cmd/internal/gen/main.go
  docs/content/contributing/maintainers.md
  docs/content/getting-started/faq.md
  docs/content/middlewares/http/headers.md
  docs/content/routing/providers/kubernetes-crd.md
  docs/content/routing/services/index.md
  go.mod
  go.sum
  integration/log_rotation_test.go
  integration/simple_test.go
  integration/testdata/rawdata-crd.json
  pkg/anonymize/anonymize_config_test.go
  pkg/api/dashboard/dashboard_test.go
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus_test.go
  pkg/provider/acme/local_store_unix.go
  pkg/provider/consulcatalog/consul_catalog.go
  pkg/provider/kubernetes/crd/fixtures/tcp/with_tls_options_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport_cross_namespace.yml
  pkg/provider/kubernetes/crd/fixtures/with_tls_options_cross_namespace.yml
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/kubernetes_http.go
  pkg/provider/kubernetes/crd/kubernetes_tcp.go
  pkg/provider/kubernetes/crd/kubernetes_test.go
  pkg/server/router/router.go
  pkg/server/server_signals.go
  script/gcg/traefik-bugfix.toml
Labels: size/L

#8464 fix: add missing RequireAnyClientCert value to TLSOption CRD
  docs/content/reference/dynamic-configuration/traefik.containo.us_tlsoptions.yaml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/provider/kubernetes/crd/traefik/v1alpha1/tlsoption.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/provider/k8s/crd, area/provider/k8s

#8460 fix: forward request Host to errors middleware service
  docs/content/middlewares/http/errorpages.md
  docs/content/migration/v2.md
  pkg/middlewares/customerrors/custom_errors.go
  pkg/middlewares/customerrors/custom_errors_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8474 Move from deprecated ioutil to os and io packages
  cmd/internal/gen/main.go
  docs/content/user-guides/grpc.md
  integration/healthcheck_test.go
  pkg/middlewares/tcp/ipwhitelist/ip_whitelist_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8473 docs: reword tracing config descriptions to be consistent
  docs/content/observability/tracing/datadog.md
  docs/content/observability/tracing/elastic.md
  docs/content/observability/tracing/haystack.md
  docs/content/observability/tracing/instana.md
  docs/content/observability/tracing/jaeger.md
  docs/content/observability/tracing/zipkin.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  pkg/tracing/datadog/datadog.go
  pkg/tracing/elastic/elastic.go
  pkg/tracing/haystack/haystack.go
  pkg/tracing/instana/instana.go
  pkg/tracing/jaeger/jaeger.go
  pkg/tracing/tracing.go
  pkg/tracing/zipkin/zipkin.go
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/middleware/tracing

#8334 Upgrade Instana tracer and make process profiling configurable
  docs/content/observability/tracing/instana.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  go.mod
  go.sum
  pkg/tracing/instana/instana.go
Labels: status/3-needs-merge, size/S, area/middleware/tracing

#8477 Fix typo in KV providers documentation
  docs/content/providers/consul.md
  docs/content/providers/etcd.md
  docs/content/providers/redis.md
  docs/content/providers/zookeeper.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/provider/kv
