Repository traefik/traefik, pull requests merged in 2022-02, with the labels that each got.

#8752 Fix mixups in metrics documentation
  docs/content/observability/metrics/datadog.md
  docs/content/observability/metrics/influxdb.md
  docs/content/observability/metrics/overview.md
  docs/content/observability/metrics/prometheus.md
  docs/content/observability/metrics/statsd.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/middleware/metrics

#6633 Refactor configuration reload/throttling
  cmd/traefik/traefik.go
  go.mod
  go.sum
  integration/acme_test.go
  integration/conf_throttling_test.go
  integration/fixtures/throttling/simple.toml
  integration/integration_test.go
  pkg/provider/acme/challenge_tls.go
  pkg/provider/acme/provider.go
  pkg/provider/aggregator/aggregator.go
  pkg/provider/aggregator/ring_channel.go
  pkg/provider/traefik/internal.go
  pkg/server/aggregator.go
  pkg/server/configurationwatcher.go
  pkg/server/configurationwatcher_test.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/provider

#8761 Fix metrics bucket key high cardinality
  docs/content/migration/v2.md
  docs/content/observability/metrics/overview.md
  pkg/middlewares/metrics/metrics.go
  pkg/middlewares/metrics/metrics_test.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware/metrics

#8250 Support InfluxDB v2 metrics backend
  cmd/traefik/traefik.go
  docs/content/observability/metrics/influxdb2.md
  docs/content/observability/metrics/overview.md
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/mkdocs.yml
  go.mod
  go.sum
  pkg/metrics/influxdb.go
  pkg/metrics/influxdb2.go
  pkg/metrics/influxdb2_test.go
  pkg/metrics/influxdb_test.go
  pkg/server/server.go
  pkg/types/metrics.go
Labels: kind/enhancement, status/3-needs-merge, size/L, area/middleware/metrics

#8774 Update test certificates
  integration/fixtures/https/rootcas/https.toml
  integration/fixtures/https/rootcas/local.crt
  pkg/server/server_entrypoint_tcp_http3_test.go
  pkg/tls/tlsmanager_test.go
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/M, bot/light-review

#8729 Add s390x arch support
  .goreleaser.yml
Labels: kind/enhancement, status/3-needs-merge, area/infrastructure, size/S

#8760 Upgrade quic-go to v0.25.0
  go.mod
  go.sum
Labels: kind/enhancement, status/3-needs-merge, size/S, area/http3

#8765 chore: update linter
  .github/workflows/validate.yaml
  .golangci.toml
  .semaphore/semaphore.yml
  build.Dockerfile
  integration/consul_catalog_test.go
  pkg/config/runtime/runtime_http_test.go
  pkg/config/runtime/runtime_tcp_test.go
  pkg/config/runtime/runtime_udp_test.go
  pkg/middlewares/stripprefix/strip_prefix_test.go
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/gateway/client.go
  pkg/server/router/udp/router_test.go
Labels: kind/enhancement, area/infrastructure, size/S, bot/light-review, bot/no-merge

#8778 Configure advertised port using h3 server option
  pkg/config/static/entrypoints.go
  pkg/server/server_entrypoint_tcp.go
  pkg/server/server_entrypoint_tcp_http3.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/http3

#8779 docs: fix product name
  .github/workflows/documentation.yml
Labels: area/documentation, status/2-needs-review, kind/bug/fix, area/infrastructure, size/S, bot/light-review

#8784 Fix empty WebUI static assets directory
  .github/workflows/build.yaml
  .github/workflows/test-unit.yaml
  .github/workflows/validate.yaml
  .gitignore
  .semaphore/semaphore.yml
  Makefile
  docs/content/contributing/building-testing.md
  webui/.gitignore
  webui/dev/scripts/transfer.js
  webui/readme.md
  webui/static/DONT-EDIT-FILES-IN-THIS-DIRECTORY.md
Labels: status/3-needs-merge, area/webui, kind/bug/fix, area/infrastructure, size/S

#8788 Fix brand typo
  docs/content/user-guides/marathon.md
Labels: area/documentation, status/3-needs-merge, area/provider/marathon, kind/bug/fix, size/S, bot/light-review

#8792 Fix struct tag typo
  .golangci.toml
  go.mod
  go.sum
  pkg/types/metrics.go
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, area/middleware/metrics, bot/light-review

#8791 Spelling
  CHANGELOG.md
  docs/content/user-guides/crd-acme/k3s.yml
  integration/websocket_test.go
  pkg/config/runtime/runtime_test.go
  pkg/healthcheck/healthcheck.go
  pkg/metrics/prometheus.go
  pkg/middlewares/recovery/recovery_test.go
  pkg/middlewares/retry/retry_test.go
  pkg/middlewares/tracing/wrapper.go
  pkg/provider/ecs/ecs.go
  pkg/provider/kubernetes/crd/fixtures/tcp/with_different_services_ns.yml
  pkg/provider/kubernetes/crd/fixtures/udp/with_different_services_ns.yml
  pkg/provider/kubernetes/gateway/fixtures/httproute/gatewayclass_with_unknown_controller.yml
  pkg/provider/kubernetes/gateway/fixtures/tcproute/gatewayclass_with_unknown_controller.yml
  pkg/provider/kubernetes/gateway/fixtures/tlsroute/gatewayclass_with_unknown_controller.yml
  pkg/server/service/loadbalancer/wrr/wrr.go
  pkg/tcp/chain_test.go
  webui/src/components/_commons/ChartDoughnut.vue
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S

#8793 Merge current v2.6 into master
  .github/workflows/build.yaml
  .github/workflows/documentation.yml
  .github/workflows/test-unit.yaml
  .github/workflows/validate.yaml
  .gitignore
  .golangci.toml
  .goreleaser.yml
  .semaphore/semaphore.yml
  CHANGELOG.md
  Makefile
  build.Dockerfile
  docs/content/contributing/building-testing.md
  docs/content/user-guides/crd-acme/k3s.yml
  docs/content/user-guides/marathon.md
  go.mod
  go.sum
  integration/consul_catalog_test.go
  integration/websocket_test.go
  pkg/config/runtime/runtime_http_test.go
  pkg/config/runtime/runtime_tcp_test.go
  pkg/config/runtime/runtime_test.go
  pkg/config/runtime/runtime_udp_test.go
  pkg/healthcheck/healthcheck.go
  pkg/metrics/prometheus.go
  pkg/middlewares/recovery/recovery_test.go
  pkg/middlewares/retry/retry_test.go
  pkg/middlewares/stripprefix/strip_prefix_test.go
  pkg/middlewares/tracing/wrapper.go
  pkg/provider/ecs/ecs.go
  pkg/provider/kubernetes/crd/client.go
  pkg/provider/kubernetes/crd/fixtures/tcp/with_different_services_ns.yml
  pkg/provider/kubernetes/crd/fixtures/udp/with_different_services_ns.yml
  pkg/provider/kubernetes/gateway/client.go
  pkg/provider/kubernetes/gateway/fixtures/httproute/gatewayclass_with_unknown_controller.yml
  pkg/provider/kubernetes/gateway/fixtures/tcproute/gatewayclass_with_unknown_controller.yml
  pkg/provider/kubernetes/gateway/fixtures/tlsroute/gatewayclass_with_unknown_controller.yml
  pkg/server/router/udp/router_test.go
  pkg/server/service/loadbalancer/wrr/wrr.go
  pkg/tcp/chain_test.go
  pkg/types/metrics.go
  webui/.gitignore
  webui/dev/scripts/transfer.js
  webui/readme.md
  webui/src/components/_commons/ChartDoughnut.vue
  webui/static/DONT-EDIT-FILES-IN-THIS-DIRECTORY.md
Labels: size/M, bot/merge-retry-1
