Repository traefik/traefik, pull requests merged in 2022-04, with the labels that each got.

#8781 Allow HTTP/2 max concurrent stream configuration
  docs/content/reference/static-configuration/cli-ref.md
  docs/content/reference/static-configuration/env-ref.md
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  docs/content/routing/entrypoints.md
  pkg/config/static/entrypoints.go
  pkg/server/server_entrypoint_tcp.go
  pkg/server/server_entrypoint_tcp_http3_test.go
  pkg/server/server_entrypoint_tcp_test.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/server

#8907 Allow config of additonal CircuitBreaker params
  docs/content/middlewares/http/circuitbreaker.md
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/reference/dynamic-configuration/traefik.containo.us_middlewares.yaml
  integration/fixtures/k8s/01-traefik-crd.yml
  pkg/config/dynamic/middlewares.go
  pkg/config/label/label_test.go
  pkg/middlewares/circuitbreaker/circuit_breaker.go
  pkg/provider/kubernetes/crd/kubernetes.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/middleware.go
  pkg/provider/kubernetes/crd/traefik/v1alpha1/zz_generated.deepcopy.go
  pkg/provider/kv/kv_test.go
Labels: kind/enhancement, status/3-needs-merge, size/S, area/middleware

#8919 Add .PHONY to Makefile targets
  Makefile
Labels: kind/enhancement, status/3-needs-merge, area/infrastructure, size/S

#8918 Update dynamic and static configuration references
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/reference/static-configuration/file.toml
  docs/content/reference/static-configuration/file.yaml
  pkg/config/dynamic/tcp_middlewares.go
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/L

#8943 Add safe.directory to the build image
  Makefile
  build.Dockerfile
  docs/content/contributing/maintainers-guidelines.md
  docs/content/contributing/submitting-issues.md
  docs/scripts/verify.sh
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, bot/light-review

#8944 Move accessLog.fields example to TOML section
  docs/content/observability/access-logs.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, bot/light-review

#8933 docs: add default mode for fields.names to access log
  docs/content/observability/access-logs.md
Labels: kind/enhancement, area/documentation, status/3-needs-merge, area/logs, size/S

#8940 docs: fix certificateRefs in dynamic configuration
  docs/content/reference/dynamic-configuration/kubernetes-gateway-resource.yml
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, area/provider/k8s/gatewayapi

#8936 codegen: fix for users with large uids
  script/codegen.Dockerfile
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S

#8930 Improve documentation Makefile
  docs/Makefile
  docs/check.Dockerfile
  docs/scripts/lint.sh
  docs/scripts/verify.sh
  webui/static/DONT-EDIT-FILES-IN-THIS-DIRECTORY.md
Labels: area/documentation, status/3-needs-merge, area/provider/docker, area/infrastructure, size/S, bot/light-review

#8920 Fix regexp handling in redirect middleware
  pkg/middlewares/redirect/redirect.go
  pkg/middlewares/redirect/redirect_regex.go
  pkg/middlewares/redirect/redirect_scheme.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8945 Fix default for buffering middleware
  docs/content/middlewares/http/buffering.md
  docs/scripts/verify.sh
  go.mod
  go.sum
  pkg/middlewares/buffering/buffering_test.go
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/M, area/middleware

#8953 Fix Traefik community links in GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: status/3-needs-merge, kind/bug/fix, area/infrastructure, size/S, bot/light-review

#8954 Update Yaegi to v0.11.3
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, bot/light-review, area/plugins

#8957 Re-add missing writeheader call in flush
  pkg/middlewares/customerrors/custom_errors.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#8969 Fix RenewInterval computation in ACME provider
  pkg/provider/acme/provider.go
  pkg/provider/acme/provider_test.go
Labels: status/3-needs-merge, area/acme, kind/bug/fix, size/S

#8960 Deprecate caOptional option in client TLS configuration
  docs/content/middlewares/http/forwardauth.md
  docs/content/migration/v2.md
  docs/content/providers/consul-catalog.md
  docs/content/providers/consul.md
  docs/content/providers/docker.md
  docs/content/providers/etcd.md
  docs/content/providers/http.md
  docs/content/providers/marathon.md
  docs/content/providers/redis.md
  docs/content/providers/zookeeper.md
  pkg/types/tls.go
Labels: kind/enhancement, status/3-needs-merge, size/L, area/middleware, area/tls
