Repository traefik/traefik, pull requests merged in 2022-08, with the labels that each got.

#9222 Fix wording of default behavior for namespaces option
  docs/content/providers/kubernetes-crd.md
  docs/content/providers/kubernetes-gateway.md
  docs/content/providers/kubernetes-ingress.md
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, bot/light-review, area/provider/k8s

#9224 Bump paerser to v0.1.6
  go.mod
  go.sum
  pkg/plugins/middlewares.go
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
  pkg/plugins/providers.go
Labels: status/3-needs-merge, kind/bug/fix, size/M, bot/light-review, area/plugins

#9216 Support Nomad canary deployment
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/nomad.md
  pkg/provider/consulcatalog/config.go
  pkg/provider/consulcatalog/config_test.go
  pkg/provider/consulcatalog/consul_catalog.go
  pkg/provider/consulcatalog/label.go
  pkg/provider/nomad/config.go
  pkg/provider/nomad/config_test.go
  pkg/provider/nomad/nomad.go
  pkg/provider/nomad/nomad_test.go
Labels: kind/enhancement, status/3-needs-merge, size/L, area/provider/consulcatalog, area/provider/nomad

#9221 Place namespace before name in router key for Ingress
  integration/testdata/rawdata-ingress-label-selector.json
  integration/testdata/rawdata-ingress.json
  integration/testdata/rawdata-ingressclass.json
  pkg/provider/kubernetes/ingress/kubernetes.go
  pkg/provider/kubernetes/ingress/kubernetes_test.go
Labels: status/3-needs-merge, area/provider/k8s/ingress, kind/bug/fix, size/S, area/provider/k8s

#9165 Add a method option to the service Health Check
  docs/content/reference/dynamic-configuration/docker-labels.yml
  docs/content/reference/dynamic-configuration/file.toml
  docs/content/reference/dynamic-configuration/file.yaml
  docs/content/reference/dynamic-configuration/kv-ref.md
  docs/content/reference/dynamic-configuration/marathon-labels.json
  docs/content/routing/providers/consul-catalog.md
  docs/content/routing/providers/docker.md
  docs/content/routing/providers/ecs.md
  docs/content/routing/providers/kv.md
  docs/content/routing/providers/marathon.md
  docs/content/routing/providers/rancher.md
  docs/content/routing/services/index.md
  pkg/config/dynamic/http_config.go
  pkg/config/label/label_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/server/service/service.go
Labels: kind/enhancement, status/3-needs-merge, size/M, area/healthcheck

#9163 Add getting started guide for Kubernetes
  docs/content/getting-started/quick-start-with-kubernetes.md
  docs/mkdocs.yml
Labels: kind/enhancement, area/documentation, status/3-needs-merge, size/L, area/provider/k8s

#9241 Control allocation and copy of labelNamesValues type
  pkg/metrics/prometheus.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware/metrics

#9243 Update valkeyrie to a9a70ee
  go.mod
  go.sum
  integration/consul_test.go
  integration/etcd_test.go
  integration/redis_test.go
  integration/try/condition.go
  integration/zk_test.go
  pkg/provider/kv/kv.go
  pkg/provider/kv/kv_mock_test.go
  pkg/provider/kv/kv_test.go
  pkg/provider/kv/storewrapper.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/provider/kv

#9244 Remove request dump from IPWhitelist debug log and tracing message
  pkg/middlewares/ipwhitelist/ip_whitelist.go
Labels: status/3-needs-merge, kind/bug/fix, area/logs, size/S, area/middleware, area/middleware/tracing

#9245 Prepare release v2.8.2
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, status/3-needs-merge, area/infrastructure, size/S, bot/light-review

#9250 fix: update paerser to v0.1.7
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, bot/light-review

#9246 Add missing context in backoff for Marathon
  pkg/provider/marathon/marathon.go
Labels: status/3-needs-merge, area/provider/marathon, kind/bug/fix, size/S, bot/light-review

#9253 Add migration guide for v2.8.3
  docs/content/migration/v2.md
Labels: kind/enhancement, area/documentation, status/3-needs-merge, size/S, bot/light-review

#9258 Update paeser to v0.1.8
  docs/content/migration/v2.md
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/provider/file, bot/light-review

#9259 Prepare release v2.8.3
  CHANGELOG.md
  script/gcg/traefik-bugfix.toml
Labels: area/documentation, status/2-needs-review, size/S, bot/light-review

#9264 Update codegen docker image to golang:1.19
  pkg/provider/kubernetes/crd/generated/clientset/versioned/fake/register.go
  pkg/provider/kubernetes/crd/generated/clientset/versioned/scheme/register.go
  script/codegen.Dockerfile
Labels: kind/enhancement, status/3-needs-merge, area/infrastructure, size/S, bot/light-review

#9270 chore: update paerser to v0.1.9
  go.mod
  go.sum
Labels: status/3-needs-merge, kind/bug/fix, size/S, bot/light-review

#9274 Fix k8s for example for rootCAs serversTransport
  docs/content/routing/services/index.md
Labels: area/documentation, status/3-needs-merge, size/S, bot/light-review

#9277 doc: fix infobloc documentation
  docs/content/https/acme.md
Labels: area/documentation, status/3-needs-merge, area/acme, kind/bug/fix, size/S, bot/light-review

#9283 fix a typo
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
Labels: area/documentation, status/3-needs-merge, kind/bug/fix, size/S, bot/light-review

#9284 fix: don't retry on panic
  pkg/middlewares/retry/retry.go
Labels: status/3-needs-merge, kind/bug/fix, size/S, area/middleware

#9286 chore: update linter
  .github/workflows/validate.yaml
  .golangci.toml
  .semaphore/semaphore.yml
  build.Dockerfile
  cmd/healthcheck/healthcheck.go
  cmd/internal/gen/centrifuge.go
  integration/consul_catalog_test.go
  integration/docker_test.go
  integration/integration_test.go
  internal/gendoc.go
  pkg/api/debug.go
  pkg/config/dynamic/http_config.go
  pkg/metrics/metrics.go
  pkg/middlewares/metrics/metrics.go
  pkg/middlewares/ratelimiter/rate_limiter.go
  pkg/provider/acme/provider_test.go
  pkg/provider/consulcatalog/config.go
  pkg/provider/kv/kv_mock_test.go
  pkg/server/middleware/middlewares.go
  pkg/server/router/tcp/router.go
  pkg/server/router/udp/router.go
  pkg/server/service/service.go
  pkg/tls/certificate_store_test.go
Labels: kind/enhancement, status/3-needs-merge, area/infrastructure, size/M, bot/light-review

#9288 Fix Docker provider mem leak on operation retries
  pkg/provider/docker/docker.go
Labels: status/3-needs-merge, area/provider/docker, kind/bug/fix, size/S, area/provider/docker/swarm

#9291 Merge current v2.8 into master
  .github/workflows/validate.yaml
  .golangci.toml
  .semaphore/semaphore.yml
  build.Dockerfile
  cmd/healthcheck/healthcheck.go
  cmd/internal/gen/centrifuge.go
  docs/content/https/acme.md
  docs/content/routing/services/index.md
  go.mod
  go.sum
  integration/consul_catalog_test.go
  integration/docker_test.go
  integration/integration_test.go
  internal/gendoc.go
  pkg/api/debug.go
  pkg/config/dynamic/http_config.go
  pkg/metrics/metrics.go
  pkg/middlewares/metrics/metrics.go
  pkg/middlewares/ratelimiter/rate_limiter.go
  pkg/middlewares/retry/retry.go
  pkg/provider/acme/provider_test.go
  pkg/provider/consulcatalog/config.go
  pkg/provider/docker/docker.go
  pkg/provider/kubernetes/crd/fixtures/with_servers_transport.yml
  pkg/provider/kv/kv_mock_test.go
  pkg/server/middleware/middlewares.go
  pkg/server/router/tcp/router.go
  pkg/server/router/udp/router.go
  pkg/server/service/service.go
  pkg/tls/certificate_store_test.go
Labels: size/M
